<template>
  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path d="M23.1056,2.7952 L19.8528,2.7952 L19.8528,3.6168 C19.8528,4.9728 18.7512,6.0776 17.3928,6.0776 C16.0328,6.0776 14.9336,4.9728 14.9336,3.6168 L14.9336,2.7952 L8.3696,2.7952 L8.3696,3.6168 C8.3696,4.9728 7.2664,6.0776 5.9088,6.0776 C4.5512,6.0776 3.4488,4.9736 3.4488,3.6168 L3.4488,2.7952 L0.1664,2.7544 L0.1664,23.2968 L1.808,23.2968 L21.4912,23.2968 L23.1304,23.292 L23.1056,2.7952 Z M21.4896,21.6608 L1.808,21.6608 L1.808,8.5376 L21.4912,8.5376 L21.4912,21.6608 L21.4896,21.6608 Z M17.3648,4.9168 C18.2576,4.9168 18.9808,4.1984 18.9808,3.304 L18.9808,1.616 C18.9808,0.7208 18.2584,-3.99680289e-15 17.3648,-3.99680289e-15 C16.4712,-3.99680289e-15 15.7496,0.72 15.7496,1.616 L15.7496,3.3048 C15.7504,4.1984 16.472,4.9168 17.3648,4.9168 Z M5.8832,4.9168 C6.776,4.9168 7.5,4.1984 7.5,3.304 L7.5,1.616 C7.5,0.72 6.776,-3.99680289e-15 5.8832,-3.99680289e-15 C4.9904,-3.99680289e-15 4.2688,0.72 4.2688,1.616 L4.2688,3.3048 C4.2688,4.1984 4.9896,4.9168 5.8832,4.9168 Z M8.3744,10.2984 L10.9592,10.2984 L10.9592,12.58 L8.3744,12.58 L8.3744,10.2984 Z M12.5536,10.2984 L15.1408,10.2984 L15.1408,12.58 L12.5536,12.58 L12.5536,10.2984 Z M16.4296,10.2984 L19.0144,10.2984 L19.0144,12.58 L16.4296,12.58 L16.4296,10.2984 Z M8.3744,14.0872 L10.9592,14.0872 L10.9592,16.3672 L8.3744,16.3672 L8.3744,14.0872 Z M12.5536,14.0872 L15.1408,14.0872 L15.1408,16.3672 L12.5536,16.3672 L12.5536,14.0872 Z M16.4296,14.0872 L19.0144,14.0872 L19.0144,16.3672 L16.4296,16.3672 L16.4296,14.0872 Z M8.3744,17.9512 L10.9592,17.9512 L10.9592,20.2312 L8.3744,20.2312 L8.3744,17.9512 Z M4.2688,14.0872 L6.852,14.0872 L6.852,16.3672 L4.2688,16.3672 L4.2688,14.0872 Z M4.2688,17.9512 L6.852,17.9512 L6.852,20.2312 L4.2688,20.2312 L4.2688,17.9512 Z M12.5536,17.9512 L15.1408,17.9512 L15.1408,20.2312 L12.5536,20.2312 L12.5536,17.9512 Z M16.4296,17.9512 L19.0144,17.9512 L19.0144,20.2312 L16.4296,20.2312 L16.4296,17.9512 Z"></path>
  </svg>
</template>

<script>
export default {
  name: 'IconCalendar',
  props: ['fillColor']
}
</script>

<style lang="css">
</style>
