<template>
    <svg width="21px" height="24px" viewBox="0 0 21 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Bookings" transform="translate(-102.000000, -212.000000)" fill="#FFFFFF">
                    <g id="logout" transform="translate(102.000000, 212.000000)">
                        <path d="M7.30434783,3.23427672 L7.30434783,5.17285812 C4.09534704,6.44525521 1.82608696,9.57718578 1.82608696,13.2391304 C1.82608696,18.0296003 5.7095301,21.9130435 10.5,21.9130435 C15.2904699,21.9130435 19.173913,18.0296003 19.173913,13.2391304 C19.173913,9.57718578 16.904653,6.44525521 13.6956522,5.17285812 L13.6956522,3.23427672 C17.9320209,4.58627013 21,8.55441783 21,13.2391304 C21,19.0381203 16.2989899,23.7391304 10.5,23.7391304 C4.70101013,23.7391304 0,19.0381203 0,13.2391304 C0,8.55441783 3.06797907,4.58627013 7.30434783,3.23427672 Z M10.5,0 C11.25639,-1.38946586e-16 11.8695652,0.613175234 11.8695652,1.36956522 L11.8695652,12.326087 C11.8695652,13.0824769 11.25639,13.6956522 10.5,13.6956522 C9.74361002,13.6956522 9.13043478,13.0824769 9.13043478,12.326087 L9.13043478,1.36956522 C9.13043478,0.613175234 9.74361002,1.38946586e-16 10.5,0 Z" id="power-on/off"></path>
                    </g>
            </g>
    </svg>
</template>
<script>
    export default {
      name: 'IconPower'
    }
</script>