<template>
    <svg id="Capa_1" enable-background="new 0 0 511.857 511.857" height="512" viewBox="0 0 511.857 511.857" width="512" xmlns="http://www.w3.org/2000/svg">
        <g>
            <g>
                <path d="m249.033 487.759-204.667-204.668c-59.154-59.153-59.154-155.405 0-214.561 25.73-25.73 59.863-41.365 96.111-44.024 35.863-2.629 71.533 7.531 100.442 28.615l9.306 6.787-47.98 124.072 76.485 70.087-62.919 68.588zm-97.415-433.661c-2.977 0-5.959.108-8.946.327-29.071 2.134-56.45 14.677-77.093 35.318-47.458 47.459-47.458 124.678 0 172.135l134.456 134.457-16.644-82.717 52.941-57.711-69.454-63.646 46.857-121.168c-18.725-11.107-40.214-16.995-62.117-16.995z"/>
            </g>
            <g>
                <path d="m276.817 473.766-28.587-142.073 72.897-79.464-83.515-76.53 51.938-134.309 5.387-2.567c57.869-27.572 127.212-15.633 172.554 29.707 59.154 59.155 59.155 155.407.001 214.561zm3.833-133.034 14.536 72.238 151.093-151.093c47.457-47.457 47.456-124.677-.001-172.135-35-34.999-87.827-45.191-133.124-26.215l-40.174 103.89 90.546 82.972z"/>
            </g>
        </g>
    </svg>
</template>
<script>
    export default {
        name: 'IconBrokenHeart'
    }
</script>