<template>
    <svg width="30px" height="23px" viewBox="0 0 30 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path d="M321.5,13 L348.5,13 C349.328427,13 350,13.6715729 350,14.5 C350,15.3284271 349.328427,16 348.5,16 L321.5,16 C320.671573,16 320,15.3284271 320,14.5 C320,13.6715729 320.671573,13 321.5,13 Z M321.5,23 L348.5,23 C349.328427,23 350,23.6715729 350,24.5 C350,25.3284271 349.328427,26 348.5,26 L321.5,26 C320.671573,26 320,25.3284271 320,24.5 C320,23.6715729 320.671573,23 321.5,23 Z M321.5,33 L348.5,33 C349.328427,33 350,33.6715729 350,34.5 C350,35.3284271 349.328427,36 348.5,36 L321.5,36 C320.671573,36 320,35.3284271 320,34.5 C320,33.6715729 320.671573,33 321.5,33 Z" id="Hamburguer" transform="translate(-320.000000, -13.000000)" fill="#07203F"></path>
    </svg>
</template>
<script>
    export default {
      name: 'IconHamburger'
    }
</script>