<template>
  <svg width="17px" height="24px" viewBox="0 0 17 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path d="M16.1799374,5.97336979 C16.0943127,5.65319346 15.9204347,5.3120366 15.7918019,5.01334301 C14.2525706,1.32266637 10.8893821,0 8.17377578,0 C4.53844496,0 0.534553191,2.43206785 0,7.44513186 L0,8.46932783 C0,8.51207008 0.0147648088,8.896025 0.0357375486,9.08808615 C0.335396055,11.4771886 2.22490009,14.0162794 3.63605788,16.4053818 C5.15426053,18.9650627 6.72962089,21.4830614 8.29038422,24 C9.2527813,22.3574921 10.2117109,20.6933899 11.1521845,19.093401 C11.4084993,18.62385 11.7060326,18.154578 11.9626271,17.7063981 C12.1336528,17.4079835 12.4603801,17.1095689 12.6096501,16.8319116 C14.1277968,14.0587427 16.5714286,11.2641469 16.5714286,8.51201428 L16.5714286,7.38140907 C16.5714845,7.08305027 16.2007983,6.03770637 16.1799374,5.97336979 Z M8.24032928,11.114828 C7.17172624,11.114828 6.00206256,10.5817215 5.42472498,9.10945728 C5.33870878,8.87510026 5.34564377,8.40543764 5.34564377,8.36241639 L5.34564377,7.7010832 C5.34564377,5.82421829 6.94292763,4.97071235 8.33249748,4.97071235 C10.0432019,4.97071235 11.3662742,6.33623257 11.3662742,8.04302125 C11.3662742,9.74975413 9.95103372,11.114828 8.24032928,11.114828 Z"></path>
  </svg>
</template>

<script>
export default {
  name: 'IconLocation'
}
</script>

<style lang="css">
</style>
