<template>
  <svg width="24px" height="18px" viewBox="0 0 24 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path d="M12,12 L14.9691429,9.40114286 L23.4531429,16.6782857 C23.1462857,16.9645714 22.7314286,17.1428571 22.2737143,17.1428571 L1.72628571,17.1428571 C1.26685714,17.1428571 0.850285714,16.9645714 0.541714286,16.6782857 L9.03085714,9.40114286 L12,12 Z M23.4582857,0.464571429 L12,10.2857143 L0.545142857,0.468 C0.853714286,0.178285714 1.26857143,-1.77635684e-14 1.72628571,-1.77635684e-14 L22.2737143,-1.77635684e-14 C22.7348571,-1.77635684e-14 23.1497143,0.176571429 23.4582857,0.464571429 Z M-2.07611706e-14,1.50514286 L8.28514286,8.70685714 L-2.07611706e-14,15.7474286 L-2.07611706e-14,1.50514286 Z M15.7148571,8.70685714 L24,1.5 L24,15.7474286 L15.7148571,8.70685714 Z" id="Combined-Shape"></path>
  </svg>
</template>

<script>
export default {
  name: 'IconEnvelope'
}
</script>
