<template>
  <svg width="19px" height="20px" viewBox="0 0 19 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="search" fill="#CCCCCC" fill-rule="nonzero">
        <path d="M18.53733,18.2168311 L13.897008,13.2661588 C15.0901163,11.8112558 15.7438274,9.98069024 15.7438274,8.0749921 C15.7438274,3.62251167 12.2124185,0 7.8719137,0 C3.53140894,0 0,3.62251167 0,8.0749921 C0,12.5274725 3.53140894,16.1499842 7.8719137,16.1499842 C9.50139983,16.1499842 11.0542204,15.6458238 12.3818357,14.6887617 L17.0574102,19.6770003 C17.252839,19.8851947 17.5156925,20 17.7973701,20 C18.0639884,20 18.3169164,19.8957273 18.5089226,19.7061405 C18.9168931,19.3034442 18.9298989,18.6356774 18.53733,18.2168311 Z M7.8719137,2.10651968 C11.0802319,2.10651968 13.6902847,4.78390619 13.6902847,8.0749921 C13.6902847,11.366078 11.0802319,14.0434645 7.8719137,14.0434645 C4.66359548,14.0434645 2.0535427,11.366078 2.0535427,8.0749921 C2.0535427,4.78390619 4.66359548,2.10651968 7.8719137,2.10651968 Z" id="i-search"></path>
    </g>
  </svg>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
