<template>
  <svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="icon-explore">
        <path d="M20,0 C8.97202614,0 0,8.97189542 0,19.9998039 C0,31.0279085 8.97202614,40 20,40 C31.0279739,40 40,31.0279085 40,19.9998039 C40,8.97189542 31.0281046,0 20,0 Z M20,37.69 C10.2457516,37.69 2.31,29.754183 2.31,19.9998039 C2.31,10.2456863 10.2457516,2.31 20,2.31 C29.7542484,2.31 37.69,10.2456863 37.69,19.9998693 C37.69,29.7542484 29.7542484,37.69 20,37.69 Z" id="Shape"></path>
        <path d="M30.9743114,9.49517886 C30.6731656,8.93504325 29.9753125,8.7253588 29.4152973,9.026369 L16.4589932,15.9929213 C16.2601184,16.0998806 16.097071,16.2628599 15.990175,16.4617963 L9.0263008,29.4150056 C8.7799384,29.8732628 8.87589076,30.4239532 9.22582699,30.7738832 C9.30340965,30.8515948 9.39349933,30.9192749 9.49531436,30.9738619 C9.84140728,31.1599658 10.2402642,31.1503902 10.565447,30.9839585 L10.5656424,30.9842191 L10.5705279,30.9816135 C10.5752181,30.9792033 10.5798431,30.9765977 10.5844681,30.9741224 L23.547156,24.012651 C23.7460959,23.905822 23.9090781,23.7428427 24.0161696,23.5438411 L30.9521636,10.6226806 C30.9673414,10.5965596 30.9818026,10.570178 30.9948308,10.54308 L31.004211,10.5256877 L31.0030385,10.5252968 C31.1504521,10.2076109 31.1528623,9.82732579 30.9743114,9.49517886 Z M12.8608124,27.1447595 L17.2860204,18.9136517 L21.091414,22.7191084 L12.8608124,27.1447595 Z M22.7203242,21.0919858 L18.9147351,17.2864639 L27.1453368,12.860878 L22.7203242,21.0919858 Z" id="Shape"></path>
    </g>
  </svg>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
