<template>
    <svg width="40px" height="30px" viewBox="0 0 40 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-1">
                <stop stop-color="#D70707" stop-opacity="0.5" offset="0%"></stop>
                <stop stop-color="#FFFFFF" stop-opacity="0.5" offset="49.6355685%"></stop>
                <stop stop-color="#B82323" stop-opacity="0.5" offset="100%"></stop>
            </linearGradient>
            <path d="M0.0370027752,5.59259259 L25.2342602,5.59259259 L32.5436687,20.037037 L29.6786744,34.4814815 L4.48141699,34.4814815 L7.34641127,20.037037 L0.0370027752,5.59259259 Z M26.1157969,5.59259259 L28.8805185,5.59259259 L36.2901997,20.037037 L33.4209721,34.4814815 L30.6562505,34.4814815 L33.4520168,20.037037 L26.1157969,5.59259259 Z M29.7888665,5.59259259 L32.5535881,5.59259259 L39.9632693,20.037037 L37.0940416,34.4814815 L34.3293201,34.4814815 L37.1250864,20.037037 L29.7888665,5.59259259 Z M22.5370171,15.4745621 L22.8284508,12.8611705 L14.923311,12.8611705 L13.2839963,28.0313358 L21.2073507,28.0313358 L21.4987845,25.4179442 L16.5535184,25.4179442 L16.9542398,21.6592417 L20.6973417,21.6592417 L20.9887754,19.1395574 L17.2274589,19.1395574 L17.6281803,15.4745621 L22.5370171,15.4745621 Z M22.7331744,26.3966646 C22.7331744,26.6465519 22.7741569,26.8808177 22.856123,27.0994691 C22.9380892,27.3181205 23.0504115,27.5072684 23.1930933,27.6669186 C23.3357751,27.8265689 23.5042585,27.9515106 23.6985487,28.0417477 C23.8928388,28.1319848 24.1053404,28.1771026 24.3360599,28.1771026 C24.5607079,28.1771026 24.7701738,28.1319848 24.9644639,28.0417477 C25.158754,27.9515106 25.3287553,27.8265689 25.4744729,27.6669186 C25.6201905,27.5072684 25.7340307,27.3181205 25.8159968,27.0994691 C25.897963,26.8808177 25.9389454,26.6465519 25.9389454,26.3966646 C25.9389454,26.1467773 25.897963,25.9142468 25.8159968,25.699066 C25.7340307,25.4838853 25.6201905,25.2964727 25.4744729,25.1368224 C25.3287553,24.9771722 25.158754,24.8504952 24.9644639,24.7567874 C24.7701738,24.6630797 24.5607079,24.6162265 24.3360599,24.6162265 C24.1053404,24.6162265 23.8928388,24.6630797 23.6985487,24.7567874 C23.5042585,24.8504952 23.3357751,24.9771722 23.1930933,25.1368224 C23.0504115,25.2964727 22.9380892,25.4838853 22.856123,25.699066 C22.7741569,25.9142468 22.7331744,26.1467773 22.7331744,26.3966646 Z" id="path-2"></path>
        </defs>
            <g id="Bookings" transform="translate(-10.000000, -10.000000)">
                    <g id="Logo" transform="translate(10.000000, 5.000000)">
                            <use fill="#D00202" xlink:href="#path-2"></use>
                            <use fill="url(#linearGradient-1)" xlink:href="#path-2"></use>
                        </g>
                    </g>
    </svg>
</template>
<script>
    export default {
      name: 'IconLogoSimplified'
    }
</script>