<template>
  <svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path d="M38.9195588,33.033997 C38.3825666,32.2001224 37.6474576,31.503555 36.7758945,31.0026033 C35.8366425,30.4718703 34.7676083,30.1961066 33.6809255,30.2042572 C31.9879473,30.2581769 30.3456551,30.7785648 28.9459241,31.7048135 C27.6385257,32.5000247 26.2042507,33.0791391 24.7016411,33.4185407 C22.3397363,34.5138631 19.7601291,35.0957989 17.1428571,35.1239082 C20.3970944,36.6579031 25.3214958,35.9598727 29.3290288,35.4164958 L30.5299973,35.2493029 C33.8100619,34.8313206 32.9190207,39.1323579 32.9147162,39.1448974 C32.8396018,39.5375917 33.1065913,39.9149252 33.5108959,39.9878631 C33.6646758,40.0155544 33.8235136,39.9955958 33.9650256,39.930704 L39.5092817,37.3517536 C39.8036051,37.2467355 39.9994619,36.9749426 40,36.6704425 C39.9989239,35.3837887 39.6244283,34.1235722 38.9195588,33.033997 Z" id="Shape"></path>
        <path d="M17.1514933,2.20458746e-06 C7.68373637,-0.00474770484 0.00475211405,7.66657193 2.20461846e-06,17.1342209 C-0.00474770481,26.6019779 7.66646398,34.2809622 17.1342209,34.2857121 C26.6019779,34.290462 34.2809622,26.6192503 34.2857121,17.1514933 C34.290462,7.68384433 26.6192503,0.0048600665 17.1514933,2.20458746e-06 Z M8.3943876,21.2234612 C6.14077148,21.2234612 4.31378359,19.3964733 4.31378359,17.1428571 C4.31378359,17.1399424 4.31378359,17.1371357 4.31378359,17.1342209 C4.3185335,14.8839514 6.144118,13.0622531 8.3943876,13.0622531 C10.6480037,13.0622531 12.4749916,14.889241 12.4749916,17.1428571 C12.4749916,19.3965812 10.6480037,21.2234612 8.3943876,21.2234612 Z M17.1342209,29.9719307 C14.8806048,29.9719307 13.0536169,28.1449428 13.0536169,25.8913267 C13.0536169,23.6377106 14.8806048,21.8107227 17.1342209,21.8107227 C19.3878371,21.8107227 21.214825,23.6377106 21.214825,25.8913267 C21.214825,28.1449428 19.3878371,29.9719307 17.1342209,29.9719307 Z M15.7567472,17.1342209 C15.7567472,16.3711048 16.3754229,15.7524291 17.138539,15.7524291 C17.9016552,15.7524291 18.5203309,16.3711048 18.5203309,17.1342209 C18.5203309,17.8973371 17.9016552,18.5160128 17.138539,18.5160128 C16.3754229,18.5160128 15.7567472,17.897445 15.7567472,17.1342209 Z M17.1342209,12.4749916 C14.8806048,12.4749916 13.0536169,10.6480037 13.0536169,8.3943876 C13.0536169,6.14077148 14.8806048,4.31378359 17.1342209,4.31378359 C19.3878371,4.31378359 21.214825,6.14077148 21.214825,8.3943876 C21.214825,10.6481117 19.3878371,12.4749916 17.1342209,12.4749916 Z M25.8956448,21.2234612 C23.6420287,21.2258361 21.8130976,19.4007914 21.8107227,17.1471752 C21.8107227,17.1428571 21.8107227,17.138539 21.8107227,17.1342209 C21.8154726,14.8855706 23.6383583,13.0646281 25.8870086,13.0622531 C28.1406247,13.0598782 29.9695557,14.8849229 29.9719307,17.138539 C29.9743057,19.3922631 28.1492609,21.2210862 25.8956448,21.2234612 Z" id="Shape"></path>
  </svg>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
