<template>
    <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Bookings" transform="translate(-328.000000, -13.000000)" :fill="fill || '#FFFFFF'">
            <path d="M336.887503,24 L335.479171,22.5916683 C334.895821,22.0083183 334.895821,21.0625209 335.479171,20.4791709 C336.062521,19.8958208 337.008318,19.8958208 337.591668,20.4791709 L339,21.8875025 L347.44999,13.4375126 C348.03334,12.8541625 348.979137,12.8541625 349.562487,13.4375126 C350.145838,14.0208626 350.145838,14.96666 349.562487,15.55001 L341.112497,24 L349.562487,32.44999 C350.145838,33.03334 350.145838,33.9791374 349.562487,34.5624874 C348.979137,35.1458375 348.03334,35.1458375 347.44999,34.5624874 L339,26.1124975 L330.55001,34.5624874 C329.96666,35.1458375 329.020863,35.1458375 328.437513,34.5624874 C327.854162,33.9791374 327.854162,33.03334 328.437513,32.44999 L336.887503,24 Z M334.070839,16.9583417 C334.654189,17.5416918 334.654189,18.4874891 334.070839,19.0708392 C333.487489,19.6541893 332.541692,19.6541893 331.958342,19.0708392 C331.374992,18.4874891 331.374992,17.5416918 331.958342,16.9583417 C332.541692,16.3749916 333.487489,16.3749916 334.070839,16.9583417 Z M330.55001,13.4375126 L331.254176,14.1416784 C331.837526,14.7250285 331.837526,15.6708258 331.254176,16.2541759 C330.670826,16.8375259 329.725028,16.8375259 329.141678,16.2541759 L328.437513,15.55001 C327.854162,14.96666 327.854162,14.0208626 328.437513,13.4375126 C329.020863,12.8541625 329.96666,12.8541625 330.55001,13.4375126 Z" id="close-btn"></path>
        </g>
    </svg>
</template>
<script>
    export default {
        name: 'IconMenuClose',
        props: ['fill']
    }
</script>