<template>
  <svg width="22px" height="20px" viewBox="0 0 22 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path d="M15.0509956,5.6 L16.8,5.6 L14.2072136,0.435402906 C13.9983161,0.0169088507 13.5354648,-0.125759577 13.1750142,0.121532365 C12.8145637,0.364068692 12.6916828,0.901453104 12.9046763,1.31994716 L15.0509956,5.6 Z" id="Shape"></path>
    <path d="M8.69709732,1.31721211 C8.90608993,0.898915401 8.787251,0.361784401 8.42663631,0.119362445 C8.06602163,-0.123059511 7.60295959,0.0147882675 7.39396699,0.433084976 L4.8,5.6 L6.5498008,5.6 L8.69709732,1.31721211 Z" id="Shape"></path>
    <path d="M20.207596,6.4 L1.38796962,6.4 C0.620817081,6.4 0,7.04411367 0,7.84005413 L0,9.43653586 C0,10.2324763 0.620817081,10.87659 1.38796962,10.87659 L1.82254157,10.87659 L3.1617327,18.4081191 C3.3302402,19.2960758 4.11069596,20 4.92219257,20 L5.45432149,20 L8.94863478,20 C9.30338739,20 9.7645658,20 10.234613,20 L10.6603162,20 L11.0860193,20 C11.5560665,20 12.0172449,20 12.3719975,20 L15.8663108,20 L16.3984397,20 C17.2099364,20 17.9903921,19.2960758 18.1588996,18.4081191 L19.5069596,10.8719892 L20.2120304,10.8719892 C20.9791829,10.8719892 21.6,10.2278755 21.6,9.43193505 L21.6,7.83545332 C21.5955656,7.04411367 20.9747485,6.4 20.207596,6.4 Z M7.66265654,13.9269283 L7.66265654,17.1751015 C7.66265654,17.6397835 7.29903511,17.9894452 6.87776637,17.9894452 C6.42989119,17.9894452 6.09287621,17.6121786 6.09287621,17.1751015 L6.09287621,15.8132612 L6.09287621,12.6202977 C6.09287621,12.1556157 6.45649764,11.805954 6.87776637,11.805954 C7.32564155,11.805954 7.66265654,12.1832206 7.66265654,12.6202977 L7.66265654,13.9269283 Z M10.1814001,13.9269283 L10.1814001,17.1751015 C10.1814001,17.6397835 9.81777869,17.9894452 9.39650996,17.9894452 C8.94863478,17.9894452 8.61161979,17.6121786 8.61161979,17.1751015 L8.61161979,15.8132612 L8.61161979,12.6202977 C8.61161979,12.1556157 8.97524122,11.805954 9.39650996,11.805954 C9.81777869,11.805954 10.1814001,12.1832206 10.1814001,12.6202977 L10.1814001,13.9269283 Z M12.7134469,15.8132612 L12.7134469,17.1751015 C12.7134469,17.6121786 12.3764319,17.9894452 11.9285568,17.9894452 C11.507288,17.9894452 11.1436666,17.6397835 11.1436666,17.1751015 L11.1436666,13.9269283 L11.1436666,12.6202977 C11.1436666,12.1832206 11.507288,11.805954 11.9285568,11.805954 C12.3498255,11.805954 12.7134469,12.1556157 12.7134469,12.6202977 L12.7134469,15.8132612 Z M15.2321905,15.8132612 L15.2321905,17.1751015 C15.2321905,17.6121786 14.8951755,17.9894452 14.4473003,17.9894452 C14.0260316,17.9894452 13.6624102,17.6397835 13.6624102,17.1751015 L13.6624102,13.9269283 L13.6624102,12.6202977 C13.6624102,12.1832206 13.9994252,11.805954 14.4473003,11.805954 C14.8685691,11.805954 15.2321905,12.1556157 15.2321905,12.6202977 L15.2321905,15.8132612 Z" id="Shape"></path>
  </svg>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
