<template>
    <svg width="24px" height="28px" viewBox="0 0 24 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Bookings" transform="translate(-102.000000, -71.000000)" :fill="fill || '#FFFFFF'" fill-rule="nonzero">
            <g id="wallet" transform="translate(102.000000, 71.000000)">
                <path d="M23.0666574,4.7412872 L14.6625052,0.190422145 C13.8652734,-0.241411765 12.7690796,0.0907681661 12.3372457,0.888 L7.4209827,10.0229481 L1.44174394,10.0229481 C0.677730104,10.0229481 0.0798062284,10.620872 0.0798062284,11.3848858 L0.0798062284,13.7765813 L0.0798062284,26.1668927 C0.0798062284,26.9309066 0.677730104,27.5288304 1.44174394,27.5288304 L20.54209,27.5288304 C21.3061038,27.5288304 21.9040277,26.9309066 21.9040277,26.1668927 L21.9040277,22.7122215 L22.4687336,22.7122215 C22.7676955,22.7122215 23.0002215,22.4796955 23.0002215,22.1807336 L23.0002215,18.2277924 C23.0002215,17.9288304 22.7676955,17.6963045 22.4687336,17.6963045 L21.9040277,17.6963045 L21.9040277,13.8097993 C21.9040277,13.1786574 21.4389758,12.6139516 20.8410519,12.4810796 L23.7642353,7.06654671 C24.1960692,6.23609689 23.8971073,5.2063391 23.0666574,4.7412872 Z M17.0874187,2.71498962 L11.8389758,12.4478616 L10.3441661,12.4478616 L15.9580069,2.11706574 L17.0874187,2.71498962 Z M13.3005675,1.3862699 C13.4666574,1.08730796 13.8652734,0.954435986 14.1642353,1.12052595 L14.9946851,1.58557785 L9.14831834,12.4478616 L7.32132872,12.4478616 L13.3005675,1.3862699 Z M1.10956401,11.3516678 C1.10956401,11.2520138 1.24243599,11.0859239 1.40852595,11.0859239 L6.82305882,11.0859239 L6.09226298,12.4146436 L1.40852595,12.4146436 C1.30887197,12.4146436 1.20921799,12.4146436 1.10956401,12.4478616 L1.10956401,11.3516678 Z M20.8078339,26.1668927 C20.8078339,26.3329827 20.6749619,26.4658547 20.508872,26.4658547 L1.40852595,26.4658547 C1.24243599,26.4658547 1.10956401,26.3329827 1.10956401,26.1668927 L1.10956401,13.8097993 C1.10956401,13.6437093 1.24243599,13.5108374 1.40852595,13.5108374 L6.42444291,13.5108374 L8.55039446,13.5108374 L12.4368997,13.5108374 L19.9109481,13.5108374 L20.475654,13.5108374 C20.6417439,13.5108374 20.7746159,13.6437093 20.7746159,13.8097993 L20.7746159,17.6963045 L18.7483183,17.6963045 C17.8514325,17.6963045 17.1538547,18.4271003 17.1538547,19.2907682 L17.1538547,21.1177578 C17.1538547,22.0146436 17.8846505,22.7122215 18.7483183,22.7122215 L20.8078339,22.7122215 L20.8078339,26.1668927 Z M21.8708097,18.7592803 L21.9040277,18.7592803 L21.9040277,21.6492457 L21.8708097,21.6492457 L18.7483183,21.6492457 C18.4493564,21.6492457 18.2168304,21.4167197 18.2168304,21.1177578 L18.2168304,19.2907682 C18.2168304,18.9918062 18.4493564,18.7592803 18.7483183,18.7592803 L21.8708097,18.7592803 Z M22.8009135,6.53505882 L19.6119862,12.4478616 L13.0348235,12.4478616 L18.0175225,3.24647751 L22.5351696,5.704609 C22.8673495,5.83748097 22.9670035,6.23609689 22.8009135,6.53505882 Z M20.7746159,6.03678893 L20.508872,5.90391696 C19.8445121,5.53851903 18.9476263,5.80426298 18.5822284,6.46862284 L18.2500484,7.09976471 C18.0839585,7.43194464 18.0175225,7.83056055 18.1503945,8.19595848 C18.2500484,8.5613564 18.5157924,8.86031834 18.8479723,9.0264083 L19.1137163,9.15928028 C19.3130242,9.25893426 19.5455502,9.32537024 19.7780761,9.32537024 C20.309564,9.32537024 20.7746159,9.0264083 21.0403599,8.59457439 L21.3725398,7.96343253 C21.7047197,7.26585467 21.4389758,6.40218685 20.7746159,6.03678893 Z M20.409218,7.46516263 L20.0770381,8.0963045 C19.9773841,8.26239446 19.7448581,8.32883045 19.5787682,8.22917647 L19.3130242,8.06308651 C19.2465882,8.02986851 19.1801522,7.93021453 19.1469343,7.86377855 C19.1137163,7.76412457 19.1137163,7.66447059 19.1801522,7.5980346 L19.5123322,6.96689273 C19.5787682,6.86723875 19.7116401,6.76758478 19.8445121,6.76758478 C19.9109481,6.76758478 19.9441661,6.76758478 20.0106021,6.80080277 L20.276346,6.93367474 C20.409218,7.06654671 20.475654,7.26585467 20.409218,7.46516263 Z" id="Shape"></path>
            </g>
        </g>
    </svg>
</template>
<script>
    export default {
      name: 'IconWallet',
        props: ['fill']
    }
</script>