<template>
  <svg width="46px" height="40px" viewBox="0 0 46 40" version="1.1">
    <g>
        <path d="M31.6092731,0 C17.9726621,0 18.0645243,2.63116624 18.0645243,2.63116624 L18.0645243,9.94353228 C20.5972893,9.72247562 22.3373634,9.34543183 23.4615924,9.01004099 C25.1350447,8.51057558 25.804404,8.00778004 25.9224816,7.91099507 C26.1737486,7.61075552 26.527169,7.45799279 26.9018759,7.45799279 C27.0579225,7.45799279 27.216894,7.48405232 27.3743489,7.53722855 C27.9177768,7.72080812 28.2488274,8.25775061 28.2488274,8.81842684 L28.2488274,19.3899778 C29.3063804,18.8777733 30.4438254,18.6173367 31.6701535,18.6135308 C31.9957878,18.6287014 32.3461208,18.6495807 32.8337056,18.7116373 C33.269672,18.7937274 33.6623613,18.8705845 34.0682667,19.009551 C34.8663197,19.2813524 35.6430321,19.6670122 36.3376319,20.2171695 C37.5867631,21.1811076 38.6716689,22.673055 38.8901125,24.4335266 C38.9260775,24.7233 38.6966386,24.8916033 38.4074026,24.8172835 C37.0196655,24.4608018 35.9581586,24.3904993 34.9163673,24.3131664 L33.2385276,24.2410138 L31.5481219,24.2159057 C30.5822687,24.2258432 29.4235372,24.2314992 28.2997416,24.3031232 C28.2828424,24.3040747 28.2652391,24.3059248 28.2487732,24.3069291 C28.2438985,27.2250144 27.5730768,29.9699862 26.3988544,32.3606965 C28.0037893,33.1248802 29.7637958,33.5483871 31.6117105,33.5483871 C39.0949068,33.5483871 45.1612799,26.6259096 45.1612799,18.090226 L45.1612799,2.63111338 C45.1612258,2.63111338 45.2449092,0 31.6092731,0 Z M39.8307336,14.6763335 C38.2997981,15.8553151 36.094756,15.7433294 34.6917974,14.3404274 C33.2889406,12.9375254 33.1769545,10.7325431 34.3558899,9.2015629 C34.5274594,8.9787119 34.8530289,8.98054523 35.0518438,9.17946113 L39.8526827,13.9803315 C40.0517522,14.1791965 40.0535346,14.5047647 39.8307336,14.6763335 Z" id="Shape"></path>
        <path d="M27.0967742,9.03225806 C27.0967742,9.03225806 24.6289551,11.6687232 13.5493621,11.6687232 C2.47063571,11.6687232 0,9.03225806 0,9.03225806 L0,24.5187504 C0,33.0705015 6.06698606,40 13.5478996,40 C21.0307631,40 27.0967742,33.0706074 27.0967742,24.5187504 L27.0967742,9.03225806 Z M4.29128943,22.9694709 C3.99213522,22.9694709 3.74590037,22.731381 3.78446597,22.4414471 C4.04917114,20.4488734 5.79177285,18.9098145 7.90199355,18.9098145 C10.0122142,18.9098145 11.7547618,20.4488734 12.0195211,22.4414471 C12.0580326,22.7314869 11.8118519,22.9694709 11.5126977,22.9694709 L4.29128943,22.9694709 Z M20.8245563,28.2072385 C20.6035624,29.9657469 19.5166842,31.4559804 18.2704521,32.4257098 C16.8462874,33.5025162 15.2563773,34.0276275 13.4837139,34.0323935 C13.1570979,34.0176188 12.8100076,34.0019968 12.3195961,33.9349545 C11.8831332,33.8522373 11.4903816,33.7809586 11.084522,33.6359652 C10.2868858,33.363242 9.51064481,32.9769284 8.81754735,32.4313232 C7.56958193,31.466095 6.48243288,29.9671237 6.26328062,28.203002 C6.22720662,27.9126975 6.45648777,27.7440857 6.74578392,27.8186477 C8.13409128,28.17663 9.19800347,28.249868 10.2402496,28.3226825 L11.9176364,28.3949674 L13.6056938,28.4211276 C14.5710254,28.4163616 15.7302683,28.4111189 16.8569038,28.3336444 C17.8991499,28.2599826 18.9612204,28.1862679 20.3431905,27.8250024 C20.63227,27.7494872 20.8610636,27.9170399 20.8245563,28.2072385 Z M22.8054306,22.9694709 L15.5840765,22.9694709 C15.2849765,22.9694709 15.0387416,22.731381 15.0773072,22.4414471 C15.3420666,20.4488734 17.0846141,18.9098145 19.1948348,18.9098145 C21.3050555,18.9098145 23.0476031,20.4488734 23.3124166,22.4414471 C23.3508738,22.731381 23.104639,22.9694709 22.8054306,22.9694709 Z" id="Shape"></path>
    </g>
  </svg>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
