<!--
  - @copyright 2020.
  - @author Amandio Khuta Nhamande <amandio16@gmail.com>
  - @license MIT
  -
  -->

<template>

    <svg width="24px" height="12px" viewBox="0 0 24 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Bookings" transform="translate(-10.000000, -79.000000)" fill="#333333">
                <g id="Group" transform="translate(10.000000, 13.000000)">
                    <path d="M1,66 L23,66 C23.5522847,66 24,66.4477153 24,67 C24,67.5522847 23.5522847,68 23,68 L1,68 C0.44771525,68 6.76353751e-17,67.5522847 0,67 C-6.76353751e-17,66.4477153 0.44771525,66 1,66 Z M5,71 L19,71 C19.5522847,71 20,71.4477153 20,72 C20,72.5522847 19.5522847,73 19,73 L5,73 C4.44771525,73 4,72.5522847 4,72 C4,71.4477153 4.44771525,71 5,71 Z M9,76 L15,76 C15.5522847,76 16,76.4477153 16,77 C16,77.5522847 15.5522847,78 15,78 L9,78 C8.44771525,78 8,77.5522847 8,77 C8,76.4477153 8.44771525,76 9,76 Z" id="sort"></path>
                </g>
            </g>
        </g>
    </svg>
</template>
<script>
    export default {
      name: 'IconFilter'
    }
</script>