<template>
  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path d="M21.6,0 L2.4,0 C1.08,0 0,1.08 0,2.4 L0,21.6 C0,22.92 1.08,24 2.4,24 L21.6,24 C22.92,24 24,22.92 24,21.6 L24,2.4 C24,1.08 22.92,0 21.6,0 Z M18.84,8.76 C18.72,14.28 15.24,18.12 9.96,18.36 C7.8,18.48 6.24,17.76 4.8,16.92 C6.36,17.1600471 8.4,16.5600471 9.48,15.6 C7.92,15.48 6.96,14.64 6.48,13.32 C6.96,13.44 7.44,13.32 7.8,13.32 C6.36,12.84 5.4,12 5.28,10.08 C5.64,10.32 6.12,10.44 6.6,10.44 C5.52,9.84 4.8,7.56 5.64,6.12 C7.2,7.8 9.12,9.24 12.24,9.48 C11.4,6.12 15.9600471,4.32 17.7600471,6.6 C18.6000471,6.48 19.2000471,6.12 19.8000471,5.88 C19.5600471,6.72 19.0800471,7.2 18.4800471,7.68 C19.0800471,7.56 19.6800471,7.44 20.1600471,7.2 C20.04,7.8 19.44,8.28 18.84,8.76 Z" id="Shape"></path>
  </svg>
</template>

<script>
export default {
}
</script>
