<template>
  <svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path d="M7.125,4.875 L12,4.875 L12,7.125 L7.125,7.125 L7.125,12 L4.875,12 L4.875,7.125 L0,7.125 L0,4.875 L4.875,4.875 L4.875,0 L7.125,0 L7.125,4.875 Z" id="Combined-Shape"></path>
  </svg>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
