<template>
  <svg width="38px" height="40px" viewBox="0 0 38 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path d="M36.8952381,0.180565348 C36.7379272,0.0431089882 36.5303641,-0.0194372919 36.3206162,0.0052903072 L13.7435854,2.92241972 C13.3808964,2.96969307 13.1092437,3.27733349 13.1092437,3.6431565 L13.1092437,8.01921426 L13.1092437,11.0825274 L13.1092437,29.543862 C11.7793838,27.9474773 9.66661064,26.9089181 7.28291317,26.9089181 C3.26711485,26.9089181 0,29.8449569 0,33.4544591 C0,37.0639612 3.26711485,40 7.28291317,40 C11.2987115,40 14.5658263,37.0639612 14.5658263,33.4544591 C14.5658263,33.2857296 14.5519888,33.1199092 14.537423,32.9548161 C14.5468908,32.9075428 14.5658263,32.8646331 14.5658263,32.8151779 L14.5658263,11.7218086 L35.6862745,8.99231801 L35.6862745,22.2703114 C34.3564146,20.674654 32.2436415,19.6360949 29.859944,19.6360949 C25.8441457,19.6360949 22.5770308,22.5721336 22.5770308,26.1816358 C22.5770308,29.791138 25.8441457,32.7271767 29.859944,32.7271767 C33.8393277,32.7271767 37.0794958,29.842775 37.1377591,26.2783643 C37.1377591,26.2689097 37.1428571,26.2609096 37.1428571,26.2514549 L37.1428571,8.16467073 L37.1428571,5.10208485 L37.1428571,0.726754375 C37.1428571,0.517297065 37.052549,0.318021708 36.8952381,0.180565348 Z" id="Shape"></path>
  </svg>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
