<template>
  <svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path d="M20,0 C8.97198653,0 0,8.97198653 0,20 C0,31.0280135 8.97198653,40 20,40 C31.0280135,40 40,31.0280135 40,20 C40,8.97198653 31.0280135,0 20,0 Z M21.0325926,5.82558923 L25.0875421,2.9016835 C28.9749495,4.06558923 32.3206734,6.5213468 34.6014815,9.76915825 L33.0468687,14.5913805 L27.5278114,16.3783165 L21.0325926,11.682963 L21.0325926,5.82558923 Z M14.869899,2.9010101 L18.8777104,5.82531987 L18.8777104,11.6830976 L12.4898316,16.3344108 L6.86949495,14.5045118 L5.34141414,9.81104377 C7.62343434,6.54195286 10.9648485,4.06962963 14.869899,2.9010101 Z M5.68983165,30.6499663 C3.47043771,27.6751515 2.15488215,23.9884175 2.15488215,20 C2.15488215,19.8364983 2.15744108,19.6735354 2.16188552,19.5111111 L6.22464646,16.5571717 L11.9692929,18.423569 L14.349899,25.7385859 L10.7702357,30.6657239 L5.68983165,30.6499663 Z M25.7449158,36.8961616 C23.9414141,37.5111111 22.0090236,37.8451178 20,37.8451178 C17.9299663,37.8451178 15.9415488,37.4895623 14.0913131,36.8383838 L12.5004714,31.949899 L16.0945455,27.0032323 L23.7051852,27.0032323 L27.3392593,32.0051178 L25.7449158,36.8961616 Z M29.0984512,30.760404 L25.5881481,25.9288889 L28.0059259,18.4967003 L33.7186532,16.6405387 L37.8405387,19.6413468 C37.842963,19.7606734 37.8451178,19.8798653 37.8451178,19.9998653 C37.8451178,24.0418855 36.493468,27.7737374 34.2195286,30.7688889 L29.0984512,30.760404 Z" id="icon-sport"></path>
  </svg>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
