<template>
  <svg width="8px" height="4px" viewBox="0 0 8 4" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g fill="#FFFFFF">
        <polygon transform="translate(4.000000, 2.000000) scale(1, -1) translate(-4.000000, -2.000000) " points="4 0 8 4 0 4"></polygon>
    </g>
  </svg>
</template>

<script>
export default {
}
</script>

<style lang="scss">
</style>
