<template>
  <svg width="27px" height="24px" viewBox="0 0 27 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <path d="M26.55,15.849023 C26.7985125,15.849023 27,15.6462674 27,15.3961909 L27,11.7735344 C27,11.5234579 26.7985125,11.3207024 26.55,11.3207024 L20.8863,11.3207024 L23.71815,8.47103025 C23.8938187,8.29419933 23.8938187,8.00755663 23.71815,7.83072572 L21.25935,5.35645135 C21.083625,5.17967704 20.798775,5.17967704 20.62305,5.35645135 C19.9199812,6.06394484 18.7800187,6.06394484 18.07695,5.35645135 C17.3738812,4.64895787 17.3738812,3.50182106 18.07695,2.79432757 C18.2526187,2.61749665 18.2526187,2.33085396 18.07695,2.15402304 L16.06815,0.132580736 C15.892425,-0.0441935786 15.607575,-0.0441935786 15.43185,0.132580736 L4.3137,11.3207024 L0.45,11.3207024 C0.2014875,11.3207024 0,11.5234579 0,11.7735344 L0,15.3961909 C0,15.6462674 0.2014875,15.849023 0.45,15.849023 C1.44410625,15.849023 2.25,16.6599886 2.25,17.6603512 C2.25,18.6607138 1.44410625,19.4716794 0.45,19.4716794 C0.2014875,19.4716794 0,19.674435 0,19.9245115 L0,23.5471679 C0,23.7972444 0.2014875,24 0.45,24 L26.55,24 C26.7985125,24 27,23.7972444 27,23.5471679 L27,19.9245115 C27,19.674435 26.7985125,19.4716794 26.55,19.4716794 C25.5558937,19.4716794 24.75,18.6607138 24.75,17.6603512 C24.75,16.6599886 25.5558937,15.849023 26.55,15.849023 Z M15.75,1.09303753 L17.1486,2.50043957 C16.2817313,3.721388 16.5625875,5.41831953 17.7759,6.29064389 C18.7147688,6.96570328 19.9762313,6.96570328 20.9151,6.29064389 L22.7637,8.15087798 L19.6137,11.3207024 L18.1863,11.3207024 L19.21815,10.2823585 C19.3938188,10.1055276 19.3938188,9.81888487 19.21815,9.64205395 L14.26815,4.66090131 C14.092425,4.484127 13.807575,4.484127 13.63185,4.66090131 L7.0137,11.3207024 L5.5863,11.3207024 L15.75,1.09303753 Z M16.9137,11.3207024 L8.2863,11.3207024 L13.95,5.62135811 L18.2637,9.96220621 L16.9137,11.3207024 Z M23.884875,18.1106927 C24.075675,19.2528483 24.9649875,20.1477577 26.1,20.3397585 L26.1,23.0943359 L22.5,23.0943359 L22.5,21.2830077 L21.6,21.2830077 L21.6,23.0943359 L5.4,23.0943359 L5.4,22.6415038 L4.5,22.6415038 L4.5,23.0943359 L0.9,23.0943359 L0.9,20.3397585 C2.37054375,20.0910405 3.3622875,18.6898083 3.115125,17.2100097 C2.924325,16.0678541 2.03506875,15.1729447 0.9,14.9809439 L0.9,12.2263665 L4.5,12.2263665 L4.5,13.5848627 L5.4,13.5848627 L5.4,12.2263665 L26.1,12.2263665 L26.1,14.9809439 C24.6294562,15.2296619 23.6377125,16.6309507 23.884875,18.1106927 Z M22,13 L23,13 L23,15 L22,15 L22,13 Z M22,16 L23,16 L23,18 L22,18 L22,16 Z M22,19 L23,19 L23,21 L22,21 L22,19 Z M4,14 L5,14 L5,16 L4,16 L4,14 Z M4,17 L5,17 L5,19 L4,19 L4,17 Z M4,20 L5,20 L5,22 L4,22 L4,20 Z M20.5333333,14.35 C20.0178417,14.35 19.6,13.9470813 19.6,13.45 C19.6,13.2014875 19.39105,13 19.1333333,13 L8.86666667,13 C8.60895,13 8.4,13.2014875 8.4,13.45 C8.4,13.9470813 7.98215833,14.35 7.46666667,14.35 C7.20895,14.35 7,14.5514875 7,14.8 L7,20.2 C7,20.4485125 7.20895,20.65 7.46666667,20.65 C7.98215833,20.65 8.4,21.0529188 8.4,21.55 C8.4,21.7985125 8.60895,22 8.86666667,22 L19.1333333,22 C19.39105,22 19.6,21.7985125 19.6,21.55 C19.6,21.0529188 20.0178417,20.65 20.5333333,20.65 C20.79105,20.65 21,20.4485125 21,20.2 L21,14.8 C21,14.5514875 20.79105,14.35 20.5333333,14.35 Z M20.0666667,19.8067 C19.4096583,19.9717375 18.8966167,20.4664562 18.7254667,21.1 L9.27453333,21.1 C9.10338333,20.4664562 8.59034167,19.9717375 7.93333333,19.8067 L7.93333333,15.1933 C8.59034167,15.0282625 9.10338333,14.5335437 9.27453333,13.9 L18.7254667,13.9 C18.8966167,14.5335437 19.4096583,15.0282625 20.0666667,15.1933 L20.0666667,19.8067 Z" id="Shape"></path>
  </svg>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
