<template>
    <svg width="55px" height="61px" viewBox="0 0 55 61" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.300000012">
            <g id="Bookings" transform="translate(-153.000000, -150.000000)" fill-rule="nonzero">
                <g id="Nothing-Found" transform="translate(26.000000, 150.000000)">
                    <g id="ticket" transform="translate(127.000000, 0.000000)">
                        <path d="M54.939474,48.5163794 C55.0681285,49.0387043 54.990364,49.5905947 54.71876,50.0520492 C54.4477278,50.5129241 54.0068718,50.8474206 53.4933974,50.979596 L14.7472365,60.9391298 C14.5854177,60.9802897 14.4195964,61 14.2554904,61 C13.8981168,61 13.5447457,60.9031873 13.2325441,60.715359 C12.7779649,60.4399935 12.4480377,59.993032 12.3170959,59.4724463 L10.1133873,50.6572735 L1.99843327,50.6572735 C0.893719961,50.6572735 0,49.7511762 0,48.6311634 L0,2.02715421 C0,1.21728994 0.476307511,0.485107653 1.21049586,0.165104007 C1.94411244,-0.155479318 2.79723472,-0.00127466276 3.3747504,0.558731717 L8.37283488,5.37327928 L13.9570119,0.490904895 C14.7220774,-0.1699722 15.8485189,-0.161856239 16.5935715,0.514673244 L21.9787629,5.38487362 L27.3090618,0.521050165 C28.0541143,-0.161856239 29.1868457,-0.171711387 29.9513393,0.491484574 L35.5435216,5.37907652 L40.5999293,0.550615757 C41.1820194,-0.00127466276 42.0305674,-0.155479318 42.7624686,0.166843195 C43.4943697,0.48742652 43.9689618,1.21786962 43.9689618,2.02715421 L43.9689618,4.64515505 L54.939474,48.5163794 Z M3.99743829,6.74836741 L3.99743829,46.6044737 L39.9715235,46.6044737 L39.9715235,6.71648295 L36.9718725,9.58202288 C36.2262482,10.2921759 35.0723602,10.3200023 34.2958589,9.64115407 L28.6750867,4.72805458 L23.3213442,9.61158847 C22.5619967,10.3037703 21.4161138,10.3037703 20.6533357,9.61738572 L15.2412698,4.72167766 L9.61420774,9.64115407 C8.83770643,10.3194226 7.67810054,10.2962339 6.93247624,9.57390692 L3.99743829,6.74836741 Z M14.2389082,50.6572735 L15.7015669,56.5124127 L38.4797032,50.6572735 L14.2389082,50.6572735 Z M43.8397355,49.2792868 L50.573798,47.5482525 L43.9689618,21.1404155 L43.9689618,48.6305838 C43.9689618,48.8607313 43.9094949,49.0734874 43.8397355,49.2792868 Z M33.9995913,14 C35.1050803,14 36,14.8942927 36,15.9997139 C36,17.1051352 35.1050803,18 33.9995913,18 L9.99983655,18 C8.89434752,18 8,17.1051352 8,15.9997139 C8,14.8942927 8.89434752,14 9.99983655,14 L33.9995913,14 Z M17.9996185,23 C19.1050925,23 20,23.8942927 20,24.9997139 C20,26.1051352 19.1050925,27 17.9996185,27 L9.99980931,27 C8.89433534,27 8,26.1051352 8,24.9997139 C8,23.8942927 8.89433534,23 9.99980931,23 L17.9996185,23 Z M17.9996185,38 C19.1050925,38 20,38.8948649 20,40.0002861 C20,41.1057074 19.1050925,42 17.9996185,42 L9.99980931,42 C8.89433534,42 8,41.1057074 8,40.0002861 C8,38.8948649 8.89433534,38 9.99980931,38 L17.9996185,38 Z M9.99985696,34 C8.89435665,34 8,33.1051351 8,31.9997139 C8,30.8942926 8.89435665,30 9.99985696,30 L14.000143,30 C15.1056433,30 16,30.8942926 16,31.9997139 C16,33.1051351 15.1056433,34 14.000143,34 L9.99985696,34 Z" id="Combined-Shape" fill="#000000"></path>
                        <path d="M36,31.9997139 C36,36.418124 32.4179959,40 27.9999999,40 C23.581432,40 20,36.418124 20,31.9997139 C20,27.581876 23.581432,24 27.9999999,24 C32.4179959,24 36,27.581876 36,31.9997139 Z" id="Shape" fill="#11CCD1"></path>
                    </g>
                </g>
            </g>
        </g>
    </svg></template>
<script>
    export default {
      name: 'IconNoTicketFound'
    }
</script>