<template>
    <svg width="28px" height="23px" viewBox="0 0 28 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Bookings" transform="translate(-98.000000, -13.000000)" fill="#FFFFFF" stroke="#FFFFFF">
            <g id="username" transform="translate(98.000000, 13.000000)">
                <path d="M2.81860886,21.5673992 C5.54778425,18.2637519 9.61112534,16.3 14,16.3 C18.3888747,16.3 22.4522157,18.2637519 25.1813911,21.5673992 C26.6819676,19.3553223 27.5,16.7401887 27.5,14 C27.5,6.54415588 21.4558441,0.5 14,0.5 C6.54415588,0.5 0.5,6.54415588 0.5,14 C0.5,16.7401887 1.31803244,19.3553223 2.81860886,21.5673992 Z M14,13.5666667 C11.1465288,13.5666667 8.83333333,11.2534712 8.83333333,8.4 C8.83333333,5.54652879 11.1465288,3.23333333 14,3.23333333 C16.8534712,3.23333333 19.1666667,5.54652879 19.1666667,8.4 C19.1666667,11.2534712 16.8534712,13.5666667 14,13.5666667 Z" id="Combined-Shape"></path>
            </g>
        </g>
    </svg>
</template>
<script>
    export default {
      name: 'IconUser'
    }
</script>