<template>
  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path d="M12,0 C18.616797,0 24,5.38320296 24,12 C24,18.616797 18.616797,24 12,24 C5.38320296,24 0,18.616797 0,12 C0,5.38320296 5.38320296,0 12,0 Z M12,21.4466035 C17.2088102,21.4466035 21.4468506,17.2090572 21.4468506,12 C21.4468506,6.79094277 17.2088102,2.55339646 12,2.55339646 C6.79118979,2.55339646 2.55314944,6.79094277 2.55314944,12 C2.55314944,17.2090572 6.79118979,21.4466035 12,21.4466035 Z M18.0560172,11.3373901 L12.7155519,11.3373901 L12.7155519,5.08992563 C12.7155519,4.56418661 12.2774439,4.13793103 11.7370863,4.13793103 C11.1967287,4.13793103 10.7586207,4.56418661 10.7586207,5.08992563 L10.7586207,12.2893847 C10.7586207,12.8151237 11.1967287,13.2413793 11.7370863,13.2413793 L18.0560172,13.2413793 C18.5963748,13.2413793 19.0344828,12.8151237 19.0344828,12.2893847 C19.0344828,11.7636457 18.5963748,11.3373901 18.0560172,11.3373901 Z" id="Combined-Shape"></path>
  </svg>
</template>

<script>
export default {
  name: 'IconClock'
}
</script>

<style lang="scss">
</style>
