<template>
    <div :class="[{loading}]">
        <div class="no-results-found" v-if="!loading">
            <icon-wallet width="55px" height="55px" fill="#8B8B8B"/>
            <p><strong>Não tens nenhum fundo depositado na carteira.</strong></p>
            <br>
            <button class="btn btn-simple">Depositar</button>
        </div>
    </div>
</template>
<script>
    import IconWallet from "../icons/IconWallet";
    export default {
        name: 'WalletIndex',
        components: {IconWallet},
        data() {
            return {
                loading: false,
                wallet: {}
            }
        },

        created() {
            this.$emit('updatePageTitle', 'Carteira')
        }
    }
</script>