<template>
    <transition-group @before-enter="beforeEnter"
                      @enter="enter"
                      @leave="leave"
                      :css="false">
        <slot></slot>
    </transition-group>
</template>
<script>
    import Velocity from 'velocity-animate';

    export default {
      props: ['cl'],

      methods: {
        beforeEnter(el) {
          el.style.opacity = 0;
        },

        enter(el, done) {
          let delay = el.dataset.index * 100;
          setTimeout(function () {
            Velocity(
              el,
              {opacity: 1},
              {complete: done}
            )
          }, delay)
        },

        leave(el, done) {
          let delay = el.dataset.index * 50;
          setTimeout(function () {
            Velocity(
              el,
              {opacity: 0},
              {complete: done}
            )
          }, delay)
        }
      }
    }
</script>