.ui-autocomplete {
  position: absolute;
  background-color: #FFFFFF;
  padding: 0 20px;
  margin: 0;
  list-style: none;
  width: 315px;
  border-radius: 0 0 3px 3px;
  border-left: 1px solid #EFEFEF;
  border-right: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
  margin-top: -10px !important;

  li {
    padding: 7px 5px;
    border-top: 2px solid #EFEFEF;

    &:hover {
        background-color: #EFEFEF;
    }
  }
}

.ui-helper-hidden-accessible {
  display: none;
}

.v-autocomplete {
  position: relative;
  .v-autocomplete-input-group {
    .v-autocomplete-input {}
  }

  .v-autocomplete-list {
    position: absolute;
    z-index: 1000;
    top: 40px;
    width: 100%;
    text-align: left;
    border: none;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    border-bottom: 1px solid #157977;

    .v-autocomplete-list-item {
      cursor: pointer;
      background-color: #fff;
      padding: 10px;
      border-bottom: 1px solid #D8D8D8;
      border-left: 1px solid #D8D8D8;
      border-right: 1px solid #D8D8D8;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background-color: #eee;
      }

      &.v-autocomplete-item-active {
      }
    }
  }
}
