.btn {
	border: 0;
	border-radius: 3px;
	height: 33px;
	width: 100px;
	position: relative;
	overflow: hidden;
    display: inline-block;
    line-height: 100%;
    text-align: center;
    color: #161925;
	cursor: pointer;

	&.btn-primary {
		background-color: $primary-color;
		color: #FFFFFF;
	}

	&.btn-yellow {
		//background-color: $primary-yellow;
		color: $dark-grey;
	}

	&.btn-green {
		background-color: #7FDC26;
		color: $dark-grey;
	}

	&.btn-success {
		//background-color: $primary-green;
		color: #FFFFFF;
	}

	&.btn-simple {
		background-color: transparent;
	}

	&.btn-danger {
		//background-color: $primary-red;
		color: #FFFFFF;
	}

	&.btn-ghost {
		background-color: transparent;
		color: #717171;
		border: 1px solid;
	}

	&.btn-facebbok {
		background-color: #0055B2;
		color: #FFFFFF;
		text-align: center;

		> div {
			display: inline-block;
		}

		svg, span {
			float: left;
		}

		span {
			line-height: 40px;
		}

		svg {
			fill: #FFFFFF;
			margin: 8px 10px 8px;
		}
	}

	&:before {
		top: -100%;;
	}

	&:after {
		top: 100%;
	}
}

a.btn {
    padding: 10px;
}