.close-btn {
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;

  &:after {
    background-color: inherit;
  }

  svg {
    width: 16px;
    height: 16px;
    fill: #D8D8D8;
  }
}
