#context-menu {
  display: none;
  position: absolute;
  background-color: #EFEFEF;
  border-radius: 5px;
  padding: 5px 0;
  min-width: 150px;
  border: 1px solid #DDDDDD;
  box-shadow: 0 6px 20px rgba(0,0,0,.2);
  z-index: 1100;

  ol {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      padding: 3px 20px;
      cursor: pointer;

      a, span {
        display: block;
      }

      &:not(.separator):hover {
        background-color: #A8DBFA;
      }

      &.separator {
        padding: 0;
        background-color: #DDDDDD;
        height: 2px;
        margin: 5px 0;
      }

      &.disabled {
        opacity: .4;
        cursor: default;
        background-color: inherit !important;
      }
    }
  }
}

.context-active {
  pointer-events: none;
}