$datepicker-border-color: #EEEEEE;

.datepicker {
  cursor: pointer;
}

.ui-datepicker {
	background-color: $datepicker-border-color;
	display: none;
	box-shadow: 0 4px 18px rgba(0,0,0,0.5);
	z-index: 1000 !important;
	width: auto !important;

	& * {
		cursor: default;
	}

	.ui-datepicker-group {
		float: left;
		padding: 5px 0 2px;
		width: 214px;

		.ui-datepicker-calendar {
			margin: 0;
		}
	}
	
	.ui-datepicker-group-first {
		padding-right: 2px;
		padding-left: 3px;
	}

	.ui-datepicker-group-last {
	}

	.ui-datepicker-header {
		.ui-datepicker-prev, .ui-datepicker-next {
			height: 20px;
			width: 20px;
			text-decoration: none;
		}

		.ui-datepicker-prev {
			float: left;
			color: $dark-grey;
			cursor: pointer;
		}

		.ui-datepicker-next {
			float: right;
			color: $dark-grey;
			cursor: pointer;
		}

		.ui-datepicker-title {
			text-align: center;
			font-size: 16px;
			display: block;
		}
	}

	.ui-datepicker-calendar {
		margin: 5px 3px 3px;
		border-collapse: collapse;

		tr {
			th, td {
				line-height: 30px;
				width: 30px !important;
				height: 30px !important;
				text-align: center;
				font-size: 12px;
				margin: 0;
			}

			td {
				border: 1px solid $datepicker-border-color;
				background-color: #FFFFFF;

				&:hover {
					background-color: #EEEEEE;
					color: $dark-grey;
				}

				a {
					text-decoration: none;
					display: block;
					width: 100%;
					height: 100%;
				}
			}

			.ui-datepicker-current-day {
				background-color: $primary-color !important;
				a {
					color: #FFFFFF;
				}
			}

			.ui-datepicker-today {
				background-color: $dark-grey !important;
				a {
					color: #FFFFFF;
				}
			}

			.ui-state-disabled {
				&, &:hover, &:active, &:focus {
					color: #d3d7d3;
				}
			}
		}
	}

	.ui-datepicker-weekend {
	}


    .ui-datepicker-row-break {
    }

    .ui-timepicker-div {

        dl {
            dt {
                float: left;
                width: 100px;
                padding-left: 10px;
                height: 30px;
                line-height: 30px;
            }

            dd {
                height: 30px;
                margin-bottom: 0;

                &.ui_tpicker_hour, &.ui_tpicker_minute {
                    padding-top: 12.5px;
                }
            }
        }

        .ui_tpicker_time_input {
            height: 100%;
            width: 100%;
        }
    }

    .ui-datepicker-buttonpane {
        height: 40px;
        padding: 5px 10px;
        background-color: rgba(255,255,255,.4);

        button {
            height: 30px;

            &.ui-datepicker-close {
                float: right;
            }
        }
    }
}
