.dataTables_wrapper {
  .dataTable {
    .dataTables_empty {
      text-align: center;
    }

    .sort {
      cursor: pointer;
      background: {
        repeat: no-repeat;
        position: calc(100% - 10px) center;
        size: 8px;
      };

      &:after {
        content: '';
        display: inline-block;
        width: 16px;
      }
    }

    .sorting {
      @extend .sort;
      background-image: url("/img/sort.svg");
    }

    .sorting_asc {
      @extend .sort;
      background-image: url("/img/sort_asc.svg");
    }

    .sorting_desc {
      @extend .sort;
      background-image: url("/img/sort_desc.svg");
    }
  }

  .dataTables_paginate {
    margin-top: 20px;
    display: inline-block;

    .paginate_button {
      padding: 7px 10px;
      color: #333333;
      border-radius: 3px;
      border: 1px solid #EEEEEE;
      display: inline-block;

      &:not(.disabled) {
        cursor: pointer;
      }

      &.current {
        background-color: $primary-color;
        color: #FFFFFF;
      }
    }

    span {
      margin: 0 5px;
      display: inline-block;

      .paginate_button:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
}