.dl {
  margin: 0;
  display: grid;
  grid-template-columns: 200px auto;
  align-items: center;

  dt, dd {
    padding: 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin: 0;
  }
}