input[type="text"],
input[type="date"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"] {
  background: #FBFBFB;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  height: 40px;
  width: 280px;
  padding: 0 10px;

  &:focus {
    background-color: #FFFFFF;
  }
}

label {
  font-weight: bold;
  font-size: $base-font-size;
}

.btn,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  display: inline-block;
  background-color: #CCCCCC;
  border: none;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  font-weight: bold;
  font-size: $base-font-size;
  border-radius: 3px;
  position: relative;
  transition: background-color 350ms, color 350ms;

  svg {
    transition: fill 350ms;
  }

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.07);
    border-radius: inherit;
    opacity: 0;
    transition: opacity 350ms;
  }

  &:hover {
    &:after {
      opacity: 1;
    }
  }

  &:disabled {
    background-color: #EFEFEF !important;
    color: #999999 !important;
  }
}

.btn {
  &.btn-primary {
    background-color: $primary-color;
    color: #FFFFFF;

    &:disabled {
      opacity: .5
    }
  }

  &.btn-green {
    background-color: green;
    color: #FFFFFF;
  }

  &.btn-facebbok {
    background-color: #0055B2;
    color: #FFFFFF;
    text-align: center;

    > div {
      display: inline-block;
    }

    svg, span {
      float: left;
    }

    span {
    }

    svg {
      fill: #FFFFFF;
      margin: 8px 10px 8px;
    }
  }
}

.help-text {
  color: #717171;
  font-size: $base-font-size;

  a:not(.link) {
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}

.form-group {
  margin-bottom: 15px;

  label {
    display: block;
    margin-bottom: 7px;

    input {
      width: 20px;
    }
  }

  .help-text {
    display: block;
    margin: 7px 0;
  }
}
