input[type="text"],
input[type="date"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"] {
  background: #FBFBFB;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  height: 40px;
  width: 280px;
  padding: 0 10px;

  &:focus {
    background-color: #FFFFFF;
  }
}

label {
  font-weight: bold;
  font-size: $base-font-size;
}

.btn {
  &.btn-primary {
    background-color: $primary-color;
    color: #FFFFFF;

    &:disabled {
      opacity: .5
    }
  }

  &.btn-green {
    background-color: green;
    color: #FFFFFF;
  }
}

.help-text {
  color: #717171;
  font-size: $base-font-size;

  a:not(.link) {
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}

form {
  .title {
    padding-left: 0;

    &:not(:last-child) {
      margin-top: 1em;
    }
  }

  .input-group {
    border-radius: 3px;
  }

  .form-group {
    margin-bottom: 15px;

    .title {
      font-size: 1.3em !important;
      margin-bottom: 1em !important;
    }

    label {
      display: block;
      margin-bottom: 7px;

      input {
        width: 20px;
      }
    }

    .help-text {
      display: block;
      margin: 7px 0;
    }

    &.has-errors, .input-group.has-errors, &.error {
      position: relative;

      > *:not(label) {
        border: 1px solid #EA2727;
      }

      .error-block {
        //position: absolute;
        //display: none;
        //top: calc(100% - 5px);
        background-color: #EA2727;
        color: #FFFFFF;
        font-size: 0.8em;
        padding: 0 10px;
        border-radius: 3px;
        right: 0;
        display: block;
        width: fit-content;
        height: 22px;
        line-height: 22px;
      }
    }
  }

  &.inline-form {
    display: flex;
    flex-flow: row wrap;

    .form-group {
      flex-grow: 1;
      padding-right: 5px;
      padding-left: 5px;
      min-width: 300px;

      .input-selector {
        width: 100%;
      }

      input {
        width: 100%;

        &[type="checkbox"],
        &[type="radio"] {
          width: auto;
        }
      }
    }

    .radio-group {
      label {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 0;
      }
    }
  }
}

.form {
  display: flex;
  flex-wrap: wrap;

  .form-group {
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 15px;
    flex-basis: 100%;
    .input-group {
      label {
        margin-right: 15px;
      }
    }
  }

  &.form-horizontal {
    label {
      width: 120px;
    }
  }
}