@font-face {
  font-family: "Icon";
  src: url("../fonts/icons/icon.eot");
  src: url("../fonts/icons/icon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/icons/icon.woff") format("woff"),
       url("../fonts/icons/icon.ttf") format("truetype"),
       url("../fonts/icons/icon.svg#Icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Icon";
    src: url("../fonts/icons/icon.svg#Icon") format("svg");
  }
}

.icon:before{
  display: inline-block;
  font-family: "Icon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-arrow-down:before { content: "\f100"; }
.icon-arrow-up:before { content: "\f101"; }
.icon-back:before { content: "\f102"; }
.icon-calendar:before { content: "\f103"; }
.icon-caret-down:before { content: "\f104"; }
.icon-checked:before { content: "\f105"; }
.icon-close:before { content: "\f106"; }
.icon-info:before { content: "\f107"; }
.icon-next:before { content: "\f108"; }
.icon-printer:before { content: "\f109"; }
.icon-save:before { content: "\f10a"; }
.icon-search:before { content: "\f10b"; }
.icon-stop:before { content: "\f10c"; }
.icon-menu:before { content: ""; }
    
$font-icon-arrow-down: "\f100";
$font-icon-arrow-up: "\f101";
$font-icon-back: "\f102";
$font-icon-calendar: "\f103";
$font-icon-caret-down: "\f104";
$font-icon-checked: "\f105";
$font-icon-close: "\f106";
$font-icon-info: "\f107";
$font-icon-next: "\f108";
$font-icon-printer: "\f109";
$font-icon-save: "\f10a";
$font-icon-search: "\f10b";
$font-icon-stop: "\f10c";