.input:not(.checkbox) {
  outline: none;
  border: 1px solid #D8D8D8;
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: 300ms box-shadow ease-out;

  &:focus {
    box-shadow: 0 0 6px rgba(0, 0, 0, .15);
  }

  &:disabled, &.disabled {
    background-color: #EFEFEF;
  }

  &:hover, &:focus {
  }

  &.text {
  }

  &.checkbox {
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 30px !important;
  border-radius: 0;
  background: {
    color: #FFFFFF;
    repeat: no-repeat;
    image: url('/img/select-down-arrow.svg');
    position: calc(100% - 10px) center;
  };
}
