.loading {
  position: relative;
  pointer-events: none;

  &:after {
    content: '';
    position: absolute;
    background-color: #FFFFFF;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    opacity: .85;
    z-index: 2000;
    background: {
      image: url('/img/loader.gif');
      repeat: no-repeat;
      position: center;
      size: 50px;
    };
  }
}
