.mailbox {
    border: 1px solid #cccccc;
    @include clearfix;
    min-height: 500px;
    max-height: 500px;

    .message-list {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 350px;
        max-height: 490px;
        overflow-y: scroll;
        float: left;

        li.item {
            height: 70px;
            overflow: hidden;
            border-top: 1px solid rgba(255,255,255,1);
            border-bottom: 1px solid rgba(0,0,0,.1);
            background: {
                color: #f9f9f9;
                repeat: no-repeat;
                position: 10px 10px;
                size: 24px;
            }

            a {
                display: block;
                padding: 10px 10px 10px 44px;
            }

            span {
                display: block;

                &.sender {
                    margin-bottom: 5px;
                }

                &.message-text {
                    color: #999999;
                    font-size: rem(12);
                }
            }

            &.unread {
                background: {
                    image: url("../img/close_mailbox.svg");
                }
            }

            &.read {
                background: {
                    color: #FFFFFF;
                    image: url("../img/open_mailbox.svg");
                }

                a {
                    color: #999999;
                }

                span {
                    &.sender {
                        color: #333333;
                    }
                }
            }

            &:hover, &.current {
                background-color: #39DDEE;

                span {
                    &.sender {
                        color: #FFFFFF;
                    }

                    &.message-text {
                        color: #f1f1f1;
                    }
                }
            }
        }
    }

    .mailbox-message {
        min-height: 500px;
        max-height: 500px;
        width: calc(100% - 350px);
        float: left;
        border-left: 1px solid #cccccc;
        overflow-y: scroll;

        .message-header {
            height: 50px;
            background-color: #EFEFEF;
            padding: 5px 10px;

            p {
                margin: 0;
            }
        }
    }
}