.menu {
  list-style: none;
  margin: 0;
  width: 100%;
  padding: 0 5px;
  box-shadow: 0 -10px 0 #efefef inset;

  &.tab-menu {
    margin-bottom: 20px;
    .tab-item {
      background-color: #5A5AB9;
      float: left;
      color: #ffffff;
      margin: 0 1px;
      transition: all 300ms;

      .tab-link {
        height: 100%;
        width: 100%;
        display: block;
        color: inherit;
        padding: 7px 20px;
      }

      &.tab-current {
        background-color: #424284;
        padding-top: 5px;
        margin-top: -5px;
      }
    }
  }

  &:before, &:after {
    display: table;
    content: '';
    clear: both;
  }
}