.message-container {
  background-color: #EFEFEF;
  color: #777777;
  font-weight: bold;
  font-size: 1em;
  min-height: 40px;
  left: 0;
  text-align: center;
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr 40px;
  align-items: center;
  grid-area: message-container;

  &.error {
    color: white;
    background-color: red;
  }

  &.success {
    color: white;
    background-color: green;
  }

  .btn.btn-close {
    width: 40px;
    height: 40px;
    background-color: transparent;
    padding: 0;
  }
}

.message-container-clearfix {
  content: '';
  min-height: 50px;
}