.messages-container {
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;

  .message {
    padding: 5px 10px;
    border: 1px solid;
    font-size: rem(13);
    border-radius: 3px;
  }

  .message-error {
    @extend .message;
    background-color: #FFECEB;
    color: rgba(0, 0, 0, 0.6);
    border-color: #FF7373;
  }

  .message-success {
    @extend .message;
    background-color: #E3FFEB;
    color: rgba(0, 0, 0, 0.6);
    border-color: #12C946;
  }

  .message-warning {
    @extend .message;
    background-color: #FFF8DE;
    color: rgba(0, 0, 0, 0.6);
    border-color: #FFD22B;
  }

  .message-info {
    @extend .message;
    background-color: #E3F5FF;
    color: rgba(0, 0, 0, 0.6);
    border-color: #26A6F3;
  }
}