.pagination {
    @include clearfix;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    border: 1px solid $contents-border-color;
    display: inline-block;
    border-radius: 3px;

    li {
        float: left;
        width: 40px;
        height: 30px;
        line-height: 30px;
        text-align: center;

        &:not(:last-child) {
            border-right: 1px solid $contents-border-color;
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}