.ui-slider {
  position: relative;
  height: 4px;
  width: calc(100% - 18px);
  background-color: #EFEFEF;
  margin: 0 auto;

  &:before, &:after {
    content: '';
    position: absolute;
    height: inherit;
    width: 9px;
    background-color: inherit;
  }

  &:before { left: -9px; }
  &:after { left: 100%; }

  .ui-slider-handle {
    width: 18px;
    height: 18px;
    background-color: #12678C;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -7px;
    margin-left: -9px;
    outline: none;
    border: 6px solid #167DAA;
    z-index: 2;
  }

  .ui-slider-range {
    background-color: #81D2F5;
    height: 100%;
    position: absolute;
  }
}