table:not(.ui-datepicker-calendar) {
    width: 100%;
    border-collapse: collapse;

    caption {
        text-transform: uppercase;
        font-weight: bold;
        line-height: 40px;
    }

    a {
        &:hover {
            text-decoration: underline;
        }
    }

    th, td {
        border-bottom: 1px solid #cccccc;
        padding: 10px;

        &.center {
            text-align: center;
        }

        &.right {
            text-align: right;
        }

        .btn {
            width: auto;
            height: 25px;
            padding: 7px;
            font-size: 12px;
            float: left;
            margin-left: 5px;
        }

        &.options {
            width: 115px;
            padding: 0;
        }

    }

    thead {
        font-weight: bold;
        background-color: #efefef;

        td, th {
            cursor: default;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 13px;
        }
    }

    tbody {
        tr {
            cursor: default;
            &.disabled {
                //background-color: #E96262;
            }

            &:hover, &:focus, &.context-active, &.selected, &.active {
                background-color: #F2FFFF;
            }
        }
    }

    &.trip-info {
        margin-bottom: 10px;
        background-color: #FFFAD3;
        border: 1px solid rgba(0,0,0,.16);
        font-size: 12px;
        width: 650px;

        tr {
            border: none;
            td {
                border: inherit;
                vertical-align: top;
                text-align: left;

                span {
                    display: block;
                }
            }
        }
    }
}
