@mixin container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  @include grid-container;

  @media screen and (min-width: 1024px) {
    max-width: 1200px;
  }

  @media screen and (max-width: 1024px) {
    max-width: 1000px;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
