@media print {
  @import '~bourbon/app/assets/stylesheets/bourbon';
  @import '~bourbon-neat/core/neat';

  body {
    background-color: transparent;
  }

  #app-container {
    height: 100%;
    #main-header {
      display: none;
      background-color: transparent;
      .header-logo {
        width: 100%;
        .logo {
          margin-left: auto;
          margin-right: auto;
          background-image: url('/img/logo.svg') !important;
        }
      }
    }

    #contents-wrapper, .content-wrapper {
      border: none;
      .info {
        display: none;
      }

      .tickets {
        .wrapper {
          @include grid-column(12);

          .options {
            display: none;
          }
        }
      }
    }

    footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}