$default-font-family: 'Lato', sans-serif;
$base-font-size: 14px;

$max-width: 1200px;

$mobile: 360px;
$mobile-landscape: 640px;
$tablet: 768px;
$tablet-landscape: 1556px;
// $animationDuration: 300ms;
