@import '~normalize-scss/sass/normalize/import-now';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,700,400italic');

@import 'variables';
@import 'config';
@import 'colors';

* {
  box-sizing: border-box;
  outline: none;
}

/* Default styles*/
a {
  text-decoration: none;
  color: $primary-color;
}

html, body {
  height: 100%;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  color: #161925;
  background-color: #f0f0f0;
}

#app {
  height: 100%;

  display: grid;
  grid-template-columns: 300px 1fr;
  grid-auto-rows: auto 1fr auto;
  grid-template-areas:
          "sidebar message-container"
          "sidebar content-wrapper"
          ". .";

  @media screen and (max-width: $tablet) {
    grid-template-columns: auto;
  }

  .full-width {
    width: 100%;
  }
}
@import 'admin/components';
//@import 'ticket-print';