$_normalize-include: null;
$_normalize-exclude: null;
@import "~normalize-scss/sass/normalize/import-now";
@import "~bourbon/core/bourbon";
@import "~bourbon-neat/core/neat";

$animationDuration: 500ms;
@import "~vue2-animate/src/sass/vue2-animate";
@import "animations";

@import "variables";
@import 'colors';
@import "mixins";
@import "keyframes";

@import "./components/components";

* {
  box-sizing: border-box;
  outline: none;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  cursor: pointer;

  &:disabled {
    cursor: default
  }
}

a {
  text-decoration: none;
  color: $primary-color;
}

p {
  line-height: 24px;
  margin: 0;
}

body {
  font: {
    family: $default-font-family;
  }
  color: $fg-color;
  -webkit-font-smoothing: antialiased;
}

.clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.container {
  @include container;
}

.shadowed {
  box-shadow: 0 3px 10px -3px rgba(0,0,0, .5);
}

#nprogress .bar {
  background: $primary-color !important;
  z-index: 2000 !important;
}

#app {
  .page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto auto;

    height: 100%;
  }
}