<template>
    <div class="a-w">
        <div v-if="!itemAdded && !addItemFail">
            <div class="product-details">
                <h1 id="product-description">{{ event.title }}</h1>
            </div>

            <h4>Bilhetes</h4>
            <div class="event-tickets" v-if="event.tickets">
                <button @click="toggleTicketType(ticket)"
                        :class="['btn', { active: ticketType === ticket.name }]"
                        v-for="ticket in event.tickets"
                        :disabled="!ticket.status">
                    <icon-ticket width="24" height="38"/>

                    {{ ticket.name }}

                    <span class="price">{{ accounting.formatMoney(ticket.price) }}</span>
                </button>
            </div>

            <div>
                <h4>Quantidade</h4>
                <div :class="['quantity-wrapper', { disabled: !ticketType }]">
                    <button type="button"
                            @click="() => product.quantity <= minTicketQuantity ? false : product.quantity--"
                            :disabled="!ticketType">-
                    </button>
                    <input type="text" v-model="product.quantity" :disabled="!ticketType">
                    <button type="button"
                            @click="product.quantity >= maxTicketQuantity ? maxTicketQuantityReached : product.quantity++"
                            :disabled="!ticketType">+
                    </button>
                </div>

                <div class="resume">
                    <dl>
                        <dt>Bilhete</dt>
                        <dd>{{ ticketType || '---' }}</dd>
                        <dt>Quantidade</dt>
                        <dd>{{ product.quantity || '---' }}</dd>
                        <dt>Preço</dt>
                        <dd>{{ accounting.formatMoney(product.price) }}</dd>
                        <dt>Total</dt>
                        <dd>{{ accounting.formatMoney(total) }}</dd>
                    </dl>
                </div>

                <button type="button" :class="['btn', 'btn-primary', 'book-btn']" :disabled="!ticketType"
                        @click="addToCart">Adicionar ao Carrinho
                </button>
            </div>
        </div>

        <transition name="bounce">
            <div class="messages-container" v-if="itemAdded || addItemFail">
                <p v-if="addItemFail">Este item já se encontra no carrinho.</p>
                <p v-else-if="itemAdded">O item foi adicionado ao carrinho.</p>
                <router-link tag="button" class="btn btn-primary" :to="{ name: 'Cart' }">
                    <span v-if="addItemFail">Meu Carrinho</span>
                    <span v-else>Finalizar Compra</span>
                </router-link>
                <router-link tag="button" :to="{ name: 'Events' }">Ver mais eventos</router-link>
            </div>
        </transition>
    </div>
</template>

<script>
    import _ from 'lodash'
    import IconTicket from "./icons/IconTicket";

    export default {
        components: {IconTicket},
        props: ['event'],

        data() {
            return {
                accounting: accounting,
                itemAdded: false,
                addItemFail: false,
                minTicketQuantity: 1,
                maxTicketQuantity: 10,
                ticketType: null,
                total: 0,
                product: {
                    id: null,
                    event: {
                        id: this.event.id,
                        title: this.event.title,
                        cover_thumbnail: this.event.cover_thumbnail,
                        begin_time: this.event.begin_time
                    },
                    description: '',
                    price: 0,
                    quantity: 1,
                }
            }
        },

        created() {
            // this.$set(this.product, 'event', this.event)
            let ticket = {};

            _.each(this.event.tickets, (t) => {
                if (t.status) {
                    ticket = t;
                    return false
                }
            });

            // this.toggleTicketType(ticket)
            this.updatePriceTotal()
        },

        watch: {
            'product.quantity': function (n, o) {
                if (n <= 0) {
                    this.$set(this.product, 'quantity', 1)
                }
                this.updatePriceTotal()
            },

            'ticketType': function (n, o) {
                this.$set(this.product, 'description', this.getProductDescription(n));
                this.updatePriceTotal()
            }
        },

        methods: {
            getProductDescription(ticketType) {
                return ticketType || this.ticketType || ''
            },

            addToCart() {
                // Check if the item is not on the cart already.
                // If so, prevent the item to be duplicated.
                let i = _.find(this.$store.getters.cart, (item) => {
                    return item.description === this.product.description && item.event.id === this.event.id
                });

                if (i === undefined) {
                    this.$store.dispatch('addCartItem', this.product);
                    this.itemAdded = true
                } else {
                    this.addItemFail = true
                }
            },

            updatePriceTotal() {
                this.total = this.product.price * this.product.quantity
            },

            toggleTicketType(ticket) {
                this.$set(this.product, 'price', ticket.price);
                this.$set(this.product, 'id', ticket.id);
                this.ticketType = this.ticketType === ticket.name ? null : ticket.name;
                this.minTicketQuantity = ticket.min_reservation_quantity;
                this.maxTicketQuantity = ticket.max_reservation_quantity;

                if (this.product.quantity > ticket.max_reservation_quantity) {
                    this.$set(this.product, 'quantity', ticket.max_reservation_quantity)
                }
            },

            minTicketQuantityReached() {
                alert('Quantidade minima de bilhetes é ' + this.minTicketQuantity)
            },

            maxTicketQuantityReached() {
                console.log('...');
                alert('Quantidade maxima de ' + this.maxTicketQuantity + ' bilhetes por compra atingido.')
            }
        }
    }
</script>

<style lang="scss" scoped>
    .a-w {
        &:after {
            content: '';
            display: table;
            clear: both;
        }

        @media screen and (max-width: 768px) {
            padding: 10px;

            .product-details {
                font-size: 1em;
            }
        }
    }

    .product-details {
        margin-bottom: 10px;
        h1 {
            margin-top: 0;
        }
    }

    .resume {
        border-top: 1px dashed #CCCCCC;
        border-bottom: 1px dashed #CCCCCC;
        margin-bottom: 20px;
        margin-top: 20px;

        dl {
            dt {
                width: 50%;
                float: left;
            }

            dd {
                margin-left: 100px;
            }
        }
    }

    .quantity-wrapper {
        margin-bottom: 10px;
        display: flex;

        &:after {
            content: '';
            display: table;
            clear: both;
        }

        > *:not(input) {
            width: 40px;
            text-align: center;
            padding: 0;
        }

        input {
            width: auto;
            flex-grow: 1;
            margin-left: 3px;
            margin-right: 3px;
            text-align: center;
        }

        &.disabled {
            opacity: .5;
        }
    }

    .event-tickets {
        margin-bottom: 10px;

        button {
            background-color: #FFF;
            border: 1px solid #999999;
            padding: 0 10px;
            font-weight: normal;
            display: block;
            width: 100%;
            text-align: left;
            margin-bottom: 5px;

            &.active {
                background-color: #D00202;
                color: #ffffff;
                box-shadow: inset 0 0 0 2px #ffffff;

                svg {
                    fill: #ffffff;
                }
            }

            svg {
                float: left;
                margin-right: 10px;
            }

            span.price {
                float: right;
                font-weight: bold;
            }
        }

        @media screen and (max-width: 768px) {
            margin-bottom: 20px;

            .btn {
                margin-bottom: -1px;
                margin-right: 0;
                border-radius: 0;
                width: 100%;
                text-align: left;

                &:first-child {
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }

                &:last-child {
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                }

                &:after {
                    display: none;
                }
            }
        }
    }

    .book-btn {
        width: 100%;
    }

    .messages-container {
        text-align: center;
        p, button {
            margin-bottom: 10px;
        }
    }
</style>
