<template>
    <div id="app">
        <message-container v-if="errorMessage" :message="errorMessage" type="error"/>
        <message-container v-if="successMessage" :message="successMessage" type="success"/>
        <router-view></router-view>
        <nprogress-container/>
    </div>
</template>
<script>
    import NProgressContainer from "./NprogressContainer";

    import {
        fixNavbarOnScroll,
        toggleNavbarShadowVisibility,
        getClientCity,
        getClientLanguage
    } from "../helpers";
    import ErrorMessageContainer from "./errors/ErrorMessageContainer";
    import MessageContainer from "./ui/MessageContainer";

    export default {
        name: 'App',

        data() {
            return {
                errorMessage: '',
                successMessage: '',
                errors: []
            }
        },

        created() {
            this.$nprogress.start();
            this.$root.$on('clearMessages', () => {
                this.errorMessage = '';
                this.successMessage = '';
                this.errors = [];
            });
            this.$root.$on('errorMessage', (message, errors) => this.errorMessage = message);
            this.$root.$on('successMessage', message => this.successMessage = message);
        },

        mounted() {
            this.$nprogress.done();

            getClientCity();
            getClientLanguage();

            let c = document.querySelector('.categories-fixed');
            let navbar = document.querySelector('#main-navbar');

            toggleNavbarShadowVisibility(c, 70);
            toggleNavbarShadowVisibility(navbar, 50);
            fixNavbarOnScroll(c, 50);

            document.addEventListener('scroll', _.throttle(function () {
                toggleNavbarShadowVisibility(c, 70);
                toggleNavbarShadowVisibility(navbar, 50)
            }, 150))
        },

        components: {
            MessageContainer,
            ErrorMessageContainer,
            NProgressContainer
        }
    }
</script>