<template>
    <div class="cart">
        <button @click.prevent="() => $router.push({ name: 'Cart' })" class="cart-btn">
            <icon-cart/>
            <div>
                <span v-if="!showTitle">Meu carrinho</span>
                <span class="cart-counter">{{ $store.state.cart.length }}</span>
            </div>
        </button>
    </div>
</template>

<script>
  import IconCart from './icons/IconCart'

  export default {
    props: ['showTitle'],

    components: {
      IconCart
    }
  }
</script>

<style lang="css">
</style>
