<template>
  <nav id="categories-menu" role="menu">
    <router-link :class="{ 'current': currentCategory === undefined }" :to="{ name: 'Events' }" title="Explorar"><icon-explore/><span>Explorar</span></router-link>
    <router-link :class="{ 'current': currentCategory === 'musica' }" :to="{ name: 'EventsByCategory', params: {category: 'musica' } }" title="Música"><icon-music/><span>Música</span></router-link>
    <router-link :class="{ 'current': currentCategory === 'festa' }" :to="{ name: 'EventsByCategory', params: {category: 'festa' } }" title="Festa"><icon-party/><span>Festa</span></router-link>    <!--<a :class="{ 'current': currentCategory === undefined }" href="/eventon/events"><icon-explore/> <span>Explorar</span></a>-->
    <router-link :class="{ 'current': currentCategory === 'cinema' }" :to="{ name: 'EventsByCategory', params: {category: 'cinema' } }" title="Cinema"><icon-cinema/> <span>Cinema</span></router-link>
    <router-link :class="{ 'current': currentCategory === 'teatro' }" :to="{ name: 'EventsByCategory', params: {category: 'teatro' } }" title="Teatro"><icon-teather/> <span>Teatro</span></router-link>
    <router-link :class="{ 'current': currentCategory === 'desporto' }" :to="{ name: 'EventsByCategory', params: {category: 'desporto' } }" title="Desporto"><icon-sport/> <span>Desporto</span></router-link>
  </nav>
</template>

<script>
import IconExplore from './icons/IconExplore'
import IconMusic from './icons/IconMusic'
import IconCinema from './icons/IconCinema'
import IconTeather from './icons/IconTeather'
import IconSport from './icons/IconSport'
import IconParty from './icons/IconParty'

export default {
  props: ['currentCategory'],

  methods: {
    toggleMenu (category, title) {
      this.currentCategory = category

      this.$emit('updatePageContent', {
        'displayTitle': title,
        'category': category
      })
    }
  },

  components: {
    IconExplore,
    IconMusic,
    IconCinema,
    IconTeather,
    IconSport,
    IconParty
  }
}
</script>

<style lang="scss" scoped>
  nav > * {
    cursor: pointer;
  }
</style>
