<template>
    <div class="cities-list">
        <select id="cities" v-model="currentCity" @change="updateCurrentCity">
            <option value="all">Todas Cidades</option>
            <option :value="city" v-for="(city, k) of cities" :key="k">{{ city }}</option>
        </select>
    </div>
</template>
<script>
    export default {
      name: 'CitySelector',

      data() {
        return {
          currentCity: 'all',
          cities: [
            'Chimoio',
            'Beira',
            'Maputo',
            'Tete',
            'Nampula',
            'Nacala',
            'Vilanculos',
            'Xai-Xai'
          ]
        }
      },

      created() {
        if (this.$store.state.app.city) {
          this.currentCity = this.$store.state.app.city;
        }
      },

      methods: {
        updateCurrentCity() {
          this.$store.commit('updateClientCity', this.currentCity);
          this.$store.dispatch('updateCurrentCity');

          this.$root.$emit('reloadEvents');
        }
      }
    }
</script>
<style lang="scss" scoped>
    .cities-list {
        width: 200px;
        float: left;
        margin-left: 10px;
        margin-top: 10px;
        color: #ffffff;
        height: 30px;

        select {
            appearance: none;
            background-color: #05172D;
            height: inherit;
            width: 100%;
            color: inherit;
            padding: 0 10px 0 30px;
            border: 1px solid rgba(255,255,255,.2);
            background: {
                image: url("/images/pin.svg");
                position: 10px center;
                repeat: no-repeat;
                size: 13px;
            };
        }

        @media screen and (max-width: 768px) {
            display: none !important;
            height: 40px;
            width: 40px;
            margin-top: 5px;

            select {
                background-size: 16px;
                background-position: center;
                padding-left: auto;
            }
        }
    }
</style>