<template>
    <button type="button" class="btn btn-facebbok" @click.prevent="authenticateWithFacebook">
        <div>
            <icon-facebook/>
            <span>Entrar com o Facebook</span></div>
    </button>
</template>

<script>
    export default {
        name: 'EnterWithFacebookButton',

        methods: {
            authenticateWithFacebook () {
                window.location.href = '/login/facebook'
            }
        }
    }
</script>