<template>
    <div id="app-footer" role="footer">
        <nav>
            <a href="/help">Ajuda</a>
<!--            <a href="/about">Sobre nós</a>-->
            <a href="/contactus">Contacte-nos</a>
            <a href="/faq">FAQ</a>
            <a href="/terms">Termos e Condições</a>
            <a href="/privacy-policy">Politicas de Privacidade</a>
<!--            <a href="/check">Verificar Reserva</a>-->
<!--            <a href="/cancel">Cancelar Reserva</a>-->
        </nav>
        <p class="copyright" role="copyright">&copy; {{ moment().format('Y') }} Todos direitos reservados a <b>Bilheton</b>.</p>
    </div>
</template>
<script>
    export default {
      name: 'MainFooter',
      data () {
        return {
          moment: moment
        }
      }
    }
</script>
