<template>
    <div id="main-navbar">
        <h1 id="logo">
            <router-link :to="{ name: 'Home' }" title="O Teu Bilhete Online">O Teu Bilhete Online</router-link>
        </h1>
        <city-selector/>
        <nav-account-info/>
        <cart-button show-title="false"></cart-button>
    </div>
</template>

<script>
    import NavAccountInfo from "./NavAccountInfo";
    import CartButton from "./CartButton";
    import CitySelector from "./CitySelector";

    export default {
        name: "MainNavbar",

        components: {
            CitySelector,
            CartButton,
            NavAccountInfo
        }
    }
</script>

<style lang="scss" scoped></style>