<template>
    <div class="account-info">
        <transition name="fade" mode="out-in">
            <div class="unauthenticated" v-if="!auth">
                <router-link :to="{ name: 'Login' }" class="login-btn">Entrar</router-link>
                <router-link :to="{ name: 'Register' }" class="register-btn">Criar conta</router-link>
            </div>

            <div class="authenticated" v-else-if="auth && auth.profile">
                <a href="/account">
                    <div class="avatar">{{ auth.profile.name.substr(0,1).toUpperCase() }}</div>
                    <div class="username">{{ auth.profile.name }}</div>
                </a>

                <div class="logout-btn">
                    <button @click="logout">
                        <span v-if="loading">Aguarde...</span>
                        <span v-else>Sair</span>
                    </button>
                </div>
            </div>
        </transition>
    </div><!--// End login-info -->
</template>

<script>
    import auth from '../auth'

    export default {
        name: "NavAccountInfo",

        data() {
            return {
                loading: false,
                auth: null
            }
        },

        created() {
            this.auth = this.$store.getters.user;
        },

        methods: {
            logout() {
                this.loading = true;
                auth.logout()
                    .then((res) => {
                        window.location.href = '/'
                    })
            }
        }
    }
</script>

<style lang="scss" scoped>
</style>