<template>
  <overlay id="quick-reservation" :loading="isLoadingModal" @hideOverlayEvent="hideQuickReservation" width="600" height="auto">
    <div class="info">
      <add-to-cart-actions :event="event" />
    </div>
  </overlay>
</template>

<script>
import Overlay from './Overlay'
import AjaxError from './errors/AjaxError'
import AddToCartActions from './AddToCartActions'

export default {
  name: 'EventQuickReservation',
  props: ['event'],

  data () {
    return {
      error: null,
      isLoadingModal: false,
      minTicketQuantity: 1,
      maxTicketQuantity: 4,
      ticketType: null,
      ticketQuantity: 1
    }
  },

  methods: {
    toggleTicketType (ticket) {
      this.ticketType = this.ticketType === ticket ? null : ticket
    },

    minTicketQuantityReached () {
      alert('Quantidade minima de bilhetes é ' + this.minTicketQuantity)
    },

    maxTicketQuantityReached () {
      alert('Quantidade maxima de ' + this.maxTicketQuantity + ' bilhetes por compra atingido.')
    },

    hideQuickReservation () {
      this.$root.$emit('showQuickReservationEvent', false, null, 'QuickReservation')
    }
  },

  components: {
    Overlay,
    AjaxError,
    AddToCartActions
  }
}
</script>

<style lang="scss" scoped>
</style>
