<template>
    <div id="results-load-more">
        <button type="button" class="btn"
                @click.prevent="status === 0 ? $parent.$emit('fetchMoreEvents') : false"
                v-if="status > -1">
            <span class="active-btn" v-if="status === 0">Carregar mais</span>
            <span class="loading-text" v-if="status === 1">Aguarde...</span>
            <span class="loading-spiner" v-if="status === 1"></span>
        </button>
        <p v-if="status === -1">Não foram encontrados mais resultados.</p>
    </div>
</template>
<script>
    export default {
      props: ['status']
    }
</script>
<style lang="scss" scoped>
    #results-load-more {
        display: block;
        text-align: center;

        button {
            width: 100px;
            height: 100px;
            font-weight: normal;
            background: transparent;
            padding: 0;
            border-radius: 50%;
            position: relative;

            &:hover {
                &:after {
                    opacity: 0;
                }
            }

            .active-btn, .loading-spiner, .loading-text {
                display: block;
                background-color: #FFFFFF;
                color: #333333;
                width: 100%;
                height: 100%;
                border-radius: inherit;
                line-height: 100px;
            }

            .active-btn {
                border: 1px solid;
            }

            .loading-spiner {
                position: absolute;
                top: 0;
                left: 0;
                background: {
                    color: transparent;
                    image: url('../../img/loader-red.png');
                    repeat: no-repeat;
                    position: center;
                    size: contain;
                };
                animation: spin 1s linear infinite;
            }
        }
    }
</style>