<template>
  <div class="search-form">
    <form method="get" role="search" action="/search">
      <div class="group">
        <div class="icon"><icon-search/></div>
        <input type="text" name="sq" class="form-control" :value="sq || ''" placeholder="Procurar por Evento ou Lugar...">
        <city-selector/>
      </div>
    </form>
  </div><!--// End search-form -->
</template>

<script>
import IconSearch from './icons/IconSearch'

export default {
  props: ['sq'],

  data () {
    return {
      name: 'SearchForm'
    }
  },

  components: {
    IconSearch
  }
}
</script>

<style lang="scss" scoped>
  .search-form {
    @media screen and (max-width: 768px) {
      .form-control {
        width: calc(100% - 50px) !important;
      }
    }
  }
</style>
