<template>
    <div :class="[{loading}]">
        <main-navbar/>
        <div style="height: 50px; margin-bottom: 30px"></div>

        <div class="search-results container">
            <search-form :sq="queryString"></search-form>
            <hr class="separator">
            <p>Resultados da pesquisa: <strong>{{ queryString }}</strong></p>

            <section class="search-result-item" v-if="!loading && results.length" v-for="result of results" :key="result.id">
                <div class="search-result-title">
                    <router-link
                            :to="{ name: 'SingleEvent', params: { alias: result.alias } }">{{ result.title }}</router-link>
                </div>
                <p class="search-result-description">{{ result.description }}</p>
                <div class="location-date-info">
                    <span>{{ result.begin_time }}</span>,
                    <span>{{ result.location }}</span>,
                    <span>{{ result.location_city }}</span>
                </div>
                <div class="search-result-link">
                    <a :href="result.alias">{{ 'event/' + result.alias }}</a>
                </div>
            </section>
            <p v-else>Nenhum resultado foi encontrado para a pesquisa: <i>{{ queryString }}</i></p>
        </div>
    </div>
</template>
<script>
    import MainNavbar from "./MainNavbar";
    import SearchForm from "./SearchForm";

    export default {
        name: 'Search',

        data() {
            return {
                loading: false,
                results: [],
                queryString: ''
            }
        },

        components: {
            MainNavbar,
            SearchForm
        },

        created() {
            this.queryString = this.$route.query.sq;
            this.loading = true;
            axios({
                url: '/search',
                method: 'POST',
                data: {
                    sq: this.queryString
                }
            })
                .catch(err => {
                    this.$root.$emit('errorMessage', err.response.data.message);
                    return err;
                })
                .then(res => {
                    this.results = res.data;
                    this.loading = false;
                });
        }
    }
</script>
<style lang="scss" scoped>
    .search-results {
        .search-form {
            margin: 0;
        }

        .search-result-item {
            margin-bottom: 30px;

            a {
                &:hover {
                    text-decoration: underline;
                }
            }

            .search-result-title {
                color: #1692e5;

                a {
                    color: inherit;

                    &:visited {
                        color: #6b16e2;
                    }
                }
            }

            .search-result-description {
                margin: 6px 0;
            }

            .location-date-info {
                font-size: .8em;
                color: #999999;
                margin-bottom: 5px;
            }

            .search-result-link {
                color: #00b500;
                font-size: .8em;

                a {
                    color: inherit;
                    text-decoration: underline;

                    &:visited {
                        color: green;
                    }
                }
            }
        }

        @media screen and (max-width: 768px) {
            padding: 0 20px;

            .search-form {
                width: 100%;
            }
        }
    }
</style>