<template>
    <div :class="['content-wrapper', {loading}]">
        <header>
            <h3 class="title">Relatórios</h3>
        </header>

        <div class="content">
            <ol>
                <router-link tag="li" :to="{name: 'AdminReportsView', params: { report: 'bookings' }}"><a>Reservas</a></router-link>
                <router-link tag="li" :to="{name: 'AdminReportsView', params: { report: 'events' }}"><a>Eventos</a></router-link>
                <router-link tag="li" :to="{name: 'AdminReportsView', params: { report: 'promoters' }}"><a>Promotores</a></router-link>
                <router-link tag="li" :to="{name: 'AdminReportsView', params: { report: 'users' }}"><a>Usuários</a></router-link>
            </ol>
        </div>
    </div>
</template>
<script>
    import ListSearchForm from "../SearchForm";
    export default {
        name: 'AdminReportsList',

        components: {
            ListSearchForm
        },

        data() {
            return {
                loading: false
            }
        }
    }
</script>