<template>
    <div :class="['content-wrapper']">
        <header>
            {{ report }}
        </header>
    </div>
</template>
<script>
    export default {
        name: 'AdminReportsGenerator',
        props: ['report'],

        created() {
        }
    }
</script>