<template>
    <div class="clearfix">
        <button type="button" class="btn btn-primary book-btn"
                @click="showQuickReservation"
                v-if="event.tickets && event.tickets.length">Reservar</button>

        <div class="actions">
            <strong>Partilhar:</strong>
            <a @click.prevent="fbShare" class="fb-share" title="Partilhar Evento no Facebook"><icon-facebook></icon-facebook></a>
            <a @click="gotoUrl(whatsappShareUrl)" :href="whatsappShareUrl" class="whatsapp-share" title="Partilhar Evento no Whatsapp"><icon-whatsapp></icon-whatsapp></a>
            <a @click="gotoUrl(emailShareUrl)" :href="emailShareUrl" class="email-share" title="Enviar Evento por E-mail"><icon-envelope></icon-envelope></a>
        </div>
    </div>
</template>
<script>
    import IconWhatsapp from "../icons/IconWhatsapp"
    import IconFacebook from "../icons/IconFacebook"
    import IconEnvelope from "../icons/IconEnvelope";

    export default {
      name: 'EventActionButtons',
      components: {IconEnvelope, IconFacebook, IconWhatsapp},
      props: ['event'],

      data () {
        return {
          url: 'https://eventos.bilheton.com/event/' + this.event.alias,
          text: 'Olá\n\nAchei este evento muito interessante, veja.\n\n'
        }
      },

      computed: {
        emailShareUrl: function () {
          let subject = encodeURIComponent('Veja ' + this.event.title + ' em Eventon')
          let body = encodeURIComponent(this.text + this.url)
          return 'mailto:?body=' + body + '&subject=' + subject
        },

        facebookShareUrl: function () {
          return encodeURIComponent(this.url)
        },

        whatsappShareUrl: function () {
          return 'https://wa.me/?text=' + encodeURIComponent(this.text + this.url)
        }
      },

      methods: {
        fbShare () {
          FB.ui({
            method: 'share',
            href: this.url,
            action_properties: JSON.stringify({
              object: this.url,
            })
          }, function(response){});
        },

        gotoUrl (url) {
          window.location.href = url
        },

        showQuickReservation () {
          this.$root.$emit('showQuickReservationEvent', true, this.event, 'QuickReservation', 'EventDetails')
        }
      }
    }
</script>