<template>
    <div id="page-booking" :class="['page', {loading: loading}]">
        <main-navbar></main-navbar>

        <div class="contents">
            <form method="post" @submit.prevent="submitForm">
                <input type="hidden" name="_method" value="put">
                <input type="hidden" name="_token" :value="token">

                <section class="print-options" v-show="!formProgress">
                    <h3>Opções de envio de bilhete</h3>
                    <p>Por favor escolha uma ou mais opções que deseja obter o(s) teu(s) bilhete(s).</p>
                    <br>
                    <div class="form-group">
                        <label for="digital">
                            <input type="radio" id="digital" name="print_options[]" value="digital" checked v-model="printOption">
                            <span>Bilhete Digital</span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="get-on-site">
                            <input type="radio" id="get-on-site" name="print_options[]" value="get_on_site" v-model="printOption">
                            <span>Levantar na Bilheteria</span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="home-delivery">
                            <input type="radio" id="home-delivery" name="print_options[]" value="home_delivery" v-model="printOption">
                            <span>Entrega Domiciliar</span>
                        </label>

                        <small class="help-text" v-if="printOption == 'home_delivery'"><strong>OBS:</strong> Será adicionado uma taxa adicional de 100 Mt.</small>
                    </div>

                    <div class="form-group">
                        <button @click.prevent="goToNextForm" class="btn btn-primary">Continuar</button>
                    </div>
                </section>

                <section v-show="formProgress === 1">
                    <h3>Dados Pessoais</h3>

                    <div class="form-group">
                        <label>Nome completo</label>
                        <input type="text" name="contact_full_name" v-model="contactFullName" autocomplete="name" autocapitalize="words"
                               required>
                    </div>

                    <div class="form-group" style="width: calc(50% - 10px); margin-right: 20px; float:left;">
                        <label>Número de telefone</label>
                        <input class="country-code" type="text" :value="countryCode" readonly disabled>
                        <input type="text" class="phone-number" v-model="contactPhoneNumber" autocomplete="phone"
                               required>
                        <input type="hidden" name="contact_phone_number" :value="countryCode + '' + contactPhoneNumber">
                    </div>

                    <div class="form-group" style="width: calc(50% - 10px); float:left;" v-show="!contactEmail">
                        <label>E-mail</label>
                        <input type="email" name="contact_email" v-model="contactEmail" autocomplete="email" required readonly>
                    </div>

                    <div class="clearfix"></div>

                    <div class="form-group">
                        <label>Numero de Documento</label>
                        <input type="text" name="doc_number" v-model="contactDocNumber" placeholder="B.I, Passaporte, Carta de condução etc."
                               required>
                        <span class="help-text">O documento que deverá apresentar no acto do levantamento do bilhete.</span>
                    </div>

                    <div class="form-group">
                        <button @click.prevent="validatePersonalData" class="btn btn-primary">Continuar</button>
                        <button @click.prevent="formProgress--" class="btn back-btn btn-simple">Voltar</button>
                    </div>
                </section>

                <section class="payment" v-show="formProgress === 2" v-if="">
                    <h3>Formas de Pagamento</h3>

                    <div class="methods">
                        <div class="form-group">
                            <label for="m-pesa" :class="[{active: paymentMethod === 'm-pesa'}]">
                                <input type="radio" name="payment_method" id="m-pesa" value="m-pesa"
                                       v-model="paymentMethod">
                                <span>M-Pesa</span>
                            </label>
                        </div>

                        <div class="form-group">
                            <label for="paypal" :class="[{active: paymentMethod === 'paypal'}]">
                                <input type="radio" name="payment_method" id="paypal" value="paypal"
                                       v-model="paymentMethod">
                                <span>Paypal</span>
                            </label>
                        </div>
                    </div>

                    <transition name="slideLeft" mode="out-in">
                        <div class="payment-m-pesa" v-if="paymentMethod === 'm-pesa'">
                            <div class="form-group">
                                <label for="phone-number">Numero M-Pesa</label>
                                <input class="country-code" type="text" v-model="countryCode" readonly disabled>
                                <input id="phone-number" type="text" v-model="paymentMPesa.phoneNumber"
                                       placeholder="Numero associado a uma conta M-Pesa" :disabled="paymentMPesa.isLocked" required>

                                <label for="mpesa" style="font-weight: normal; margin-top: 10px">
                                    <input type="checkbox" id="mpesa" @change="updateMpesaNumber" :checked="paymentMPesa.isLocked">
                                    <span>Usar o Numero de Contacto</span>
                                </label>

                                <span class="help-text">Após clicar e <b>Finalizar Reserva</b> irá receber uma notificação no teu telemovel para confirmar a compra.</span>
                                <input type="hidden" name="payment_phone_number"
                                       :value="countryCode + '' + paymentMPesa.phoneNumber">
                            </div>
                        </div>

                        <div class="payment-visa" v-if="paymentMethod === 'visa'">
                            <div class="form-group">
                                <label for="phone-number">Nome do Titular</label>
                                <input type="text" name="payment_cc_holder" autocomplete="cc_holder" placeholder="ex. Jhon Doe" v-model="paymentVisa.holder">
                            </div>
                            <div class="form-group">
                                <label for="phone-number">Numero do Cartão</label>
                                <input type="text" name="payment_cc_number" placeholder="xxxx-xxxx-xxxx-xxxx" v-model="paymentVisa.number">
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <label for="phone-number">Validade</label>
                                    <input type="text" name="payment_cc_validation" placeholder="mm/aaaa" v-model="paymentVisa.validation">
                                </div>
                                <div class="input-group">
                                    <label for="phone-number">CVV</label>
                                    <input type="text" name="payment_cc_cvv" placeholder="ex. 123" v-model="paymentVisa.cvv">
                                </div>
                            </div>
                        </div>

                        <div class="payment-paypal" v-if="paymentMethod === 'paypal'">
                            <p>Escolheu pagar com o Paypal. Ao clicar em <strong>Finalizar Reserva</strong> será redirecionado a pagina de pagamentos do PayPal.</p>
                        </div>

                    </transition>

                    <div class="form-group">
                        <button @click.prevent="() => paymentMethod === 'm-pesa' ? validateMobileNumber(paymentMPesa.phoneNumber) : goToNextForm()" class="btn btn-primary">Continuar</button>
                        <button @click.prevent="formProgress--" class="btn back-btn btn-simple">Voltar</button>
                    </div>
                </section>

                <section v-show="formProgress > 2">
                    <booking-resume :tickets="tickets"></booking-resume>

                    <br />
                    <div><span>*</span> O metodo de pagamento escolhido é <strong>{{ paymentMethod.toUpperCase() }}.</strong></div>
                    <br />

                    <label for="terms" style="display: block; margin-bottom: 20px; font-weight: normal">
                        <input type="checkbox" id="terms" v-model="termsAndConditions">
                        <span>Concordo e Aceito Com os <a href="/terms">Termos e Condições</a>.</span>
                    </label>

                    <input type="hidden" name="tickets[]" v-for="ticket of tickets" :value="[ticket.ticket.id, ticket.quantity]">
                    <button type="submit" class="btn btn-green" :disabled="!termsAndConditions">Finalizar Reserva</button>
                    <button @click.prevent="formProgress--" class="btn back-btn btn-simple">Voltar</button>
                </section>
            </form>
        </div>

        <main-footer></main-footer>
    </div>
</template>

<script>
    import MainNavbar from '../MainNavbar'
    import MainFooter from '../MainFooter'
    import BookingResume from "../booking/BookingResume"

    export default {
        name: "Book",
        props: ['errors'],

        data() {
            return {
                token: '',
                error: '',
                loading: false,
                termsAndConditions: null,
                receiveInWhatsapp: null,
                paymentMethod: 'm-pesa',
                countryCode: 258,
                contactFullName: '',
                contactEmail: '',
                contactDocNumber: '',
                contactPhoneNumber: '',
                printOption: 'digital',
                paymentMPesa: {
                    isLocked: false,
                    phoneNumber: null
                },
                paymentVisa: {
                    holder: '',
                    number: '',
                    validation: '',
                    cvv: ''
                },
                tickets: [],
                formProgress: 0
            }
        },

        created () {
            this.contactEmail = this.$store.getters.user.email;

            this.loading = true;
            axios('/book/tickets')
                .catch(err => {
                    this.$root.$emit('errorMessage', err.response.data);
                    return err.response;
                })
                .then(res => this.tickets = res.status === 200 ? res.data : [])
                .then(() => this.loading = false);
        },

        mounted() {
            this.token = document.querySelector('meta[name="csrf-token"]').content;
        },

        methods: {
            goToNextForm() {
                this.formProgress++;
            },

            validatePersonalData() {
                if (this.contactFullName && this.contactEmail && this.contactPhoneNumber && this.contactDocNumber) {
                    this.goToNextForm();
                } else {
                    this.$root.$emit('errorMessage', 'Por favor preencha os campos obrigatórios.');
                }
            },

            validateMobileNumber(number) {
                // TODO: Validate a valid mobile number based on a given regex/format
                if (number) {
                    this.goToNextForm();
                } else {
                    this.$root.$emit('errorMessage', 'Por favor introduza um número válido.');
                }
            },

            submitForm (e) {
                this.loading = true;
                // this.$store.dispatch('emptyCart');
                e.target.submit();
            },

            updateMpesaNumber (e) {
                if (e.target.checked) {
                    this.paymentMPesa.phoneNumber = this.contactPhoneNumber;
                    this.paymentMPesa.isLocked = true
                } else {
                    this.paymentMPesa.phoneNumber = '';
                    this.paymentMPesa.isLocked = false
                }
            }
        },

        components: {
            BookingResume,
            MainFooter,
            MainNavbar
        }
    }
</script>

<style lang="scss" scoped>
    .btn {
        width: 100%;

        &.btn-simple {
            background-color: transparent;

            &:after {
                display: none;
            }
        }
    }
</style>