<template>
  <div class="event">
    <div class="thumbnail">
      <a :href="'/event/' + event.alias">
        <img src="../../../img/lazyload-placeholder.jpeg" :data-src="`${event.cover_thumbnail}`" alt="event-title">
      </a>
    </div>

    <div class="title">
      <strong>
        <a :href="'/event/' + event.alias">{{ event.title }}</a>
      </strong>
    </div>

    <div class="info">
      <div class="meta">
        <span class="date">{{ moment(event.begin_time).format('dddd DD/MM/YYYY') }}</span>
        <span class="category">
          <i v-for="(category, i) in event.categories" :key="category.id">{{ category.name }} {{ i !== event.categories.length - 1 ? ' | ' : '' }}</i>
          <i v-if="!event.categories.length">{{ event.location || event.location_city }}</i>
        </span>
      </div>

      <div class="price">
        <div v-if="event.tickets.length">{{ event.tickets[0].price }} <span class="currency">{{ $store.state.app.currency }}</span></div>
        <div v-else>PA</div>
      </div>
    </div>

    <div class="actions">
      <button type="button" class="book-btn"
              v-if="event.tickets.length"
              @click="showQuickReservation"><icon-plus/> Reservar</button>

      <button type="button" :class="['details-btn', {'full-width': !event.tickets.length}]" @click="showEventDetails">Detalhes</button>
    </div>
  </div>
</template>

<script>
import IconPlus from '../icons/IconPlus'

export default {
  props: ['event'],

  data () {
    return {
      moment: moment
    }
  },

  components: {
    IconPlus
  },

  methods: {
    showQuickReservation () {
      this.$emit('showQuickReservationEvent', true, this.event, 'QuickReservation')
    },

    showEventDetails () {
      this.$emit('showEventDetailsEvent', true, this.event, 'EventDetails')
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
