<template>
    <div class="placeholder-container">
        <div class="placeholder-cover"></div>
        <div class="placeholder-title"></div>
        <div class="placeholder-desc"></div>
        <div class="placeholder-desc"></div>
    </div>
</template>

<style lang="scss" scoped>
    .placeholder-container {
        div {
            background-color: #EEEEEE;
            width: 100%;
            min-height: 16px;
            margin-bottom: 10px;
            position: relative;
            overflow: hidden;

            &.placeholder-desc {
                width: 45%;

                &:last-child {
                    width: 60%;
                }
            }

            &.placeholder-title {
                width: 80%;
                background-color: #D8D8D8;
            }

            &.placeholder-cover {
                height: 160px;
            }

            &::before {
                content: " ";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 50%;
                z-index: 1;
                width: 500%;
                margin-left: -250%;
                background: linear-gradient(to right, rgba(#ffffff, 0) 46%, rgba(#ffffff, .5) 50%, rgba(#ffffff, 0) 54%) 50% 50%;
                animation: anim 2s linear infinite;
            }
        }
    }

    @keyframes anim {
        0% {
            transform: translate3d(-30%, 0, 0);
        }
        100% {
            transform: translate3d(30%, 0, 0);
        }
    }
</style>