<template>
  <overlay id="event-details" @hideOverlayEvent="hideEventDetails" width="1000" :height="overlayHeight">
    <div class="clearfix" v-if="!error && event">
      <div class="left" v-if="event.cover">
        <div class="cover">
          <img :src="`${event.cover}`" :alt="event.title">
        </div>
      </div>

      <div class="right">
        <div class="details clearfix">
          <h1 class="title">{{ event.title }}</h1>
          <div>
            <div class="info">
              <span class="price" v-if="event.tickets && event.tickets.length"><icon-money/> <i>Apartir de <strong>{{ event.tickets[0].price }} Mt</strong></i></span>
              <span class="location"><icon-location/> <i>{{ event.location || 'Lugar Por Anunciar' }}, {{ event.location_city }}</i></span>
              <span class="date"><icon-calendar/> <i>{{ moment(event.begin_time).format('DD/MM/YYYY') }}</i></span>
              <span class="time"><icon-clock/> <i>{{ moment(event.begin_time).format('HH:mm') }}</i></span>
            </div>
          </div>

          <div class="description" v-html="event.description"></div>

          <event-action-buttons :event="event"></event-action-buttons>
        </div>
      </div>
    </div>

    <ajax-error v-else-if="error" :error="error"></ajax-error>
  </overlay>
</template>

<script>
import Overlay from '../Overlay'
import IconMoney from '../icons/IconMoney'
import IconLocation from '../icons/IconLocation'
import IconCalendar from '../icons/IconCalendar'
import IconClock from '../icons/IconClock'
import IconFacebook from '../icons/IconFacebook'
import IconTwitter from '../icons/IconTwitter'
import IconEnvelope from '../icons/IconEnvelope'
import AjaxError from '../errors/AjaxError'

import AddToCartActions from '../AddToCartActions'
import EventActionButtons from "./ActionButtons";

export default {
  props: ['event'],

  data () {
    return {
      moment: moment,
      error: null,
      minTicketQuantity: 1,
      maxTicketQuantity: 4,
      ticketType: null,
      ticketQuantity: 1,
      overlayHeight: 'auto'
    }
  },

  mounted () {
    let el = document.querySelector('#event-details .overlay-content')

    if (el) {
      window.setTimeout(() => this.overlayHeight = el.offsetHeight, 100)
    }
  },

  methods: {
    toggleTicketType (ticket) {
      this.ticketType = this.ticketType === ticket ? null : ticket
    },

    minTicketQuantityReached () {
      alert('Quantidade minima de bilhetes é ' + this.minTicketQuantity)
    },

    maxTicketQuantityReached () {
      alert('Quantidade maxima de ' + this.maxTicketQuantity + ' bilhetes por compra atingido.')
    },

    hideEventDetails () {
      this.$root.$emit('showEventDetailsEvent', false, null, 'EventDetails')
    }
  },

  components: {
    EventActionButtons,
    Overlay,
    IconMoney,
    IconLocation,
    IconCalendar,
    IconClock,
    IconFacebook,
    IconTwitter,
    IconEnvelope,
    AjaxError,
    AddToCartActions
  }
}
</script>
