<template>
    <div class="events" v-if="events">
        <staggered-fade-animation class="clearfix">
            <event v-for="(event,i) of events"
                   :key="event.id"
                   :event="event"
                   :data-index="i"
                   @showEventDetailsEvent="toggleEventDetailsModal"
                   @showQuickReservationEvent="toggleQuickReservationModal"/>
        </staggered-fade-animation>

        <results-load-more :status="fetching"/>
        <overlay-loader/>
    </div>
</template>

<script>
  import ResultsLoadMore from '../ResultsLoadMore'
  import Event from './Event'
  import OverlayLoader from '../Overlay/Loader'
  import StaggeredFadeAnimation from "../animations/StaggeredFadeAnimation";

  export default {
    props: ['events', 'fetching'],

    data() {
      return {
        isQuickReservationModal: false,
        isEventDetailsModal: false
      }
    },

    methods: {
      toggleEventDetailsModal(stat, event, modal) {
        this.$root.$emit('isLoadingModal', true);
        let lazyloadImg = new Image();
        lazyloadImg.src = `${event.cover}`;

        lazyloadImg.onerror = () => {
          event.cover = null;
          this.$root.$emit('showEventDetailsEvent', stat, event, modal);
          this.$root.$emit('isLoadingModal', false)
        };

        lazyloadImg.onload = () => {
          this.$root.$emit('showEventDetailsEvent', stat, event, modal);
          this.$root.$emit('isLoadingModal', false)
        }
      },

      toggleQuickReservationModal(stat, event, modal) {
        this.$root.$emit('showQuickReservationEvent', stat, event, modal)
      }
    },

    components: {
      StaggeredFadeAnimation,
      Event,
      ResultsLoadMore,
      OverlayLoader
    }
  }
</script>

<style lang="css">
</style>
