<template>
    <div id="page-home">
        <main-navbar></main-navbar>
        <div class="categories categories-fixed">
            <categories-menu :current-category="category"/>
            <transition name="fade">
                <cart-button v-if="showCartButton"/>
            </transition>
        </div><!--// End categories -->
        <div class="spacer" style="height: 120px; margin-bottom: 30px"></div>

        <div class="content-wrapper">
            <div class="events-list">
                <h1 class="title">{{ (category ? category.substr(0,1).toUpperCase() +  category.substr(1, category.length) : null) || 'Ultimos Eventos' }}</h1>

                <events
                        :events="events"
                        v-if="!loading && events.length"
                        @fetchMoreEvents="page++"
                        :fetching="fetching"></events>

                <div v-else-if="!loading">Nenhum evento encontrado</div>

                <div v-if="loading">
                    <div v-for="i in 8" class="event event-placeholder">
                        <event-placeholder></event-placeholder>
                    </div>
                </div>
            </div>
        </div><!--// End content-wrapper -->

        <main-footer></main-footer>

        <event-details
                :event="currentEvent"
                v-if="isEventDetailsModal"/>

        <quick-reservation
                :event="currentEvent"
                v-if="isQuickReservationModal"/>
    </div>
</template>
<script>
  import CategoriesMenu from '../CategoriesMenu';
  import CartButton from '../CartButton';
  import Event from './Event';
  import Events from './Events';
  import EventDetails from './EventDetails';
  import Overlay from '../Overlay';
  import QuickReservation from '../QuickReservation';
  import EventPlaceholder from './EventPlaceholder';
  import MainFooter from '../MainFooter';
  import {fetchEvents, fetchEventsByCategory, lazyLoadImages} from '../../helpers';
  import MainNavbar from "../MainNavbar";

  export default {
    props: ['category'],

    data() {
      return {
        error: null,
        events: [],
        currentEvent: null,
        showOverlay: false,
        isEventDetailsModal: false,
        isQuickReservationModal: false,
        isLoadingModal: true,
        loading: false,
        page: 1,
        fetching: 0,
        showCartButton: false
      }
    },

    watch: {
      '$route': function() {
        this.events = [];
        if (this.page === 1) {
          this.fetchHandler();
        } else {
          this.page = 1;
        }
      },
      'page': function (nv, ov) {
        this.fetching = 1;
        this.fetchHandler().then(() => this.fetching = this.fetching === 1 ? 0 : this.fetching);
        this.loading = false;
      }
    },

    created() {
      this.$root.$on(['showEventDetailsEvent', 'showQuickReservationEvent'], this.toggleModal);
      this.$root.$on(['isLoadingModalEvent', 'isLoadingQuickReservationEvent'], () => this.isLoadingModal = true);
      this.$root.$on('reloadEvents', () => {
        this.events = [];
        this.fetchHandler();
      });

      this.fetchHandler();

      window.addEventListener('scroll', () => {
        this.showCartButton = window.scrollY >= 50;
      });
    },

    mounted() {
      let spacer = document.querySelector('.spacer');
      spacer.style.marginTop = '-70px';
    },

    methods: {
      fetchHandler () {
        return (() => {
            if (this.category !== undefined) {
              return this.fetchEventsByCategory();
            } else {
              return this.fetchEvents();
            }
        })().then(lazyLoadImages);
      },

      appendEvents (events) {
        if (!events.length) {
          this.fetching = -1;
        } else {
          this.fetching = 0;
          _.each(events, (event) => {
            this.events.push(event)
          })
        }
      },

      fetchEvents() {
        this.loading = true;
        return fetchEvents(this.page, null, this.$store.state.app.city)
          .then((response) => {
            this.appendEvents(response.data);
          })
          .catch((err) => {
            if (err.response.status === 404) {
              this.events = [];
            }
            this.error = err;
          })
          .then(() => {
            this.loading = false;
          });
      },

      fetchEventsByCategory() {
        this.loading = true;
        return fetchEventsByCategory(this.category, this.page, this.$store.state.app.city)
          .then((response) => {
            this.appendEvents(response.data)
          })
          .catch((err) => {
            this.events = [];
            this.error = err
          })
          .then(() => {
            this.loading = false
          })
      },

      toggleModal(stat, event, modal, overide) {
        this.currentEvent = event;
        let m = 'is' + modal + 'Modal';
        let o = 'is' + overide + 'Modal';

        this[o] = false;
        this[m] = stat
      }
    },

    components: {
      MainNavbar,
      CategoriesMenu,
      CartButton,
      Event,
      Events,
      EventDetails,
      Overlay,
      QuickReservation,
      EventPlaceholder,
      MainFooter
    }
  }
</script>