<template>
    <div class="single-event">
        <main-navbar></main-navbar>
        <div style="height: 50px;"></div>

        <div id="hero" :class="[{loading: loading}]" :style="{backgroundImage: 'url(' + cover + ')'}">
            <div class="container">
                <div class="thumbnail" :style="{backgroundImage: 'url(' + thumbnail + ')'}"></div>
                <div class="info" v-if="!loading">
                    <h1 class="title">{{ event.title }}</h1>
                    <div class="location clearfix">
                        <span>
                            <i><icon-location></icon-location></i>
                            <i>{{ event.location }}, {{ event.location_city }}</i>
                        </span>

                        <span>
                            <i><icon-calendar></icon-calendar></i>
                            <i>{{ moment(event.begin_time).format('DD/MM/YYYY') }}</i>
                        </span>
                        <span>
                            <i><icon-clock></icon-clock></i>
                            <i>{{ moment(event.begin_time).format('HH:mm') }}</i>
                        </span>
                    </div>
                    <p>{{ event.description }}</p>

                    <event-action-buttons :event="event"></event-action-buttons>
                </div>
            </div>
        </div>

        <div class="events-list">
            <h3>Eventos Relacionados</h3>

            <events v-if="events.length" :fetching="loading" :events="events"></events>
        </div>

        <event-details
                :event="currentEvent"
                v-if="isEventDetailsModal"></event-details>

        <quick-reservation
                :event="currentEvent"
                v-if="isQuickReservationModal"></quick-reservation>

        <main-footer></main-footer>
    </div>
</template>
<script>
  import MainNavbar from "../MainNavbar"
  import MainFooter from "../MainFooter"
  import {fetchEventByAlias, fetchEvents, lazyLoadImages} from "../../helpers"
  import Events from "./Events"
  import IconCalendar from "../icons/IconCalendar"
  import IconClock from "../icons/IconClock"
  import IconLocation from "../icons/IconLocation"
  import EventActionButtons from "./ActionButtons"
  import QuickReservation from "../QuickReservation"
  import EventDetails from "./EventDetails"

  export default {
    name: 'SingleEvent',
    props: ['alias'],

    data() {
      return {
        loading: false,
        event: {},
        cover: '',
        thumbnail: '',
        events: [],
        moment: moment,
        isEventDetailsModal: false,
        isQuickReservationModal: false,
        isLoadingModal: true,
      }
    },

    created() {
      this.$root.$on(['showEventDetailsEvent', 'showQuickReservationEvent'], this.toggleModal)
      this.$root.$on(['isLoadingModalEvent', 'isLoadingQuickReservationEvent'], () => this.isLoadingModal = true)

      this.loading = true
      axios.all([fetchEventByAlias(this.alias), fetchEvents()])
        .then((res) => {
          this.event = res[0]
          this.events = res[1].data
          return {
            event: this.event,
            events: this.events
          }
        })
        .catch(err => {
          console.log(err)
        })
        .then(res => {
          let coverImg = new Image()
          coverImg.src = res.event.cover
          coverImg.onload = () => this.cover = res.event.cover

          let thumbnailImg = new Image()
          thumbnailImg.src = res.event.cover_thumbnail
          thumbnailImg.onload = () => this.thumbnail = res.event.cover_thumbnail

          this.loading = false
          lazyLoadImages()
        })
    },

    methods: {
      toggleModal(stat, event, modal, overide) {
        this.currentEvent = event
        let m = 'is' + modal + 'Modal'
        let o = 'is' + overide + 'Modal'

        this[o] = false
        this[m] = stat
      }
    },

    components: {
      EventDetails,
      QuickReservation,
      EventActionButtons,
      IconLocation,
      IconClock,
      IconCalendar,
      Events,
      MainFooter,
      MainNavbar
    }
  }
</script>
<style lang="scss" scoped></style>