/*!
 * @copyright 2020.
 * @author Amandio Khuta Nhamande <amandio16@gmail.com>
 * @license MIT
 *
 */

#app-container {
  height: 100%;

  .sec-title {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    margin: 20px 0 40px;
  }

  .grid-half {
    .grid-half {
      margin-left: 0;
      width: calc(50% - 10px);

      &:first-child {
        margin-right: 20px;
      }
    }
  }

  .info-banner {
    height: 151px;
    background-color: #FFFFFF;
    background: {
      image: url("/img/info_banner.svg");
      position: center;
      repeat: no-repeat;
      size: contain;
    };
  }

  .destinations {
    padding-top: 10px;
    padding-bottom: 40px;

    .thumbnail {
      position: relative;
      background: {
        color: #000000;
        repeat: no-repeat;
        position: center;
        size: cover;
      }
      height: 310px;
      margin-bottom: 20px;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(-180deg, #000000 0%, rgba(0,0,0,0.00) 100%);
        z-index: 1;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        text-transform: uppercase;
        color: #FFFFFF;
        font-size: 16px;
        margin: 0;
        padding: 10px 15px;
        z-index: 2;
      }
    }
  }

  .partners {
    background-color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 40px;

    .partner {
      height: 80px;
      background-color: #EFEFEF;
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 360px) {
    .info-banner {
      display: none;
    }

    .destinations {
      display: none;
      margin-top: 0;
      .sec-title {
        font-size: 1.7em;
        margin: 1em 0;
      }
    }

    .grid-half {
      width: 100%;
      margin: 0 !important;

      .thumbnail {
        display: block;
        width: 100%;
        height: 100px;
        margin: 0;
      }
    }
  }
}