.logo {
  background: {
    image: url('/img/logo.svg');
    size: contain;
    repeat: no-repeat;
    position: center;
  };

  &.eventon {
    background: {
      image: url('/vendor/eventon/img/logo-dark.svg');
    }
  }
}

.logo-white {
  background: {
    image: url('/img/logo-white.svg');
    size: contain;
    repeat: no-repeat;
    position: center;
  };
}