/*!
 * @copyright 2020.
 * @author Amandio Khuta Nhamande <amandio16@gmail.com>
 * @license MIT
 *
 */

#main-footer {
  min-height: 197px;
  background-color: #FFB622;
  padding-top: 20px;
  padding-bottom: 20px;

  nav {
    .title {
      font-size: 16px;
      margin-bottom: 11px;
    }

    ul {
      font-size: 13px;
      padding: 0;
      margin: 0;
      list-style: none;
      color: #3F3A32;

      li {
        margin-bottom: 8px;
      }

      a {
        color: inherit;
      }
    }
  }

  @media screen and (max-width: $tablet) {
    display: none;
    nav {
      margin: 0 0 20px;
      width: calc(100% / 2);
      padding-left: 20px;
    }
  }
}

.payment-methods{
  background-color: #FFFFFF;

  > div {
    padding: 20px 0 10px;

    .title {
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: $tablet) {
    display: none;
  }
}

.copyright {
  background-color: #FFFFFF;

  p {
    border-top: 2px solid #EFEFEF;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-top: 0;
    color: #717171;
  }

  @media screen and (max-width: $tablet) {
    text-align: center;
  }
}