/*!
 * @copyright 2020.
 * @author Amandio Khuta Nhamande <amandio16@gmail.com>
 * @license MIT
 *
 */

#main-header {
  display: flex;
  flex-flow: column wrap;
  grid-area: sidebar;
  height: 100%;

  nav {
    ul.main-menu {
      justify-content: center;
      display: flex;
      flex-flow: column wrap;
      margin: 10px 0;
      padding: 0;
      list-style: none;

      > li {
        padding: 0 20px;
        position: relative;

        &.current, &.router-link-active {
          > a {
            border-bottom: 3px solid $primary-color;
            color: $primary-color;
          }

          ul {
            display: block;
            position: relative;
            border-top: none;
            padding-top: 1px;
            padding-bottom: 1px;

            .router-link-exact-active  {
              color: $primary-color
            }
          }
        }

        a {
          line-height: 38px;
          display: block;
          color: #333333;
        }

        ul {
          display: none;
          position: absolute;
          padding: 0;
          list-style: none;
          background-color: #FFFFFF;
          z-index: 100;
          text-transform: none;
          border-radius: 0 0 3px 3px;
          border-top: 3px solid #D00202;
          width: 100%;
          top: calc(100% - 4px);

          li {
            float: none;
            text-transform: inherit;
            margin: 6px 0;
            position: relative;

            &.current {
              > a {
                color: $primary-color;
                border-bottom: none;
              }
            }

            a {
              display: block;
              width: 100%;
              color: inherit;
              border-radius: 0 !important;
              line-height: 25px;
              padding: 0 15px;
            }

            &:hover {
              > a {
                color: $primary-color;
              }

              ul {
                display: block;
              }
            }
          }

          ul {
            left: 100%;
            top: 0;
            display: none;
          }
        }

        &:not(.router-link-active):hover {
          background-color: #0000001a;

          > ul {
            display: block;
            left: 40%;
            width: 60%;
            top: 0;
          }
        }
      }
    }
  }

  .header-logo {
    margin: 0 20px;
    h1 {
      margin: 15px 0;
      text-indent: -9999px;
      width: 95px;
      height: 29px;

      a {
        display: block;
      }
    }
  }

  &.booking {
    .header-logo {
      .logo {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .right-nav {
    height: 100%;

    > * {
      float: right;
    }

    .get-support-btn {
      .icon {
        margin-top: 5px;
        float: left;
        margin-right: 7px;
      }
      line-height: 33px;
      a {
        color: #81D2F6;
      }
    }

    .login-button {
      color: $primary-color;
      margin-top: 13px;
    }
  }

  .account {
    color: #333333;
    font-size: 12px;

    > a {
      display: block;
      color: inherit;
      span {
        text-align: right;
        display: inline-block;
        float: left;
      }

      .avatar {
        width: 30px;
        height: 30px;
        border: 1px solid #EFEFEF;
        margin-right: 10px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    &:hover {
      #options-menu {
        display: block;
      }
    }

    #options-menu {
      background-color: #FFFFFF;
      position: absolute;
      right: 0;
      top: 55px;
      border: 1px solid #EFEFEF;
      border-radius: 3px;
      display: none;
      z-index: 111;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: block;

          a {
            display: block;
            padding: 7px 15px;
            color: inherit;
          }
        }
      }
    }
  }

  @media screen and (max-width: $tablet) {
    height: 50px;
    display: none;

    .header-logo {
      width: auto;

      .logo {
        margin: 10.5px 0;
      }
    }

    nav {
      display: none;
    }

    .right-nav {
      .account {
        a {
          line-height: 50px;
        }

        .avatar {
          margin-top: 10px;
        }
      }
    }
  }
}