/*!
 * @copyright 2020.
 * @author Amandio Khuta Nhamande <amandio16@gmail.com>
 * @license MIT
 *
 */

#page-sidebar {
  background-color: #FFFFFF;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #EFEFEF;
  margin-right: 20px;
  flex-shrink: 0;

  ul.menu {
    list-style: none;
    margin: 10px 0;
    padding: 0;
    color: #333333;

    li {
      border-bottom: 2px solid #EFEFEF;
      a {
        display: block;
        color: inherit;
        padding: 15px 20px;
      }
    }
  }

  @media screen and (max-width: $tablet) {
    margin-right: 0;
  }
}