/*!
 * @copyright 2020.
 * @author Amandio Khuta Nhamande <amandio16@gmail.com>
 * @license MIT
 *
 */

#page-contents {
  width: 100%;
  height: 100%;

  header {
    .content-title {
      font-size: 20px;
      float: left;
    }
  }

  &.content-wrapper {
    background-color: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-bottom: 1px solid #E5E5E5;
    height: 100%;
    display: grid;
    grid-template-rows: 60px auto 1fr;
    grid-template-areas:
            "header"
            "."
            "content";
    gap: 20px 0;
    grid-area: content-wrapper;

    .content {
      grid-area: content;
      padding: 0 20px;
      display: flex;
      flex-flow: column wrap;

      .title {
        font-weight: normal;
        padding-left: 10px;
        font-size: 1.5em;
        margin-bottom: 1.5em;
      }

      form {
        .title {
          padding-left: 0;
          width: 100%;
        }
      }
    }

    header {
      border-bottom: 1px solid #EDEDED;
      grid-area: header;
      display: grid;
      grid-template-columns: auto 1fr auto;
      align-items: center;
      gap: 0 20px;
      grid-template-areas: "back-btn . actions";
      padding: 0 20px;

      .title {
        justify-self: center;
        font-weight: normal;
        font-size: 2em;
        margin: 0;

        .title {
          font-size: 1.3em;
        }

        &.full-width {
          grid-column: 1 / -1;
          width: auto;
        }
      }

      .back-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid;
        background-color: #FFFFFF;
        padding: 10px;
        grid-area: back-btn;

        svg {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  .actions {
    justify-self: right;
    grid-area: actions;

    .btn {
      border: 1px solid;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  .statistics {
    float: left;
    font-size: 12px;
    padding: 14px 0;

    span {
      display: inline-block;
      &:not(:first-child) {
        margin-left: 8px;
        padding-left: 8px;
        border-left: 1px solid #cccccc;
      }
    }
  }

  .table {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
