.admin-menu {

  li.alert {
    float: right !important;
    position: relative;
    span {
      background-color: #F01D1D;
      color: #FFFFFF;
      border-radius: 16px;
      display: inline-block;
      min-width: 16px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      position: absolute;
      top: 2px;
      right: 10px;
    }
    svg {
      margin-top: 8px;
      float: left;
    }
  }
}