/*!
 * @copyright 2020.
 * @author Amandio Khuta Nhamande <amandio16@gmail.com>
 * @license MIT
 *
 */

.page-my-account, .page-password {
  min-height: 400px !important;

  form {
    .form-group {
      width: calc(50% - 10px);
      float: left;
      margin-bottom: 20px;

      .form-group {
        margin-bottom: 0;
      }

      &:nth-of-type(2n) {
        margin-left: 20px;
      }

      label {
        margin-bottom: 5px;
        display: block;
        color: #717171;
      }

      .input.text {
        width: 100%;
        height: 40px;
      }

      &.phone {
        .input.prefix {
          width: 55px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          float: left;
          border-right: 0;
        }

        .input:not(.prefix) {
          width: calc(100% - 55px);
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}