.no-results-found {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  grid-row: 1 / -1;
  text-align: center;

  p {
    color: #8B8B8B;
    margin-top: 20px;
    font-size: 18px;
  }
}
