.account-info {
  float: right;

  .authenticated, .unauthenticated {
    @include clearfix;
    float: right;
  }

  .authenticated {
    padding: 19.5px 0;
    margin-top: 7.5px;

    a {
      @include clearfix;
      padding-right: 5px;
      border-radius: 17.5px;
      background-color: rgba(0, 0, 0, .7);
      display: inline-block;
      float: left;
    }

    .logout-btn {
      float: left;
      display: inline-block;

      button {
        background-color: transparent;
        color: #ffffff;
        padding: 0 7px;
        height: 35px;
      }
    }

    .avatar, .username {
      float: left;
    }

    .avatar {
      height: 35px;
      width: 35px;
      background-color: #FFFFFF;
      text-align: center;
      border-radius: 50%;
      margin-right: 10px;
      font-size: 24px;
      line-height: 31px;
    }

    .username {
      color: #FFFFFF;
      margin: 7px 0 0;
      line-height: initial;

      svg {
        float: right;
        margin: 10px 5px 0 8px;
      }
    }
  }

  .unauthenticated {
    padding: 20px 0;

    a {
      display: inline-block;
      height: 35px;
      line-height: 35px;
      border-radius: 17.5px;
      color: #FFFFFF;
      background-color: transparent;
      padding-left: 10px;
      padding-right: 10px;
      border: 0;

      &.login-btn {
        background-color: $primary-color;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .authenticated {
      > a {
        padding-right: 0;
      }
      .avatar {
        margin-right: 0;
      }
      .username {
        display: none;
      }
    }
  }
}