#app-footer {
  text-align: center;
  font-size: $base-font-size;

  nav {
    a {
      &:not(:last-child):after {
        content: '•';
        margin: 0 10px;
      }
    }

    border-bottom: 1px solid #F7F7F7;
    padding-bottom: 15px;
  }

  .copyright {
    color: #717171;
  }
}
