.cart {
  float: right;
  margin-top: 20px;

  .cart-btn {
    background-color: #333333;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    height: 45px;
    padding: 0 20px;

    div {
      float: left;
      margin-left: 10px;
      font-weight: bold;

      .cart-counter {
        background-color: #FFFFFF;
        color: #333333;
        border-radius: 3px;
        padding: 0 3px;
      }
    }

    svg {
      fill: #FFFFFF;
      float: left;
      margin-top: 9px;
    }

    &:hover {
      background-color: $primary-color;

      svg {
        fill: #ffffff;
      }
    }
  }

  @media screen and (max-width: 768px) {
    margin-top: 0;

    .cart-btn {
      padding: 0;
      background-color: transparent;
      height: 40px;
      width: 40px;

      svg {
        fill: #333333;
        margin-left: 7px;
      }

      > div {
        margin-left: -10px;
        margin-top: -5px;

        span:not(.cart-counter) {
          display: none;
        }

        .cart-counter {
          background-color: $primary-color;
          color: #FFFFFF;
        }
      }
    }
  }
}
