#my-cart {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      margin: 0;
    }
  }

  .contents {
    margin-left: 10px;
    margin-right: 20px;
    display: grid;
    grid-template-rows: 80px auto 2px 1fr;
    gap: 10px;
  }

  .separator {
    margin: 0;
  }

  .clear {
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  .cart-empty {
    padding: 30px 0;
    width: 100%;
    text-align: center;
  }

  .cart-list {
    @extend .clear;
    display: table;
    width: 100%;

    .cart-item.header {
      color: #FFFFFF;
      margin-bottom: 2px;
      display: table-header-group;
      background-color: #07203F;

      > div {
        text-align: center;
        height: 25px;
        padding: 0;
      }
    }

    .cart-item {
      @extend .clear;
      background-color: #EFEFEF;
      display: table-row;

      > div {
        border-bottom: 2px solid #FFFFFF;
        display: table-cell;
        vertical-align: middle;
        height: 100%;
      }

      .event-details, .event-description, .event-quantity, .event-price {
        padding-left: 10px;
        padding-right: 10px;
      }

      .cart-thumbnail {
        height: 60px;
        width: 90px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .event-details {
        padding-left: 10px;
        width: calc(100% - 300px);

        .event-title {
          display: block;
          margin-bottom: 5px;
        }
      }

      .event-date {
        margin: 0;
      }

      .event-quantity, .event-price {
        width: 50px;
        padding: 0 10px;
        text-align: right;
      }

      .event-quantity {
        input {
          padding: 0;
          width: 40px;
          text-align: center;
        }
      }

      .event-price {
        width: 150px;
      }

      .event-description {
        text-align: center;
      }
    }
  }

  .resume {
    display: grid;
    justify-content: flex-end;
    grid-template-rows: auto 1fr;

    dl {
      width: 300px;

      dt {
        float: left;
        width: 130px;
      }

      dd {
        margin-bottom: 5px;
      }

      dt, dd {
        &:last-of-type {
          font-size: 1.2em;
          font-weight: bold;
        }
      }
    }
  }

  .delete-btn {
    padding: 0 5px;
    width: 30px;
    height: 30px;
  }

  @media screen and (max-width: 768px) {
    .contents {
      .cart-list {
        .cart-item {
          div:first-child, div:last-child {
            display: none;
          }
        }
      }

      .resume {
        grid-template-columns: 1fr;
      }
    }
  }
}
