.categories {
  @include clearfix;
  border-bottom: 1px solid #D8D8D8;
  margin-bottom: 70px;
  margin-top: 30px;
  background-color: #FFFFFF;
  display: flex;
  flex-flow: row wrap;

  nav {
    @include clearfix;
    flex-grow: 2;
    display: flex;
    justify-content: space-around;
    transition: all 500ms;

    a {
      display: inline-block;
      text-align: center;
      padding: 0 30px;
      font-size: 18px;
      color: #717171;
      font-weight: bold;
      padding-bottom: 20px;
      margin-bottom: -1px;
      position: relative;
      float: left;

      transition: color 300ms;

      svg {
        transition: fill 300ms;
        fill: #717171
      }

      span {
        display: block;
        margin-top: 10px;
      }

      &:hover, &.current {
        color: $primary-color;

        svg {
          fill: $primary-color
        }
      }

      &.current {
        border-bottom: 1px solid;

        &:after, &:before {
          content: '';
          height: 10px;
          position: absolute;
          bottom: -20px;
          left: calc(50% - 20px);
          border-left: 15px dashed transparent;
          border-right: 15px dashed transparent;
          border-top: 10px solid;
        }

        &:after {
          bottom: -19px;
          border-top-color: #FFFFFF;
        }
      }
    }
  }

  @media screen and (max-width: $tablet) {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;

    nav {
      a {
        padding: 5px;
        margin-right: 0;

        svg {
          width: 30px;
          height: 30px;
        }

        span {
          display: none;
        }

        &.current {
          border: none;
          &:after, &:before {
            display: none;
          }
        }
      }
    }
  }
}

.categories-fixed {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 13px 20px 0;
  z-index: 1000;
  height: 70px;
  transition: all 500ms;

  &.fix {
    top: 0;
  }

  @media screen and (min-width: $tablet){
    > div {
      @include container;
    }

    nav {
      a {
        font-size: 14px;
        padding-bottom: 12px;

        svg {
          width: 18px;
          height: 18px;
        }
      }
    }
  }

  .cart {
    //display: none;
    margin-top: 0;
  }

  .logo {
    margin-top: 0;
  }

  @media screen and (max-width: $tablet) {
    padding: 5px 10px;
    height: 50px;
  }
}
