#event-details, .single-event #hero {
  .actions {
    @include clearfix;
    float: left;

    > * {
      float: left;
      padding: 7px;
    }

    strong {
      padding-left: 0;
      margin: 5px 10px 0 0;
    }

    a {
      display: block;
      width: 40px;
      height: 40px;
      cursor: pointer;

      svg {
        width: 100%;
        height: 100%;
      }

      &.fb-share {
        svg {
          fill: #093F89;
        }
      }

      &.tt-share {
        svg {
          fill: #3CB5F3;
        }
      }

      &.email-share {
        svg {
          fill: #B3B2B3;
        }
      }
    }
  }
}