#event-details {
  .left, .right {
    float: left;
  }

  .left {
    background-color: #000000;
    width: 390px;
    height: inherit;
    margin-left: -30px;
    margin-top: -20px;
    margin-bottom: -20px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .right {
    margin-left: 30px;
    width: calc(100% - 390px);
    font-size: $base-font-size;

    .title {
      font-size: 24px;
      margin-top: 0;
    }

    .book-btn {
      display: inline-block;
      border-radius: 20px;
      width: 150px;
      float: left;
      margin-right: 20px;

      @media screen and (max-width: 768px) {
        width: 100%;
        margin-right: 0;
      }
    }

    .info {
      color: #717171;
      font-weight: bold;
      margin-bottom: 10px;
      margin-top: 10px;

      span {
        display: inline-block;
        margin-right: 30px;
        height: 40px;
        padding: 7px 0;
        margin-bottom: 5px;

        i {
          float: left;
          margin: 5px 0;
          font-style: normal;
        }

        svg {
          float: left;
          margin-right: 10px;
          fill: #CCCCCC;
        }

        &.price {
          font-weight: normal;
          strong {
            font-size: 18px;
          }
        }
      }
    }

    .description {
      line-height: 24px;
      margin-bottom: 30px;
    }
  }

  @media screen and (max-width: 768px) {
    .left, .right {
      float: none;
      width: 100%;
      margin: 0;
    }

    .left {
      //position: fixed;
    }

    .right {
      width: 100%;
      margin: 20px 0;
      padding: 20px;
      background-color: #FFF;

      &:before {
        content: '';
      }
    }
  }
}
