.events-list {
  @include clearfix;
  > .title {
    font-size: 24px;
    margin-bottom: 40px;
    margin-top: 0;
    float: none;
  }

  .events {
    @include clearfix;
  }

  .event {
    float: left;
    width: calc((100% / 4) - 15px);
    font-size: $base-font-size;
    margin-bottom: 30px;
    background-color: #FAFAFA;
    padding: 1px;

    &.event-placeholder {
      background-color: transparent;
    }

    &:not(:nth-child(4n)) {
      margin-right: 20px;
    }

    .thumbnail {
      margin-bottom: 10px;
      height: 160px;
      background-color: #EEEEEE;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;

        transition: transform 500ms
      }

      &:hover {
        cursor: pointer;
        img {
          transform: scale(1.2) rotate(-10deg);
        }
      }
    }

    .title {
      margin-left: 5px;

      a {
        color: inherit;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .info {
      @include clearfix;
      margin-top: 5px;
      margin-left: 5px;

      .meta {
        float: left;
        color: #717171;
        span {
          display: block;
          margin-bottom: 5px;

          &.category {
            i {
              font-style: normal;
            }
          }
        }
      }

      .price {
        float: right;
        font-size: 24px;
        font-weight: bold;
        color: $primary-color;
        background-color: #F7F7F7;
        padding: 5px;
        position: relative;

        .currency {
          font-size: 11px;
          font-weight: normal;
        }

        &:before {
          content: '';
          left: -15px;
          top: 0;
          position: absolute;
          border-top: 19px dashed transparent;
          border-bottom: 19px dashed transparent;
          border-right: 15px solid #F7F7F7;
        }
      }
    }

    .actions {
      @include clearfix;
      margin-top: 10px;
      button {
        width: 50%;
        height: 35px;
        background-color: #F7F7F7;
        border: 0;
        float: left;
        font-size: $base-font-size;
        padding: 0;
        border-radius: 0;

        &.full-width {
          width: 100%;
        }

        &:first-child {
          //border-top-left-radius: 17.5px;
          //border-bottom-left-radius: 17.5px;
        }

        &:last-child {
          border-left: 1px solid #E5E5E5;
        }

        &:first-child {
          border-left: none;
        }

        &.book-btn {
          font-weight: bold;
          color: $primary-color;

          svg {
            fill: $primary-color
          }

          &:hover {
            background-color: $primary-color;
            color: #FFFFFF;

            svg {
              fill: #FFFFFF;
            }
          }
        }

        svg {
          margin-right: 10px;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    margin: 0 10px;

    .title {
      margin: 1em 0;
    }

    .event {
      margin-right: 0 !important;
      width: 100%;

      .actions {
        button {
          height: 40px;
        }
      }
    }
  }

  @media screen and (min-width: 480px) and (max-width: 768px) {
    .event {
      width: calc(50% - 10px);

      &:nth-child(2n - 1) {
        margin-right: 20px !important;
      }
    }
  }
}