#hero {
  background-color: #000000;
  height: 320px;
  font-size: $base-font-size;
  padding-top: 1px;
  background: {
    position: center;
    repeat: no-repeat;
    size: cover;
  };

  .bg-image {
    @include container;
    height: inherit;
    overflow: hidden;
  }

  .header {
    position: absolute;
    width: 100%;
    top: 0;
    height: 75px;

    > div {
      @include container;
    }
  }

  @media screen and (max-width: 768px) {
    .header {
      padding: 0 10px;
      .account-info {
        .authenticated {
          margin: 0;
        }
      }
    }
  }
}
