.loading {
  position: relative;

  &:before {
    content: '';
    position: fixed;
    background-color: rgba(0,0,0,.8);
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
  }

  &:after {
    content: '';
    position: fixed;
    animation: spin 1s linear infinite;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
    z-index: 2001;
    background: {
      image: url('/images/loader-white.png');
      repeat: no-repeat;
      position: center;
      size: 100%;
    };
  }
}
