#logo, .logo {
  width: 100px;
  float: left;
  text-indent: -9999px;
  margin-top: 12px;

  a {
    display: block;
    height: 50px;
    width: 100%;
    background: {
      image: url('/images/logo.svg');
      repeat: no-repeat;
      position: left center;
      size: contain
    }
  }

  &.logo-dark {
    a {
      background-image: url('/images/logo-dark.svg');
    }
  }
}