#main-navbar {
  @include clearfix;
  height: 50px;
  background-color: #07203F;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: all 500ms;

  .cart {
    margin-top: 0;
    height: 50px;

    .cart-btn {
      height: inherit;
      background-color: transparent;
    }
  }

  #logo {
    margin: 0 0 0 10px;
  }

  .account-info {
    line-height: 50px;

    .authenticated, .unauthenticated {
      padding: 0;
    }
  }

  @media screen and (max-width: 768px) {
    .cart {
      .cart-btn {
        svg {
          fill: #FFFFFF;
        }
      }
    }
  }
}