.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0,0,0,.5);
  z-index: 1001;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;

  .overlay-content {
    background-color: #FFFFFF;
    border-radius: 3px;
    padding: 20px 30px;
    position: relative;
    z-index: 10;
    overflow: hidden;
  }

  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  @media screen and (max-width: $tablet) and (orientation: portrait)  {
    .overlay-content {
      height: 100% !important;
      width: 100% !important;
      top: 0 !important;
      padding: 0 !important;
      overflow: auto;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: start;
    }

    .info {
      width: 100%;

      &, > * {
        height: inherit;
        width: inherit;
      }

      .messages-container {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        height: inherit;
        width: 100%;
      }
    }

    .close-btn {
      position: fixed;
      background-color: rgba(#333333, .5);
    }
  }

  @media screen and (max-width: $tablet) and (orientation: landscape) {
    .overlay-content {
      height: 100% !important;
      width: 100% !important;
      top: 0 !important;
      padding: 0;

      .left, .right {
        width: 50% !important;
        float: left !important;
        height: 100%;

        .cover {
          overflow: hidden;
          img {
            height: 100%;
          }
        }
      }

      .right {
        margin-top: 0 !important;
        overflow: auto;
      }
    }
  }
}
