#page-booking {
  .container.wrapper {
    display: flex;
    flex-flow: row wrap;
  }

  .contents {
    width: 450px;
    margin: 0 auto;

    form {
      input[type="text"], input[type="email"] {
        width: 100%;
      }

      .form-group {
        &.has-error {
          input[type="text"], input[type="email"] {
            &:not(:disabled) {
              border: 1px solid red;
            }
          }
        }
      }

      section {
        @include clearfix;
        margin-bottom: 30px;
        h3, .title {
          color: #1692e5;
        }

        &.payment {
          .methods {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            margin-bottom: 20px;

            .form-group {
              margin-bottom: 0;

              label {
                height: 40px;
                width: 100px;
                overflow: hidden;
                border-bottom: 2px solid #EFEFEF;
                padding: 0 10px;
                cursor: pointer;
                line-height: 40px;
                text-align: center;
                margin-bottom: 0;

                input {
                  width: 0;
                  opacity: 0;
                }

                &.active {
                  border-bottom: 2px solid $primary-color;
                }
              }
            }
          }

          .payment-visa {
            width: 100%;
            display: flex;
            flex-flow: row wrap;

            .form-group {
              width: 100% !important;
              display: flex;
              flex-flow: row wrap;

              > * {
                flex-grow: 1;
                width: inherit;
              }

              .input-group {
                width: calc((100% / 2) - 10px);

                &:first-child {
                  margin-right: 20px;
                }
              }
            }
          }
        }
      }
    }
  }

  .country-code {
    width: 50px !important;
    float: left;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  #phone-number, .phone-number {
    width: calc(100% - 50px) !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  @media screen and (max-width: 768px) {
    .contents {
      width: 100%;
      padding: 0 20px;
      margin: 0;

      form {
        .form-group {
          width: 100% !important;
          margin-right: 0 !important;
        }

        .payment {
          .form-group {
            width: auto !important;
          }
        }

        .btn.btn-green {
          width: 100%;
        }
      }
    }
  }
}
