.login, .register {
  .form-wrapper {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
            'errors errors errors'
            'left separator right';
    gap: 20px;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr 20px auto;
      grid-template-areas:
              'errors'
              'left'
              'separator'
              'right';

      width: 100%;
    }
  }

  .success {
    color: green;
    margin-bottom: 10px;
    padding: 10px;
  }

  .errors {
    color: red;
    grid-column: 1 / -1;
    text-align: center;
    grid-area: errors;
  }

  .title {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .left {
    grid-area: left;
  }

  .left, .right {
    width: 320px;
  }

  .separator {
    height: 100%;
    position: relative;
    z-index: 0;
    grid-area: separator;

    span {
      display: block;
      background-color: #FFFFFF;
      height: 20px;
      width: 20px;
      text-align: center;
      line-height: 20px;
      font-size: $base-font-size;
      z-index: 2;
      position: relative;
      top: calc(50% - 10px);
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 10px;
      width: 2px;
      background-color: #F7F7F7;
      height: 100%;
      z-index: 1;
    }
  }

  .left, .right, .separator {
    justify-self: center;
  }

  .right {
    height: 100%;
    display: flex;
    align-items: center;
    grid-area: right;

    .btn {
      width: 100%;
    }
  }

  .login-form, .register-form {
    .error-block {
      display: block;
      color: red;
      font-size: .8em;
      margin: 5px 0;
    }

    .has-error {
      .form-control {
        border-color: red;
      }
    }

    .form-group {
      width: 100%;

      label {
        width: 100%;
        display: block;
        margin-bottom: 6px;
      }

      .help-text {
        display: block;
        margin-bottom: 6px;
      }

      .form-control, .btn {
        width: 100%;
      }

      .btn {
        margin-bottom: 10px;
      }

      .input-group {
        float: left;
        width: calc(50% - 10px);
        &:last-child {
          margin-left: 20px;
        }
      }
    }
  }

  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
  }

  @media screen and (max-width: 768px) {
    width: 100%;

    .form-wrapper {
      .left, .right {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0 20px;
        height: auto;

        > div {
          display: block;
        }
      }

      .separator {
        width: 100%;
        height: 20px;
        position: relative;
        align-self: center;

        span {
          margin: 0 auto;
        }

        &:after {
          top: 10px;
          width: 100%;
          height: 1px;
        }
      }
    }
  }
}
