.search-form {
  width: 800px;
  height: 50px;
  border: 1px solid #CCCCCC;
  border-radius: 100px;
  overflow: hidden;
  margin: 134px auto;
  background-color: #FFFFFF;

  form {
    .group {
      @include clearfix;
      .icon {
        float: left;
        width: 50px;
        height: 50px;

        svg {
          margin: 15px;
        }
      }

      .form-control {
        width: calc(80% - 50px);
        float: left;
        border: 0;
        padding: 0;
        height: 50px;
        font-size: 18px;
        font-weight: bold;
        background-color: #FFFFFF;

        &::placeholder {
          color: #999999;
          font-weight: normal;
        }
      }

      .cities-list {
        height: 100%;
        width: 20%;
        margin-left: 0;
        margin-top: 0;

        select {
          height: inherit;
          border-radius: 0;
          cursor: pointer;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    width: calc(100% - 20px);
  }
}
