.single-event {
  .loading {
    &:after, &:before {
      position: absolute;
    }
  }

  #hero {
    position: relative;
    color: #FFFFFF;
    overflow: hidden;
    margin-bottom: 40px;

    .container {
      display: flex;
      align-items: center;
      position: relative;
      height: 100%;

      > * {
        flex: 1 100%;
      }

      .title {
        font-size: 3em;
        margin: 0.4em 0;
      }

      .thumbnail {
        height: 200px;
        flex: 1 300px;
        background: {
          size: cover;
          repeat: no-repeat;
          position: center;
        };
      }

      .actions {
        margin-right: 30px;
      }

      .info {
        margin-left: 20px;
        flex: 2 100%;

        .location {
          line-height: 16px;
        }

        i {
          float: left;

          &:first-child {
            margin-right: 3px;
          }

          &:last-child {
            margin-right: 10px;
          }

          svg {
            height: 16px;
            fill: #FFFFFF;
          }
        }
      }
    }

    &:before {
      content: '';
      background-color: #000000;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.8;
    }

    @media screen and (max-width: $tablet) {
      .container {
        .thumbnail {
          display: none;
        }
      }
    }
  }

  @media screen and (min-width: $tablet) {
    .events-list {
      @include container
    }
  }
}