<template>
    <div :class="['content-wrapper', {loading: loading}]">

        <header>
            <back-button :handler="() => $router.push('/admin/promoters')"></back-button>
            <h3 class="title">Editar Promotor</h3>
        </header>

        <div>
            <admin-promoters-form :id="id" edit="true" @loading="pl => loading =  pl"/>
        </div>
    </div>
</template>

<script>
  import AdminPromotersForm from "./AdminPromotersForm";
  export default {
    name: 'AdminPromotersCreate',
    props: ['id'],

    components: {
      AdminPromotersForm
    },

    data () {
      return {
        loading: false
      }
    }
  }
</script>