<!--
  - @copyright 2020.
  - @author Amandio Khuta Nhamande <amandio16@gmail.com>
  - @license MIT
  -
  -->

<template>
    <div :class="['content-wrapper', {loading: loading}]">
        <header>
            <list-search-form placeholder="Procurar por eventos"></list-search-form>

            <div class="statistics">
                <span>{{ info.total }} Total</span>
                <span><a href="/admin/reports/promoters">Ver mais</a></span>
            </div>

            <admin-action-buttons
                    :refresh="fetchPromoters"
                    :add="handleAddClickAction"
                    :settings="{}"/>
        </header>

        <admin-promoters-list-table
                v-if="promoters.length"
                :promoters="promoters"
                @refreshPromotersList="fetchPromoters"
                @loading="pl => this.loading = pl"/>
    </div>
</template>
<script>
    import {fetchPromoters} from "../../../helpers";
    import ListSearchForm from "../SearchForm";
    import AdminActionButtons from "../ActionButtons";
    import AdminPromotersListTable from "./AdminPromotersListTable";

    export default {
        name: 'AdminPromotersList',

        data () {
            return {
                loading: false,
                info: {},
                promoters: []
            }
        },

        created () {
            this.fetchPromoters();
        },

        methods: {
            fetchPromoters (qs) {
                this.loading = true;
                fetchPromoters(qs)
                    .then(res => {
                        this.promoters = res.data.promoters;
                        this.info = res.data.info;
                    })
                    .catch(err => {
                        this.$root.$emit('errorMessage', err.response.data);
                    })
                    .then(() => {
                        this.loading = false;
                    })
            },

            handleAddClickAction () {
                this.$router.push('/admin/promoters/create');
            }
        },

        components: {
            AdminPromotersListTable,
            AdminActionButtons,
            ListSearchForm
        }
    }
</script>