<!--
  - @copyright 2020.
  - @author Amandio Khuta Nhamande <amandio16@gmail.com>
  - @license MIT
  -
  -->

<template>
    <div :class="['content-wrapper', {loading: loading}]">
        <header>
            <back-button :handler="() => this.$router.push('/admin/promoters')"/>

            <admin-action-buttons
                    :refresh="fetchPromoter"
                    :trash="{}"
                    :edit="() => this.$router.push('/admin/promoters/'+ id +'/edit')"/>
        </header>

        <div class="promoter-details" v-if="!loading">
            <dl>
                <dt>Nome</dt>
                <dd>{{ promoter.name }}</dd>
            </dl>
        </div>
    </div>
</template>
<script>
  import BackButton from "../../ui/BackButton";
  import AdminActionButtons from "../ActionButtons";
  import {fetchPromoterById} from "../../../helpers";

  export default {
    name: 'AdminPromotersView',
    props: ['id'],

    data () {
      return {
        loading: false,
        promoter: {}
      }
    },

    created () {
      this.fetchPromoter();
    },

    methods: {
      fetchPromoter () {
        this.loading = true;
        return fetchPromoterById(this.id)
          .then(res => this.promoter = res.data)
          .catch(err => this.$root.$emit('errorMessage', err.response.data))
          .then(() => this.loading = false);
      }
    },

    components: {
      AdminActionButtons,
      BackButton
    }
  }
</script>