<!--
  - @copyright 2020.
  - @author Amandio Khuta Nhamande <amandio16@gmail.com>
  - @license MIT
  -
  -->

<template>
    <div :class="['content-wrapper', {loading: loading}]">

        <header>
            <back-button :handler="() => $router.push('/admin/promoters')"></back-button>
            <h3 class="title">Registar Promotor</h3>
        </header>

        <div>
            <admin-promoters-form @loading="pl => loading =  pl"/>
        </div>
    </div>
</template>

<script>
    import AdminPromotersForm from "./AdminPromotersForm";
    import BackButton from "../../ui/BackButton";
    export default {
      name: 'AdminPromotersCreate',
      components: {BackButton, AdminPromotersForm},
      data () {
        return {
          loading: false
        }
      },

      methods: {}
    }
</script>