<!--
  - @copyright 2020.
  - @author Amandio Khuta Nhamande <amandio16@gmail.com>
  - @license MIT
  -
  -->

<template>
    <table :class="['table']" id="eventon-promoters-list">
        <thead>
        <tr>
            <th><input type="checkbox"></th>
            <th>Nome</th>
            <th>Tel/Cel</th>
            <th>E-mail</th>
            <th>Endereço</th>
            <th>Cidade</th>
            <th>Provincia</th>
        </tr>
        </thead>

        <tbody>
        <tr v-for="promoter of promoters" @contextmenu.prevent="() => initContextMenu(promoter)">
            <td><input type="checkbox"></td>
            <td>{{ promoter.name }}</td>
            <td>{{ promoter.phone }}</td>
            <td>{{ promoter.email }}</td>
            <td>{{ promoter.address }}</td>
            <td>{{ promoter.address_city }}</td>
            <td>{{ promoter.address_province }}</td>
        </tr>
        </tbody>
    </table>
</template>
<script>
    import {deletePromoter} from "../../../helpers";

    export default {
      name: 'AdminPromotersListTable',
      props: ['promoters'],

      data () {
        return {}
      },

      mounted () {
        this.initDataTables();
        this.$root.$on('searchContentEvent', this.searchInTable);
      },

      methods: {
        searchInTable(pl) {
          this.dt.search(pl).draw()
        },

        initDataTables() {
          this.dt = $('#eventon-promoters-list').DataTable({
            dom: 'tp',
            saveState: true,
            order: [],
            columnDefs: [
              {targets: [0], orderable: false}
            ]
          })
        },

        deletePromoter (id) {
          return deletePromoter(id)
            .then(res => {
              this.$root.$emit('successMessage', res.data);
              this.$emit('refreshPromotersList');
            })
            .catch(err => {
              this.$root.$emit('errorMessage', err.response.data);
            });
        },

        initContextMenu (promoter) {
          contextMenu.menu.view.disabled = false;
          contextMenu.menu.view.select = () => {
            this.$router.push('/admin/promoters/' + promoter.id + '/view')
          };

          contextMenu.menu.edit.disabled = false;
          contextMenu.menu.edit.select = () => {
            this.$router.push('/admin/promoters/' + promoter.id + '/edit')
          };

          contextMenu.menu.delete.disabled = false;
          contextMenu.menu.delete.select = () => this.deletePromoter(promoter.id);

          contextMenu.menu.confirm.hidden = true;
          contextMenu.menu.cancel.hidden = true;
          contextMenu.menu.separator1.hidden = true;
          contextMenu.show();
        }
      }
    }
</script>