<!--
  - @copyright 2020.
  - @author Amandio Khuta Nhamande <amandio16@gmail.com>
  - @license MIT
  -
  -->

<template>
    <div>
        <ul class="menu tab-menu">
            <li :class="['tab-item', { 'tab-current': currentTab === 'dados-pessoais' }]"><a href="#dados-pessoais" class="tab-link">Dados Pessoais</a></li>
            <li :class="['tab-item', { 'tab-current': currentTab === 'dados-da-agencia' }]"><a href="#dados-da-agencia" class="tab-link">Dados da Agência</a></li>
            <li :class="['tab-item', { 'tab-current': currentTab === 'dados-de-login' }]"><a href="#dados-de-login" class="tab-link">Dados de Login</a></li>
            <li :class="['tab-item', { 'tab-current': currentTab === 'resumo' }]"><a href="#resumo" class="tab-link">Resumo</a></li>
        </ul>
        <form @submit.prevent>
            <fieldset v-show="currentTab === 'dados-pessoais'">
                <legend>Dados Pessoais</legend>

                <div class="form-group">
                    <label>Nome <span>*</span></label>
                    <input type="text" class="input text" v-model="promoter.name">
                </div>

                <div class="form-group">
                    <label>Telefone <span>*</span></label>
                    <input type="text" class="input text" v-model="promoter.phone">
                </div>

                <div class="form-group">
                    <label>Celular</label>
                    <input type="text" class="input text" v-model="promoter.phone_alt">
                </div>

                <div class="form-group">
                    <label>E-mail <span>*</span></label>
                    <input type="text" class="input text" v-model="promoter.email">
                </div>

                <div class="form-group">
                    <label>Endereço <span>*</span></label>
                    <input type="text" class="input text" v-model="promoter.address">
                </div>

                <div class="form-group">
                    <label>Cidade <span>*</span></label>
                    <input type="text" class="input text" v-model="promoter.address_city">
                </div>

                <div class="form-group">
                    <label>Provincia <span>*</span></label>
                    <input type="text" class="input text" v-model="promoter.address_province">
                </div>
            </fieldset>
            <fieldset v-show="currentTab === 'dados-da-agencia'">
                <legend>Dados da Agência</legend>

                <div class="form-group">
                    <label>Nome <span>*</span></label>
                    <input type="text" class="input text" v-model="promoter.representative_name">
                </div>

                <div class="form-group">
                    <label>Telefone <span>*</span></label>
                    <input type="text" class="input text" v-model="promoter.representative_phone">
                </div>

                <div class="form-group">
                    <label>Celular</label>
                    <input type="text" class="input text" v-model="promoter.representative_phone_alt">
                </div>

                <div class="form-group">
                    <label>E-mail <span>*</span></label>
                    <input type="text" class="input text" v-model="promoter.representative_email">
                </div>

                <div class="form-group">
                    <label>Endereço <span>*</span></label>
                    <input type="text" class="input text" v-model="promoter.representative_address">
                </div>

                <div class="form-group">
                    <label>Cidade <span>*</span></label>
                    <input type="text" class="input text" v-model="promoter.representative_address_city">
                </div>

                <div class="form-group">
                    <label>Provincia <span>*</span></label>
                    <input type="text" class="input text" v-model="promoter.representative_address_province">
                </div>
            </fieldset>
            <fieldset v-show="currentTab === 'dados-de-login'">
                <legend>Dados de Login</legend>

                <div class="form-group" v-if="!edit">
                    <label>E-mail <span>*</span></label>
                    <input type="text" class="input text" v-model="user.email">
                </div>

                <div class="form-group" v-if="edit">
                    <label>Palavra Passe Atual <span>*</span></label>
                    <input type="password" class="input text" v-model="user.old_password" />
                </div>

                <div class="form-group">
                    <label><span v-if="edit">Nova</span> Palavra Passe <span>*</span></label>
                    <input type="password" class="input text" v-model="user.password" />
                </div>

                <div class="form-group">
                    <label>Confirmar Palavra Passe <span>*</span></label>
                    <input type="password" class="input text" v-model="user.password_confirmation" />
                </div>

                <div class="form-group" v-if="edit">
                    <button class="btn btn-blue" @click.prevent="false">Atualizar Palavra Passe</button>
                </div>
            </fieldset>
            <fieldset v-show="currentTab === 'resumo'">
                <legend>Resumo</legend>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" @click.prevent="saveForm">Guardar</button>
                </div>
            </fieldset>
        </form>
    </div>
</template>

<script>
    import {fetchPromoterById, storePromoter, updatePromoter, errorResponse} from "../../../helpers";

    export default {
        name: 'AdminPromotersForm',
        props: ['id', 'edit'],

        data () {
            return {
                promoter: {},
                user: {},
                currentTab: '',
                tabs: [
                    'dados-pessoais',
                    'dados-da-agencia',
                    'dados-de-login',
                    'resumo'
                ]
            }
        },

        created () {
            this.setCurrentTab(this.$route);

            if (this.edit) {
                this.fetchPromoter();
            } else {
                this.initForm();
            }
        },

        watch: {
            '$route': function(nv) {
                this.setCurrentTab(nv);
            }
        },

        methods: {
            setCurrentTab(route) {
                let hash = route.hash.substr(1, route.hash.length);
                this.currentTab = hash.length && this.tabs.indexOf(hash) >= 0 ? hash : 'dados-pessoais';
            },

            initForm() {
                this.promoter = {
                    address: '',
                    address_city: '',
                    address_province: '',
                    alias: '',
                    branding: '',
                    email: '',
                    name: '',
                    phone: null,
                    phone_alt: null,
                    representative_address: '',
                    representative_address_city: '',
                    representative_address_province: '',
                    representative_email: '',
                    representative_name: '',
                    representative_phone: null,
                    representative_phone_alt: null,
                };

                this.user = {
                    email: '',
                    password: '',
                    password_confirmation: ''
                }
            },

            fetchPromoter () {
                this.$emit('loading', true);
                fetchPromoterById(this.id)
                    .then(res => this.promoter = res.data)
                    .catch(errorResponse(this))
                    .then(() => this.$emit('loading', false))
            },

            updatePromoter() {
                updatePromoter(this.promoter)
                    .then(this.successResponse)
                    .catch(errorResponse(this))
                    .then(() => this.$emit('loading', false));
            },

            storeUser() {
            },

            storePromoter() {
                storePromoter(this.promoter)
                    .then(this.successResponse)
                    .catch(errorResponse(this))
                    .then(() => this.$emit('loading', false));
            },

            saveForm () {
                this.$emit('loading', true);

                if (this.edit) {
                    this.updatePromoter();
                } else {
                    this.storePromoter();
                }
            },

            successResponse(res) {
                this.$root.$emit('successMessage', res.data);
                this.initForm();
                this.$router.push({ name: 'AdminPromotersView', params: {
                        id: res.data.promoter.id
                    }});
            }
        }
    }
</script>

<style lang="scss" scoped>
    form {
        fieldset {
            background-color: #EFEFEF;
        }
        .form-group {
            margin-bottom: 15px;

            > * {
                flex-grow: 1;
            }

            label {
                display: inline-block;
                width: 150px;
            }

            button {
                width: auto;
            }

            input {
                width: 250px;
            }
        }
    }
</style>