<template>
    <div :class="['page', 'login', 'register', {loading: loading}]">
        <main-navbar></main-navbar>

        <div class="form-wrapper">
            <div class="success" v-if="success_msg">
                {{ success_msg }}
            </div>

            <div class="errors" v-if="error_msg">
                {{ error_msg }}
            </div>

            <div class="left">
                <h1 class="title">Dados do Usuário</h1>

                <form role="register" class="register-form contact" method="post" @submit.prevent="register">
                    <div class="form-group">
                        <div :class="['input-group', {'has-error': errors && errors.name } ]">
                            <label class="hidden">Nome</label>
                            <input type="text" class="form-control" v-model="name" required>
                            <span class="error-block" v-if="errors && errors.name">{{ errors.name[0] }}</span>
                        </div>

                        <div :class="['input-group', {'has-error': errors && errors.surname } ]">
                            <label class="hidden">Apelido</label>
                            <input type="text" class="form-control" v-model="surname" required>
                            <span class="error-block" v-if="errors && errors.surname">{{ errors.surname[0] }}</span>
                        </div>
                    </div>

                    <div :class="['form-group', {'has-error': errors && errors.email }]">
                        <label class="hidden">Endereço e-mail</label>
                        <input type="email" class="form-control" v-model="email" autocomplete="email" required>
                        <span class="error-block" v-if="errors && errors.email">{{ errors.email[0] }}</span>
                    </div>

                    <div :class="['form-group', {'has-error': errors && errors.password }]">
                        <label class="hidden">Palavra passe</label>
                        <input type="password" class="form-control" v-model="password" autocomplete="new-password"
                               required>
                        <span class="error-block" v-if="errors && errors.password">{{ errors.password[0] }}</span>
                    </div>

                    <div class="form-group">
                        <label class="hidden">Confirmar palavra passe</label>
                        <input type="password" class="form-control" v-model="passwordConfirmation"
                               autocomplete="confirm-password" required>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Criar conta</button>
                        <div>Já tens uma conta? <a href="/login">Entrar</a></div>
                    </div>
                </form>
            </div>

            <div class="separator">
                <span>Ou</span>
            </div>

            <div class="right">
                <enter-with-facebook-button/>
            </div>
        </div>

        <main-footer></main-footer>
    </div>
</template>

<script>

  import MainNavbar from "../MainNavbar";
  import MainFooter from "../MainFooter"

  import {register} from "../../helpers"
  import EnterWithFacebookButton from "../EnterWithFacebookButton";

  export default {
    data() {
      return {
        loading: false,
        errors: null,
        error_msg: null,
        success_msg: null,
        name: '',
        surname: '',
        email: '',
        password: '',
        passwordConfirmation: ''
      }
    },

    methods: {
      initForm () {
        this.name = '';
        this.surname = '';
        this.email = '';
        this.password = '';
        this.passwordConfirmation = ''
      },

      register() {
        this.errors = null;
        this.success_msg = null;
        this.error_msg = null;

        this.loading = true;
        let data = {
          'name': this.name,
          'surname': this.surname,
          'email': this.email,
          'password': this.password,
          'password_confirmation': this.passwordConfirmation
        };

        register(data)
          .then(res => {
            this.success_msg = res.data.message;
            this.initForm();

            window.location = '/complete_registration';
          })
          .catch(err => {
            this.error_msg = err.response.data.message;
            if (err.response.data.errors) {
              this.errors = err.response.data.errors
            }
          })
          .then(() => {
            this.loading = false
          })
      }
    },
    components: {
      EnterWithFacebookButton,
      MainNavbar,
      MainFooter
    }
  }
</script>

<style lang="css">
</style>
