<template>
    <div :class="['registration-complete', {loading: loading}]">
        <main-navbar/>
        <div style="height: 50px; margin-bottom: 30px"></div>

        <transition-group appear v-if="user">
            <div class="container" v-if="!registrationComplete" key="interests">
                <div class="my-interests">
                    <header>
                        <div>Selecione os teus interesses antes de prosseguir.</div>
                    </header>

                    <staggered-fade-animation class="interests">
                        <div v-for="(interest,i) of interests"
                             :class="['interest', {selected: ld.indexOf(selectedInterests, interest.id) >= 0}]"
                             :key="interest.alias"
                             :data-index="i">
                            <label :for="interest.alias" @click="() => interest.alias === 'more' ? fetchMoreCategories() : false">
                                {{ interest.name }}
                                <input :id="interest.alias" type="checkbox"
                                       :value="interest.id"
                                       v-model="selectedInterests"
                                       v-if="interest.alias !== 'more'">
                            </label>
                        </div>
                    </staggered-fade-animation>

                    <div>
                        <button @click.prevent="saveInterests" :disabled="!selectedInterests.length"
                                class="btn btn-primary">Continuar
                        </button>
                        <button class="btn-skip" @click.prevent="() => $router.push({ name: 'Home' })">Mais tarde
                        </button>
                    </div>
                </div>
            </div>

            <div class="container" key="reg-complete" v-else>
                <div class="registration-complete-message">
                    <div>Obrigado <strong>{{ user.profile ? user.profile.name : '' }}</strong>!</div>
                    <div>O teu registro está completo.</div>
                    <div>Já podes começar a desfrutar das vantagens da nossa aplicação.</div>
                    <div>
                        <router-link :to="{ name: 'Events' }">Comece por ver Alguns Eventos</router-link>
                    </div>
                </div>
            </div>
        </transition-group>
    </div>
</template>
<script>
  import MainNavbar from "../MainNavbar";
  import {fetchCategories, saveUserInterests} from "../../helpers";
  import StaggeredFadeAnimation from "../animations/StaggeredFadeAnimation";

  export default {
    name: 'RegistrationInterests',

    data() {
      return {
        ld: _,
        loading: false,
        selectedInterests: [],
        registrationComplete: false,
        user: null,
        interests: []
      }
    },

    created() {
      this.user = this.$store.getters.user;

      if (!this.user) {
        this.$router.push({ name: 'Login' })
      }

      this.fetchCategories();
    },

    methods: {
      fetchMoreCategories () {
        // TODO Fetch more interests
      },

     fetchCategories () {
       this.loading = true;
       fetchCategories({limit: 7, sort: 'random'})
         .then(res => {
           this.interests = res.data.categories;
           this.interests.push({
             name: '...',
             alias: 'more'
           })
         })
         .catch(err => this.$root.$emit('errorMessage', err.response.data))
         .then(() => this.loading = false);
     },

      saveInterests() {
        if (this.selectedInterests.length) {
          this.loading = true;
          let data = {
            user_id: this.user.id,
            interests: this.selectedInterests
          };

          saveUserInterests(data)
            .then(res => {
              this.registrationComplete = true;
            })
            .catch(err => this.$root.$emit('errorMessage', err.response.data))
            .then(() => this.loading = false)
        }
      }
    },

    components: {
      StaggeredFadeAnimation,
      MainNavbar
    }
  }
</script>

<style lang="scss" scoped>
    .registration-complete {
        max-width: 999px;
        padding: 30px;
        margin-left: auto;
        margin-right: auto;

        header {
            text-align: center;
            margin-bottom: 30px;
            line-height: 1.813em;
            font-size: 1.500em;
        }

        .my-interests {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;

            .interests {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .interest {
                    width: 212px;
                    height: 212px;
                    background-color: #F5F5F5;
                    border-radius: 3px;
                    text-align: center;
                    line-height: 13.250em;
                    float: left;
                    margin-bottom: 30px;

                    &.selected {
                        background-color: #D00202;
                        color: #FFFFFF;
                    }

                    label {
                        cursor: pointer;
                        font-size: 1.500em;
                        font-weight: normal;
                        height: 100%;
                        width: 100%;
                        display: block;

                        input {
                            visibility: hidden;
                            position: absolute;
                            top: -9999px;
                        }
                    }
                }
            }
        }

        .btn.btn-primary, .btn-skip {
            height: 60px;
            width: 343px;
            display: block;
            font-size: 1.500em;
        }

        .btn-skip {
            font-size: 0.875em;
            background-color: transparent;
            color: #333333;
            font-weight: normal;

            &:after {
                background-color: inherit;
            }
        }

        .registration-complete-message {
            font-size: 1.500em;
            text-align: center;
        }
    }

    @media screen and (max-width: 768px) {
        .registration-complete {
            padding: 0 10px;
            font-size: 12px;

            .my-interests {
                .interests {
                    margin-bottom: 10px;

                    .interest {
                        height: 60px;
                        width: calc(50% - 1px);
                        margin-bottom: 2px;
                        line-height: 60px;
                    }
                }
            }
        }
    }
</style>