<template>
    <div class="page" id="my-cart">
        <main-navbar></main-navbar>

        <div class="contents">
            <header>
                <h3 class="title">O Meu Carrinho</h3>
                <button class="btn empty-cart-btn" v-if="cart.length" @click="emptyCart">Esvaziar carrinho</button>
            </header>
            <div class="cart-list">
                <div class="cart-item header">
                    <div class="event-thumbnail"></div>
                    <div class="event-details">Descrição</div>
                    <div class="event-description">Bilhete</div>
                    <div class="event-quantity">Quantidade</div>
                    <div class="event-price">Preço</div>
                    <div></div>
                </div>

                <div class="cart-item" v-if="!empty" v-for="item in cart">
                    <div class="cart-thumbnail">
                        <img src="../../../img/lazyload-placeholder.jpeg" :data-src="item.event.cover_thumbnail">
                    </div>
                    <div class="event-details">
                        <strong class="event-title">{{ item.event.title }}</strong>
                        <p class="event-date">{{ moment(item.event.begin_time).format('DD/MM/YYYY') }}</p>
                    </div>
                    <div class="event-description">
                        {{ item.description }}
                    </div>
                    <div class="event-quantity">
                        <input type="text" v-model="item.quantity" @keyup="updateItemQuantity"
                               @change="() => {item.quantity = item.quantity <= 0 ? 1 : item.quantity; updateItemQuantity()}">
                    </div>
                    <div class="event-price">
                        {{ accounting.formatMoney(item.price) }}
                    </div>
                    <div style="text-align: center">
                        <button class="btn btn-primary delete-btn"
                                @click.prevent="() => $store.dispatch('removeCartItem', item)">
                            <svg viewBox="0 0 59 59" fill="#FFFFFF">
                                <path d="M29.5,51c0.552,0,1-0.447,1-1V17c0-0.553-0.448-1-1-1s-1,0.447-1,1v33C28.5,50.553,28.948,51,29.5,51z"/>
                                <path d="M19.5,51c0.552,0,1-0.447,1-1V17c0-0.553-0.448-1-1-1s-1,0.447-1,1v33C18.5,50.553,18.948,51,19.5,51z"/>
                                <path d="M39.5,51c0.552,0,1-0.447,1-1V17c0-0.553-0.448-1-1-1s-1,0.447-1,1v33C38.5,50.553,38.948,51,39.5,51z"/>
                                <path d="M52.5,6H38.456c-0.11-1.25-0.495-3.358-1.813-4.711C35.809,0.434,34.751,0,33.499,0H23.5c-1.252,0-2.31,0.434-3.144,1.289C19.038,2.642,18.653,4.75,18.543,6H6.5c-0.552,0-1,0.447-1,1s0.448,1,1,1h2.041l1.915,46.021C10.493,55.743,11.565,59,15.364,59h28.272c3.799,0,4.871-3.257,4.907-4.958L50.459,8H52.5c0.552,0,1-0.447,1-1S53.052,6,52.5,6z M21.792,2.681C22.24,2.223,22.799,2,23.5,2h9.999c0.701,0,1.26,0.223,1.708,0.681c0.805,0.823,1.128,2.271,1.24,3.319H20.553C20.665,4.952,20.988,3.504,21.792,2.681z M46.544,53.979C46.538,54.288,46.4,57,43.636,57H15.364c-2.734,0-2.898-2.717-2.909-3.042L10.542,8h37.915L46.544,53.979z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="cart-empty" v-if="empty">
                O Carrinho está vazio. <a href="/eventon">Pagina inicial</a>
            </div>

            <hr class="separator">

            <div class="resume">
                <dl>
                    <dt class="total">Sub Total</dt>
                    <dd>{{ accounting.formatMoney(subtotal) }}</dd>
                    <dt class="iva">IVA(17%)</dt>
                    <dd>{{ accounting.formatMoney(iva) }}</dd>
                    <dt class="total"><strong>Total</strong></dt>
                    <dd>{{ accounting.formatMoney(total) }}</dd>
                </dl>
                <button :class="['btn', { 'btn-primary': $store.getters.cart.length }]" @click.prevent="makeReservation">Finalizar Compra</button>
            </div>
        </div>

        <main-footer></main-footer>
    </div>
</template>

<script>
  import {lazyLoadImages} from "../../helpers"
  import MainNavbar from "../MainNavbar";
  import MainFooter from "../MainFooter";

  export default {
    data() {
      return {
        moment: moment,
        accounting: accounting,
        cart: this.$store.getters.cart,
        total: 0,
        subtotal: 0,
        iva: 0,
        ivaPercentage: 0, // 17%
        empty: false
      }
    },

    created() {
      this.empty = !this.cart.length;
      this.calcAll();
    },

    mounted() {
      lazyLoadImages();
    },

    methods: {
      emptyCart() {
        let confirm = window.confirm('Tem a certeza que deseja esvaziar o carrinho?')

        if (confirm) {
          this.$store.dispatch('emptyCart');
          window.location.reload();
        }
      },

      makeReservation() {
        if (!this.$store.getters.user) {
          this.$store.state.redirectUrl = '/cart';
          this.$root.$emit('errorMessage', 'Faça o Login para prosseguir com a reserva.');
          this.$router.push('/login');

          return false;
        }

        let cart = this.$store.getters.cart;

        if (cart.length) {
          let form = document.createElement('form');
          form.action = '/book';
          form.method = 'POST';
          form.enctype = 'multipart/form-data';

          let csrf = document.createElement('input');
          csrf.type = 'hidden';
          csrf.name = '_token';
          csrf.value = document.head.querySelector('meta[name="csrf-token"]').content;

          for(let ci of cart) {
            let cartItems = document.createElement('input');
            cartItems.type = 'hidden';
            cartItems.name = 'items[]';
            cartItems.value = JSON.stringify({
                'ticket': ci.id,
                'quantity': ci.quantity
            });
            form.appendChild(cartItems);
          }

          form.appendChild(csrf);
          document.body.appendChild(form);

          form.submit()
        }
      },

      updateItemQuantity() {
        this.$store.dispatch('updateCart');
        this.calcAll()
      },

      calcAll() {
        this.subtotal = 0;
        _.each(this.$store.getters.cart, (item) => {
          this.subtotal += this.calcSubtotal(item.price, item.quantity);
        });
        this.iva = this.calcIva(this.subtotal);
        this.total = this.calcTotal(this.subtotal, this.iva)
      },

      calcIva(value) {
        return value * this.ivaPercentage
      },

      calcTotal(value, iva) {
        return value + iva
      },

      calcSubtotal(value, quantity) {
        return value * quantity
      }
    },

    components: {
      MainFooter,
      MainNavbar
    }
  }
</script>

<style lang="scss" scoped></style>
