<template>
    <div :class="['page', 'login', {loading: loading}]">
        <main-navbar></main-navbar>

        <div class="form-wrapper">
            <div class="errors" v-if="errors">
                <div v-for="error of errors">{{ error[0] }}</div>
            </div>

            <div class="left">
                <h1 class="title">Login</h1>

                <form role="login" class="login-form" method="post" action="login" @submit.prevent="authenticateUserByEmailPassword">
                    <div class="form-group">
                        <label for="email">Endereço e-mail</label>
                        <input type="text" id="email" v-model="email" class="form-control" autocomplete="email"
                               required>
                    </div>

                    <div class="form-group">
                        <label for="password">Palavra-passe</label>
                        <input type="password" id="password" v-model="password" class="form-control"
                               autocomplete="password" required>
                    </div>

                    <div class="form-group">
                        <span class="help-text"><a href="/password/reset">Esquecí a Palavra-passe.</a></span>
                        <button type="submit" class="btn btn-primary">Entrar</button>
                        <span class="help-text">Ainda não é membro? <router-link :to="{ name: 'Register', params: {} }"
                                                                                 class="link"><strong>Criar conta.</strong></router-link></span>
                    </div>
                </form>
            </div>

            <div class="separator">
                <span>Ou</span>
            </div>

            <div class="right">
                <enter-with-facebook-button/>
            </div>
        </div>

        <main-footer></main-footer>
    </div>
</template>

<script>
    import Overlay from '../Overlay'
    import IconFacebook from '../icons/IconFacebook'
    import IconClose from '../icons/IconClose'
    import MainNavbar from "../MainNavbar"
    import MainFooter from "../MainFooter"
    import {authenticateUser} from "../../helpers"
    import EnterWithFacebookButton from "../EnterWithFacebookButton";

    export default {
        data() {
            return {
                loading: false,
                email: '',
                password: '',
                errors: null
            }
        },

        methods: {
            authenticateUserByEmailPassword() {
                this.errors = null;
                this.loading = true;
                authenticateUser(this.email, this.password)
                    .catch(err => {
                        this.$root.$emit('errorMessage', err.response.data.message, err.response.data.errors);
                        this.errors = err.response.data.errors;
                        return err.response;
                    })
                    .then(res => {
                        if (res.status === 200) {
                            let url = '/';

                            if (this.$store.state.redirectUrl) {
                                url = this.$store.state.redirectUrl;
                            }

                            this.$root.$emit('successMessage', 'O login foi efectuado com sucesso. Aguarde enquanto redirecionamos.');
                            this.$store.commit('updateUser', res.data);
                            window.location.href = url;
                        }
                    })
                    .then(() => {
                        this.loading = false;
                    })
            }
        },

        components: {
            EnterWithFacebookButton,
            MainNavbar,
            MainFooter,
            IconFacebook,
            IconClose,
            Overlay
        }
    }
</script>

<style lang="scss" scoped></style>
