<template>
  <div id="hero">
    <div class="header">
      <div>
        <div class="logo">
          <router-link :to="{ name: 'Home' }">Eventon</router-link>
        </div>

        <nav-account-info></nav-account-info>
      </div>
    </div><!--// End header -->

    <search-form/>

    <div class="bg-image"></div>
  </div><!--// End hero -->
</template>

<script>
import IconCaretDown from '../icons/IconCaretDown'
import SearchForm from '../SearchForm'
import NavAccountInfo from "../NavAccountInfo";
import CitySelector from "../CitySelector";

export default {
  data () {
    return {
      isLoggedIn: false
    }
  },

  components: {
    CitySelector,
    NavAccountInfo,
    IconCaretDown,
    SearchForm
  },

  mounted () {
    // Preload hero images
    let hero = new Image()
    let url = require('../../../img/hero.jpg')
    hero.src = url
    hero.onload = () => {
      document.querySelector('#hero').style.backgroundImage = 'url(' + url + ')'
    }
  }
}
</script>

<style lang="css">
</style>
