<template>
    <div id="page-home">

        <hero></hero>

        <div class="content-wrapper">
            <div class="categories">
                <categories-menu @updatePageContent="updatePageContentByCategory"/>
                <cart-button/>
            </div><!--// End categories -->
            <div class="spacer" style="height: 120px; display: none"></div>

            <div class="clearfix"></div>

            <div class="events-list">
                <h1 class="title">{{ contentTitle }}</h1>

                <events
                        :events="events"
                        v-if="!loading && events && events.length"/>

                <div v-else-if="!loading">Nenhum evento encontrado</div>

                <div v-if="loading && !events">
                    <div v-for="i in (events ? events : 8)" class="event event-placeholder">
                        <event-placeholder></event-placeholder>
                    </div>
                </div>
            </div>
        </div><!--// End content-wrapper -->

        <main-footer></main-footer>

        <event-details
                :event="currentEvent"
                v-if="isEventDetailsModal"/>

        <quick-reservation
                :event="currentEvent"
                v-if="isQuickReservationModal"/>
    </div>
</template>
<script>
  import Hero from './Hero'
  import CategoriesMenu from '../CategoriesMenu'
  import CartButton from '../CartButton'
  import Event from '../Events/Event'
  import Events from '../Events/Events'
  import EventDetails from '../Events/EventDetails'
  import Overlay from '../Overlay'
  import QuickReservation from '../QuickReservation'
  import EventPlaceholder from '../Events/EventPlaceholder'
  import MainFooter from '../MainFooter'
  import {fetchEvents, fetchEventsByCategory, lazyLoadImages} from '../../helpers'

  export default {
    data() {
      return {
        error: null,
        events: null,
        currentEvent: null,
        showOverlay: false,
        isEventDetailsModal: false,
        isQuickReservationModal: false,
        isLoadingModal: true,
        contentTitle: 'Últimos Eventos',
        loading: false
      }
    },

    created() {
      this.$root.$on(['showEventDetailsEvent', 'showQuickReservationEvent'], this.toggleModal);
      this.$root.$on(['isLoadingModalEvent', 'isLoadingQuickReservationEvent'], () => this.isLoadingModal = true);
      this.$root.$on('reloadEvents', () => {
        this.events = [];
        this.fetchEvents().then(lazyLoadImages);
      });

      this.fetchEvents().then(lazyLoadImages);
    },

    mounted() {
      let navbar = document.querySelector('.categories');
      let spacer = document.querySelector('.spacer');

      window.onscroll = () => {
        if (window.scrollY >= 320) {
          navbar.classList.add('categories-fixed');
          navbar.classList.add('fix');
          spacer.style.display = 'block'
        } else {
          navbar.classList.remove('categories-fixed');
          navbar.classList.remove('fix');
          spacer.style.display = 'none'
        }
      }
    },

    methods: {
      fetchEvents() {
        this.loading = true;
        return fetchEvents(1, null, this.$store.state.app.city)
          .then((response) => {
            this.events = response.data
          })
          .catch((err) => {
            this.error = err.response.data
          })
          .then(() => {
            this.loading = false;
            lazyLoadImages()
          })
      },

      updatePageContentByCategory(pl) {
        if (pl.category === 'explorar') {
          return this.fetchEvents()
        } else {
          this.loading = true;
          this.contentTitle = pl.displayTitle;

          return fetchEventsByCategory(pl.category, 1, this.$store.state.app.city)
            .then((response) => {
              this.events = response.data
            })
            .catch((err) => {
              this.events = [];
              this.error = err
            })
            .then(() => {
              this.loading = false;
              lazyLoadImages()
            })
        }
      },

      toggleModal(stat, event, modal, overide) {
        this.currentEvent = event;
        let m = 'is' + modal + 'Modal';
        let o = 'is' + overide + 'Modal';

        this[o] = false;
        this[m] = stat
      }
    },

    components: {
      Hero,
      CategoriesMenu,
      CartButton,
      Event,
      EventDetails,
      Overlay,
      Events,
      QuickReservation,
      EventPlaceholder,
      MainFooter
    }
  }
</script>
<style lang="scss" scoped>
    @media screen and (max-width: 768px) {
        #page-home {
            .spacer {
                height: 50px !important;
            }
        }
    }
</style>
