<template>
    <div>
        <h1>Erro!</h1>
        <h3>Erro ao processar o pedido. Tente novamente.</h3>

        <div v-if="debug" v-html="error.response.data"></div>
    </div>
</template>

<script>
export default {
  props: ['error'],
  data () {
    return {
      debug: process.env.NODE_ENV !== 'production'
    }
  }
}
</script>
