<template>
    <transition name="fade">
        <div v-if="message">
            <div class="message-container error">
                {{ message }}
            </div>
            <div class="message-container-clearfix"></div>
        </div>
    </transition>
</template>
<script>
    export default {
      name: 'ErrorMessageContainer',
      props: ['message']
    }
</script>