<template>
  <div class="content-wrapper error-container">
    <div class="content">
      <div class="code">404</div>
      <div class="message">Pagina não encontrada.</div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'NotFoundComponent'
  }
</script>

<style lang="scss" scoped>
  .content-wrapper.error-container {
    .content {
      grid-row: 1 / -1 !important;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-flow: column;
    }

    color: #161925;

    .code {
      font-size: 11.5em;
    }

    .message {
      font-size: 2.3em;
    }
  }
</style>
