<template>
  <svg width="29px" height="28px" viewBox="0 0 29 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path d="M14.5,11.8786797 L26.1672619,0.211417767 L28.2885822,2.33273811 L16.6213203,14 L28.2885822,25.6672619 L26.1672619,27.7885822 L14.5,16.1213203 L2.83273811,27.7885822 L0.711417767,25.6672619 L12.3786797,14 L0.711417767,2.33273811 L2.83273811,0.211417767 L14.5,11.8786797 Z" id="Combined-Shape"></path>
  </svg>
</template>

<script>
export default {
}
</script>
