<template>
  <transition name="fade">
    <div class="overlay" v-if="isVisible" @click.prevent.stop="hideOverlay">
      <transition name="zoom">
        <div v-show="!loading" class="overlay-content">
          <slot></slot>

          <button type="button"
                  class="btn close-btn"
                  @click.stop="hideOverlay"><icon-close style="pointer-events: none"/></button>
        </div>
      </transition>
    </div>
  </transition>
</template>

<script>
  import IconClose from './IconClose'
  import Loader from './Loader'

  export default {
    name: 'Overlay',
    props: ['width', 'height', 'fixedHeight'],

    data () {
      return {
        isVisible: true,
        loading: true
      }
    },

    created () {
      window.setTimeout(() => this.loading = false, 100)
    },

    mounted () {
      let body = document.getElementsByTagName('body');
      body[0].style.overflow = 'hidden'
    },

    beforeDestroy () {
      let body = document.getElementsByTagName('body');
      body[0].style.overflow = 'auto'
    },

    methods: {
      hideOverlay (e) {
        let isOverlay = e.target.classList.contains('overlay');
        let isCloseBtn = e.target.classList.contains('close-btn');

        if (isOverlay || isCloseBtn) {
          this.loading = true;
          window.setTimeout(() => {
            this.$emit('hideOverlayEvent');
            this.isVisible = false
          }, 100)
        }
      },

      getContentsHeight () {
        let el = document.querySelector('#event-details .overlay-content');
        if (el) {
          return el.offsetHeight
        }
      }
    },

    computed: {
      style: function () {
        let height = typeof this.fixedHeight !== 'undefined' ? this.fixedHeight : this.height;
        let top = this.height / 2;
        top = isNaN(top) ? top : top + 'px';
        let center = top ? 'top: calc(50% - ' + top + ')' : '';
        height = isNaN(height) ? height : height + 'px; ';

        return 'width:' + this.width + 'px; height:' + height + center
      }
    },

    components: {
      IconClose,
      Loader
    }
  }
</script>
