<template>
    <transition name="fade">
        <div class="overlay" v-show="loading">
          <div class="loader">
            <img src="../../../img/loader-white.png" alt="*">
          </div>
        </div>
    </transition>
</template>

<script>
export default {
  data () {
    return {
      loading: false
    }
  },

  mounted () {
    this.$root.$on('isLoadingModal', (pl) => {
      this.loading = pl
    })
  }
}
</script>

<style lang="scss" scoped>
.loader {
  width: 80px;
  height: 80px;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  position: absolute;
  z-index: 1;
  animation: spin 1s linear infinite;

  img {
    width: 100%;
    height: 100%;
  }
}
</style>
