<template>
    <div id="contents-wrapper" class="booking-complete-info">
        <div class="info">
            <div class="wrapper">
                <p>A sua reserva foi realizada com exito, veja asseguir os dados. Um email e uma mensagem
                    de texto (SMS) foram enviados para
                    <a href="#">{{ booking ? booking.contact_email : bookings[0]['contact_email'] }}</a> e {{ booking ? booking.contact_phone : bookings[0]['contact_phone'] }}
                    respetivamente,
                    contendo mais informações da reserva.</p>
                <p><strong>Obrigado Pela Preferência, Tenha uma boa diversão!</strong></p>
            </div>
        </div>
        <div class="ticket">
            <header>
                <h1 class="title">{{ booking.event.title }}</h1>
            </header>

            <section>
                <div class="info-label" style="width: 219px">
                    <span>Nome/Name</span>
                    <strong>{{ booking.contact_full_name }}</strong>
                </div>
            </section>
        </div>

        <div class="contents page tickets">
            <div class="wrapper">
                <div class="options">
                    <a href="#">Guardar</a> |
                    <a href="#" onclick="window.print()">Imprimir</a>
                </div>

                <div></div>

                <footer>
                    <p>PROCESSADO POR COMPUTADOR EM WWW.BILHETON.CO.MZ</p>
                    <p>CEL/TEL: (+258) 871228911, E-MAIL: INFO@BILHETON.CO.MZ</p>
                    <p>RUA. CAPITÃO PEREIRA DO LAGO Nº 1.817, MATACUANE, BEIRA, MOÇAMBIQUE</p>
                </footer>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
      name: 'BookingComplete',
      props: ['booking', 'bookings']
    }
</script>