<template>
    <div class="booking-resume">
        <h3>Resumo da Compra</h3>
        <div v-for="ticket in tickets" class="resume-item">
            <p><strong>{{ ticket.quantity }}</strong> Bilhete(s): <strong>{{ ticket.ticket.name }}</strong></p>
            <p class="title">{{ ticket.ticket.event.title }}</p>
        </div>
        <div class="resume-item">
            <p class="total"><strong>Total:</strong> {{ accounting.formatMoney(total) }}</p>
        </div>
    </div>
</template>
<script>
    export default {
      name: 'BookingResume',
      props: ['tickets'],

      data () {
        return {
          accounting: accounting
        }
      },

      computed: {
        total() {
          let total = 0;

          _.each(this.tickets, (item) => {
            total += item.total
          });

          return total
        }
      }
    }
</script>

<style lang="scss" scoped>
    .booking-resume {
        width: 100%;
        padding: 5px 20px;
        border-bottom: 1px solid #EEEEEE;
        overflow-y: auto;

        p {
            line-height: 16px;
        }

        .resume-item {
            font-size: 0.8rem;
            padding: 5px 0;
            &:not(:last-child) {
                border-bottom: 1px dotted #CCCCCC;
            }

            .title {
                color: green;
            }

            .total {
                margin: 10px 0;
                text-align: right;
                font-size: 1.3rem;
            }
        }

        @media screen and (max-width: 678px) {
        }
    }
</style>