<template>
    <div>
        <main-navbar></main-navbar>
    </div>
</template>
<script>
    import MainNavbar from "../MainNavbar";
    export default {
      name: 'BookingCancel',
      components: {MainNavbar}
    }
</script>