<template>
    <div :class="[{loading: loading}]">
        <main-navbar/>
        <div style="height: 50px; margin-bottom: 30px"></div>

        <form method="post" @submit.prevent="checkBookingStatus">
            <div class="title">Verificar Estado de Bilhete</div>
            <div class="form-group">
                <label>Número de Documento</label>
                <input type="text" name="document_number" v-model="documentNumber" placeholder="B.I, Passaporte, Carta de condução etc.">
            </div>

            <div class="form-group">
                <label>Numero do Bilhete</label>
                <input type="text" name="ticket_number" v-model="ticketNumber" placeholder="ex. DC8CDAA239CF">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Continuar</button>
            </div>
        </form>

        <div class="booking-info" v-if="booking">
            <p><strong>Número:</strong> {{ booking.number }}</p>
            <p><strong>Nome:</strong> {{ booking.contact_full_name }}</p>
            <p><strong>Estado:</strong> {{ booking.status }}</p>
            <p><strong>Entradas:</strong> {{ booking.allowed_entrances }}</p>
        </div>

        <main-footer/>
    </div>
</template>
<script>
  import MainNavbar from "../MainNavbar";
  import MainFooter from "../MainFooter";

  export default {
    name: 'BookingCheck',

    data () {
      return {
        loading: false,
        errors: null,
        token: null,
        ticketNumber: '',
        documentNumber: '',
        booking: null
      }
    },

    mounted () {
      this.token = document.querySelector('meta[name="csrf-token"').content;
    },

    methods: {
      checkBookingStatus() {
        this.loading = true;
        let data = {
          'document_number': this.documentNumber,
          'ticket_number': this.ticketNumber
        };

        axios({
          url: '/check',
          method: 'post',
          data
        })
          .then(this.showBookingIfo)
          .catch(console.error)
          .then(() => this.loading = false)
      },

      showBookingIfo(response) {
        this.booking = response.data;
      }
    },

    components: {
      MainFooter,
      MainNavbar
    }
  }
</script>
<style lang="scss" scoped>
    form {
        width: 300px;
        margin: 0 auto;

        .title {
            font-weight: bold;
            font-size: 1.5em;
            margin-bottom: 20px;
        }

        .btn, input {
            width: 100%;
        }
    }
</style>