<template>
    <div class="content-wrapper">
        <div class="user-details">
            <dl>
                <dt>Nome</dt>
                <dd :class="[{loading: loading && editName}]">
                    <span :contenteditable="editName" @blur="updateName">{{ user.profile.name }} {{ user.profile.surname }}</span>
                    <button class="btn btn-edit" @click="editName = true" v-if="!editName"><icon-pencil/></button>
                    <button class="btn" @click="editName = false" v-if="editName"><icon-check/></button>
                </dd>

                <dt>E-mail</dt>
                <dd>{{ user.email }}</dd>

                <dt>Contacto</dt>
                <dd :class="[{loading: loading && editPhone}]">
                    <span :contenteditable="editPhone" v-html="user.profile.phone || '<small>N/A</small>'" @blur="updatePhone"></span>
                    <button class="btn btn-edit" @click="editPhone = true" v-if="!editPhone"><icon-pencil/></button>
                    <button class="btn" @click="editPhone = false" v-if="editPhone"><icon-check/></button>
                </dd>

                <dt>Sexo</dt>
                <dd :class="[{loading: loading && editGender}]">
                    <label>
                        <select v-model="user.profile.gender" :readonly="!editGender" @change="updateGender">
                            <option value="m">Masculino</option>
                            <option value="f">Femenino</option>
                        </select>
                    </label>
                </dd>

                <dt>Data de nascimento</dt>
                <dd :class="[{loading: loading && editBirthDate}]">
                    <input type="text"
                           :readonly="!editBirthDate"
                           :class="[{datepicker: editBirthDate}]"
                           v-model="user.profile.birth_date"
                           @focus="e => e.target.innerHTML = ''"
                           placeholder="dd/mm/aaaa"/>
                    <button class="btn btn-edit" @click="editBirthDate = true" v-if="!editBirthDate"><icon-pencil/></button>
                    <button class="btn" @click="updateBirthDate" v-if="editBirthDate"><icon-check/></button>
                </dd>
            </dl>
            <router-link tag="button" to="/account/interests" class="btn btn-my-interests">Meus Interesses</router-link>
            <router-link tag="button" to="/account/password" class="btn btn-change-password">Alterar Palavra Passe</router-link>
        </div>
    </div>
</template>
<script>
    import IconPencil from "../icons/IconPencil";
    import IconCheck from "../icons/IconCheck";
    export default {
        name: 'AccountInfo',
        components: {IconCheck, IconPencil},
        data() {
            return {
                loading: false,
                user: {},
                editName: false,
                editPhone: false,
                editBirthDate: false,
                editGender: false
            }
        },

        created() {
            this.$emit('updatePageTitle', 'Perfil');
            this.user = this.$store.getters.user;
        },

        mounted() {
            $('.datepicker').datepicker();
        },

        methods: {
            updateGender(e) {
                this.loading = true;
                this.editGender = true;
                this.update({
                    type: 'single_update',
                    prop: 'gender',
                    value: this.user.profile.gender
                })
                    .catch(this.error)
                    .then(this.success)
                    .then(() => this.editGender = false);
            },

            updateBirthDate() {
                this.loading = true;
                this.update({
                    type: 'single_update',
                    prop: 'birth_date',
                    value: this.user.profile.birth_date
                })
                    .catch(this.error)
                    .then(this.success)
                    .then(() => this.editBirthDate = false);
            },

            updatePhone(e) {
                this.loading = true;
                this.update({
                    type: 'single_update',
                    prop: 'phone',
                    value: e.target.textContent.trim()
                })
                    .catch(this.error)
                    .then(this.success)
                    .then(() => this.editPhone = false);
            },

            updateName(e) {
                this.loading = true;
                this.update({
                    type: 'single_update',
                    prop: 'namesurname',
                    value: e.target.textContent
                })
                    .catch(this.error)
                    .then(this.success)
                    .then(() => this.editName = false);
            },

            update(data) {
                return axios({
                    url: '/account',
                    method: 'POST',
                    data
                });
            },

            error(err) {
                this.loading = false;
                this.$root.$emit('errorMessage', err.response.data.message, err.response.data.errors);
                return err.response;
            },

            success(res) {
                this.loading = false;
                this.$root.$emit('successMessage', res.data.message);
                this.user.profile = res.data.profile;
            }
        }
    }
</script>
<style lang="scss" scoped>
    .user-details {
        margin-bottom: 20px;
        max-width: 500px;
        margin: 0 auto;

        dl {
            display: grid;
            grid-template-columns: 200px 1fr;

            dt, dd {
                background-color: #ffffff;
                padding: 0 10px;
                margin-bottom: 5px;
                line-height: 35px;
            }

            dt {
                font-weight: bold;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }

            dd {
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                margin-left: 0;
                position: relative;
                padding-top: 5px;
                padding-bottom: 5px;

                input, select {
                    border-color: transparent;
                    background-color: transparent;
                    height: 35px;
                    padding: 0;
                }

                select {
                    width: 100%;
                    appearance: none;
                }

                span {
                    border: 1px solid transparent;
                    display: block;
                }

                span[contenteditable="true"], input:not([readonly]),  select:not([readonly]) {
                    border-color: #dddddd;
                    padding: 0 10px;
                    border-radius: 3px;
                }

                button {
                    padding: 0;
                    width: 40px;
                    height: 40px;
                    background-color: transparent;
                    right: 10px;
                    top: 2.5px;
                    position: absolute;

                    &.btn-edit {
                        opacity: 0;
                    }

                    &:after {
                        display: none;
                    }

                    svg {
                        width: 20px;
                        height: 20px;
                        fill: #0056b3;
                    }
                }

                &:hover {
                    button {
                        opacity: 1;
                    }
                }

                &.loading {
                    &:after {
                        display: none;
                    }

                    &:before {
                        text-align: center;
                        content: 'Aguarde...';
                        position: absolute;
                        top: 0;
                        background-color: rgba(255, 255, 255, 0.8);
                    }
                }
            }

            @media screen and (max-width: 768px){
                grid-template-columns: 1fr;
                text-align: center;

                dt {
                    margin-bottom: 0;
                    border-top-right-radius: 6px;
                    border-bottom-left-radius: 0;
                    border-bottom: 1px dashed #efefef;
                }

                dd {
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 6px;

                    input, select {
                        text-align: center;
                    }

                    select {
                        text-align-last: center;

                        option {
                            text-align: center;
                        }
                    }


                    span[contenteditable="true"], input:not([readonly]) {
                        padding: 0
                    }
                }
            }
        }

        .btn-change-password, .btn-my-interests {
            background-color: #ffffff;
            border-radius: 6px;
            width: 100%;
            margin-bottom: 10px;
            font-weight: normal;

            &:after {
                display: none;
            }
        }
    }
</style>
