<template>
    <div :class="[{loading}]">
        <div class="no-results-found" v-if="!loading">
            <icon-star width="55px" height="55px" style="opacity: .5"/>
            <p><strong>Não tens nenhum evento favorito.</strong></p>

        </div>
    </div>
</template>
<script>
    import IconStar from "../icons/IconStar";
    export default {
        name: 'AccountFavorites',
        data() {
            return {
                loading: false
            }
        },
        components: {
            IconStar
        },
        created() {
            this.$emit('updatePageTitle', 'Favoritos');
        }
    }
</script>