<template>
    <div class="container">
        <section id="main-header">
            <router-link to="/" class="app-logo" tag="div">
                <icon-logo-simplified/>
            </router-link>

            <div class="page-title">
                {{ pageTitle }}
            </div>

            <div class="hamburger" @click="sideMenuIsActive = !sideMenuIsActive">
                <button class="btn btn-simple menu-toggle">
                    <icon-hamburger/>
                </button>
            </div>
        </section>

        <transition name="fade">
            <router-view class="content"
                         @updatePageTitle="(pl) => pageTitle = pl"
                         v-if="!loading"/>
        </transition>

        <aside :class="['side-menu', {active: sideMenuIsActive}]">
            <ol>
                <router-link tag="li" :to="{name: 'AccountIndex'}">
                    <a href="#" v-if="$store.getters.user">
                        <icon-user/>
                        Perfil
                    </a>
                    <button class="close-btn" @click="sideMenuIsActive = !sideMenuIsActive">
                        <icon-menu-close/>
                    </button>
                </router-link>
                <li class="separator"></li>
                <router-link tag="li" :to="{name: 'MyWallet'}">
                    <a>
                        <icon-wallet/>
                        Carteira
                    </a>
                </router-link>
                <router-link tag="li" :to="{name: 'MyBookings'}">
                    <a>
                        <icon-ticket width="24" height="24" fill="#ffffff"/>
                        Reservas
                    </a>
                </router-link>
                <router-link tag="li" :to="{name: 'FavoriteEvents'}">
                    <a>
                        <icon-star width="24" height="24" fill="#ffffff"/>
                        Favoritos
                    </a>
                </router-link>
                <li class="separator"></li>
                <router-link tag="li" :to="{name: 'AccountSettings'}">
                    <a>
                        <icon-settings/>
                        Definições
                    </a>
                </router-link>
                <li class="separator"></li>
                <li @click.prevent="logout">
                    <a>
                        <icon-power/>
                        Sair
                    </a>
                </li>
            </ol>
        </aside>
    </div>
</template>
<script>
    import IconHamburger from "../icons/IconHamburger";
    import IconLogoSimplified from "../icons/IconLogoSimplified";
    import IconUser from "../icons/IconUser";
    import IconWallet from "../icons/IconWallet";
    import IconSettings from "../icons/IconSettings";
    import IconPower from "../icons/IconPower";
    import IconTicket from "../icons/IconTicket";
    import IconMenuClose from "../icons/IconMenuClose";
    import IconStar from "../icons/IconStar";
    import auth from "../../auth";

    export default {
        name: 'AccountIndex',

        data() {
            return {
                sideMenuIsActive: false,
                pageTitle: '',
                loading: false,
            }
        },

        created() {
            this.$router.beforeEach((to, from, next) => {
                this.sideMenuIsActive = false;
                this.pageTitle = '';
                next();
            });
        },

        methods: {
            logout() {
                this.loading = true;
                auth.logout()
                    .then(() => {
                        window.location.href = '/'
                    })
            }
        },

        components: {
            IconStar,
            IconMenuClose,
            IconTicket,
            IconPower,
            IconSettings,
            IconWallet,
            IconUser,
            IconLogoSimplified,
            IconHamburger
        }
    }
</script>
<style lang="scss" src="../../../scss/components/_account.scss"></style>
<style lang="scss" src="./styles.scss" scoped></style>
