<template>
    <div>
    </div>
</template>
<script>
    export default {
        name: 'AccountSettings',

        created() {
            this.$emit('updatePageTitle', 'Definições');
        }
    }
</script>