<template>
    <div :class="[{loading}]">
        <form id="form-change-password" method="post" @submit.prevent="updatePassword">
            <div>
                <label for="old-password">Palavra passe antiga</label>
                <input type="password"
                       :class="[{error: errors.old_password}]"
                       id="old-password"
                       v-model="oldPassword" required/>
                <small v-if="errors.old_password" class="error">{{ errors.old_password[0] }}</small>
            </div>
            <div>
                <label for="new-password">Nova Palavra passe</label>
                <input type="password"
                       :class="[{error: errors.new_password}]"
                       id="new-password" v-model="newPassword" required/>
                <small v-if="errors.new_password" class="error">{{ errors.new_password[0] }}</small>
            </div>
            <div>
                <label for="new-password-confirmation">Confirmar nova Palavra passe</label>
                <input type="password"
                       id="new-password-confirmation"
                       v-model="passwordConfirmation" required/>
            </div>
            <div>
                <button class="btn btn-primary">Guardar</button>
                <input type="hidden" name="_token" :value="token"/>
            </div>
        </form>
    </div>
</template>
<script>
    import {updateUserPassword} from "../../helpers";

    export default {
        name: 'AccountPassword',

        data() {
            return {
                token: '',
                oldPassword: '',
                newPassword: '',
                passwordConfirmation: '',
                errors: {},
                loading: false
            }
        },

        created() {
            this.token = document.head.querySelector('meta[name="csrf-token"]').content;
            this.$emit('updatePageTitle', 'Alerar Palavra Passe');
        },

        methods: {
            updatePassword() {
                this.loading = true;
                updateUserPassword(this.oldPassword, this.newPassword, this.passwordConfirmation)
                    .catch(err => {
                        this.$root.$emit('errorMessage', err.response.data.message, err.response.data.errors);
                        this.errors = err.response.data.errors;
                        return err.response;
                    })
                    .then(res => {
                        this.loading = false;
                        if (res.status === 200) {
                            this.$root.$emit('successMessage', res.data.message);
                            this.errors = {};
                            this.oldPassword = '';
                            this.newPassword = '';
                            this.passwordConfirmation = '';
                        }
                    })
            }
        }
    }
</script>
<style lang="scss" scoped>
    .content {
        align-content: center;
    }
    #form-change-password {
        margin-top: 20px;
        background-color: #ffffff;
        border-radius: 6px;
        padding: 10px;
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;

        > div {
            display: flex;
            flex-flow: column;
            flex-grow: 1;
            margin-bottom: 10px;

            label {
                margin-bottom: 7px;
            }

            input {
                width: auto;

                &.error {
                    border-color: red;
                }
            }

            small.error {
                color: red;
                margin: 3px 0;
            }
        }
    }
</style>