<template>
    <div :class="[{loading}]">
        <ol v-if="!loading && interests.length">
            <staggered-fade-animation class="interests">
                <li v-for="interest of interests" :key="interest.id">{{ interest.name }}</li>
            </staggered-fade-animation>
        </ol>
        <div class="no-results-found" v-else-if="!loading">
            <icon-broken-heart width="55px" height="55px" style="opacity: .5"/>
            <p><strong>Não tens nenhum interesse associado a conta.</strong></p>
            <br>
            <router-link :to="{name: 'RegistrationInterests'}">Escolher Interesses</router-link>
        </div>
    </div>
</template>
<script>
    import IconBrokenHeart from "../icons/IconBrokenHeart";
    import StaggeredFadeAnimation from "../animations/StaggeredFadeAnimation";
    export default {
        name: 'AccountInterests',
        components: {StaggeredFadeAnimation, IconBrokenHeart},
        data() {
            return {
                loading: false,
                interests: []
            }
        },

        created() {
            this.$emit('updatePageTitle', 'Interesses');

            this.loading = true;
            axios({
                url: '/api/user/interests'
            })
                .catch(err => {
                    this.$root.$emit('errorMessage', err.response.data.message, err.response.data.errors);
                    return err.repsonse;
                })
                .then(res => {
                    this.interests = res.data;
                    this.loading = false;
                });
        }
    }
</script>
<style lang="scss" scoped>
    ol {
        padding: 0;
        margin: 20px 0 10px;
        list-style: none;

        li {
            background-color: #ffffff;
            border-radius: 6px;
            padding: 10px;
            margin-bottom: 3px;
        }
    }
</style>