$grid-columns: 24;
$grid-rows: 13;
$grid-columns-mobile: 12;
$grid-rows-mobile: auto;
$grid-gap: 1em;

.container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  grid-template-rows: 50px repeat($grid-rows, 1fr);
  height: 100vh;
  width: 100vw;

  .message-container {
    width: calc(100% - 320px);
  }

  @media screen and (max-width: 768px) {
    overflow-x: hidden;
    grid-template-columns: repeat($grid-columns-mobile, 1fr);
    grid-template-rows: repeat($grid-rows-mobile, 1fr);

    .message-container {
      width: 100%;
    }
  }
}

#main-header {
  height: 50px;
  background-color: #ffffff;
  overflow: hidden;
  grid-column: 1 / -2;
  grid-row-start: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: 1px solid #f2f2f2;

  .app-logo {
    line-height: 50px;
    margin-left: 10px;

    > * {
      height: 100%;
    }
  }

  .page-title {
    flex-grow: 1;
    align-self: center;
    text-align: center;
    font-weight: bold;
  }

  .hamburger {
    .btn.menu-toggle {
      padding: 0;
      width: 50px;
      height: 100%;
      background-color: transparent;
      border-radius: 0;
      display: none;

      @media screen and (max-width: 768px) {
        display: block;
      }
    }
  }

  @media screen and (max-width: 768px) {
    grid-column: 1 / -1;
  }
}

.content {
  background-color: #dae3ed;
  grid-column: 1 / -2;
  grid-row: 2 / -1;
  padding: 0 10px;
  overflow-y: scroll;
  overflow-x: hidden;

  @media screen and (max-width: 768px) {
    grid-column: 1 / -1;
    overflow-y: auto;
  }
}

.side-menu {
  grid-row: 1 / -1;
  grid-column-start: -2;
  z-index: 100;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  display: grid;

  ol {
    max-width: 100%;
    width: 320px;
    background-image: linear-gradient(#114373 0%, #07203F 100%);
    list-style: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
    height: 100%;
    justify-self: end;

    li {
      height: 50px;
      line-height: 50px;
      a {
        display: block;
        padding: 0 15px;
        color: inherit;

        svg {
          float: left;
          height: 100%;
          margin-right: 15px;
        }
      }

      &.separator {
        height: 2px;
        border-top: 1px solid #041321;
        border-bottom: 1px solid #28547D;
      }

      .close-btn {
        position: absolute;
        right: 5px;
        top: 5px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    opacity: 0;
    grid-column: 1 / -1;
    justify-self: end;
    transition: 150ms opacity;
    z-index: -1;

    ol {
      transform: translateX(100%);
      transition: 200ms transform;
    }

    &.active {
      opacity: 1;
      z-index: 100;

      ol {
        transform: translateX(0);
      }
    }
  }
}