<!--
  - @copyright 2020.
  - @author Amandio Khuta Nhamande <amandio16@gmail.com>
  - @license MIT
  -
  -->

<template>
    <div :class="['content-wrapper', {loading: loading}]">
        <header>
            <list-search-form placeholder="Procurar por categorias"></list-search-form>

            <div class="statistics">
                <span>{{ info.total }} Total</span>
                <span><a href="/admin/reports/categories">Ver mais</a></span>
            </div>

            <admin-action-buttons
                    :refresh="fetchCategories"
                    :add="handleAddClickAction"
                    :settings="{}"/>
        </header>
        <admin-categories-list-table
                :categories="categories"
                v-if="categories.length"
                @loading="pl => loading = pl"
                @refreshCategoriesList="fetchCategories"/>
    </div>
</template>
<script>
    import ListSearchForm from "../SearchForm";
    import AdminActionButtons from "../ActionButtons";
    import {fetchCategories} from "../../../helpers";
    import AdminCategoriesListTable from "./AdminCategoriesListTable";

    export default {
        name: 'AdminCategoriesList',
        data() {
            return {
                loading: false,
                categories: [],
                info: {}
            }
        },

        created () {
            this.fetchCategories();
        },

        methods: {
            fetchCategories() {
                this.loading = true;
                fetchCategories({
                    sort: 'asc',
                    ob: 'name'
                })
                    .then(res => {
                        this.categories = res.data.categories;
                        this.info = res.data.info;
                    })
                    .catch((err) => {
                        this.$root.$emit('errorMessage', err.response.data);
                    })
                    .then(() => {
                        this.loading = false;
                    })
            },

            handleAddClickAction () {
                this.$router.push('/admin/categories/create');
            }
        },

        components: {
            AdminCategoriesListTable,
            AdminActionButtons,
            ListSearchForm
        }
    }
</script>
