<template>
    <div :class="['content-wrapper', {loading: loading}]">
        <div>
            <form>
                <input type="file">
                <button class="btn">Importar</button>
            </form>
        </div>
        <div class="help-block">
            <p>
                Importa uma lista de categorias para base de dados. O tipo de ficheiros suportados são:
                <strong>.csv</strong>, <strong>.xsls</strong>, <strong>.xml</strong> e <strong>.json</strong>
            </p>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'AdminCategoriesImport',
        data() {
            return {
                loading: false
            }
        }
    }
</script>