<template>
    <table :class="['table']" id="eventon-categories-list">
        <thead>
        <tr>
            <th>Nome</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="category of categories" :key="category.id" @contextmenu.prevent="() => initContextMenu(category)">
            <td>{{ category.name }}</td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
      name: 'AdminCategoriesListTable',
      props: ['categories'],

      data() {
        return {
          dt: {},
          selectedRows: [],
          massDeleteAllowed: false,
          massDeleteRows: [],
          searchQuery: '',
          page: 1
        }
      },

      mounted() {
        this.initDataTables();
        this.$root.$on('searchContentEvent', this.searchInTable);
      },

      methods: {
        searchInTable(pl) {
          this.dt.search(pl).draw()
        },

        initDataTables() {
          this.dt = $('#eventon-categories-list').DataTable({
            dom: 'tp',
            saveState: true,
            order: []
          })
        },

        deleteCategory(id) {
          return deleteCategory(id)
            .then(res => {
              this.$root.$emit('successMessage', res.data);
              this.$emit('refreshCategoriesList');
            })
            .catch(err => {
              this.$root.$emit('errorMessage', err.response.data);
            });
        },

        initContextMenu(category) {
          contextMenu.menu.view.disabled = false;
          contextMenu.menu.view.select = () => {
            this.$router.push('/admin/categories/' + category.id + '/view')
          };

          contextMenu.menu.edit.disabled = false;
          contextMenu.menu.edit.select = () => {
            this.$router.push('/admin/categories/' + category.id + '/edit')
          };

          contextMenu.menu.delete.disabled = false;
          contextMenu.menu.delete.select = () => this.deleteCategory(category.id);

          contextMenu.menu.cancel.hidden = true;
          contextMenu.menu.confirm.hidden = true;
          contextMenu.menu.print.hidden = true;
          contextMenu.show();
        }
      }
    }
</script>