<template>
    <div :class="['content-wrapper', {loading: loading}]">
        <header>
            <back-button :handler="() => $router.push('/admin/categories')"></back-button>
            <h3 class="title">Nova Categoria</h3>
        </header>

        <div>
            <form @submit.prevent="saveForm">
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" v-model="name" class="form-control">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    import BackButton from '../../ui/BackButton';
    import {storeCategory} from '../../../helpers';

  export default {
    name: 'AdminCategoriesCreate',
    data() {
      return {
        loading: false,
        name: ''
      }
    },

    methods: {
      saveForm() {
        this.loading = true;

        storeCategory({
          name: this.name
        })
          .then(res => {
            this.$root.$emit('successMessage', res.data);
            this.name = '';
          })
          .catch(err => {
            this.$root.$emit('errorMessage', err.response.data)
          })
          .then(() => this.loading = false);
      }
    },

    components: {
      BackButton
    }
  }
</script>