<template>
    <table :class="['table']" id="eventon-events-list">
        <slot></slot>
        <thead>
        <tr>
            <th><input type="checkbox"></th>
            <th>ID</th>
            <th>Titulo</th>
            <th>Cidade</th>
            <th>Local</th>
            <th>Data/Hora</th>
            <th>Estado</th>
            <th>Promotor</th>
        </tr>
        </thead>

        <tbody>
        <tr v-for="event of events" @contextmenu.prevent="() => initContextMenu(event)">
            <td class="center"><input type="checkbox"></td>
            <td class="center">{{ event.id }}</td>
            <td><a :href="`/admin/events/${event.id}/view`">{{ event.title }}</a></td>
            <td>{{ event.location_city }}</td>
            <td>{{ event.location }}</td>
            <td>
                <div><strong>Início:</strong> {{ moment(event.begin_time).format('DD/MM/YYYY') }} {{ moment(event.begin_time).format('HH:mm') }}</div>
                <div><strong>Termino:</strong> {{ moment(event.end_time).format('DD/MM/YYYY') }} {{ moment(event.end_time).format('HH:mm') }}</div>
            </td>
            <td class="center">{{ event.status ? 'Publicado' : 'Pendente' }}</td>
            <td>{{ event.promoter ? event.promoter.representative_name : 'N/A' }}</td>
        </tr>
        </tbody>
    </table>
</template>
<script>
    import {deleteEvent, publishEvent} from "../../../helpers";
    import {togglePublishEvent} from "../vue_helpers";

    export default {
        name: 'AdminEventsListTable',
        props: ['events', 'singleDisplay'],
        data() {
            return {
                moment: moment,
                dt: {},
                selectedRows: [],
                massDeleteAllowed: false,
                massDeleteRows: [],
                searchQuery: '',
                page: 1
            }
        },

        mounted() {
            this.initDataTables();
            this.$root.$on('searchContentEvent', this.searchInTable);
        },

        methods: {
            searchInTable(pl) {
                this.dt.search(pl).draw()
            },

            initDataTables() {
                this.dt = $('#eventon-events-list').DataTable({
                    dom: this.singleDisplay ? 't' : 'tp',
                    saveState: true,
                    order: [],
                    columnDefs: [
                        {targets: [0], orderable: false}
                    ]
                })
            },

            deleteEvent(id) {
                return deleteEvent(id)
                    .then(res => {
                        this.$root.$emit('successMessage', res.data);
                        this.$emit('refreshEventsList');
                    })
                    .catch(err => {
                        this.$root.$emit('errorMessage', err.response.data);
                    });
            },

            initContextMenu(event) {
                contextMenu.menu.view.disabled = false;
                contextMenu.menu.view.select = () => {
                    this.$router.push(`/admin/events/${event.id}/view`);
                };

                contextMenu.menu.edit.disabled = false;
                contextMenu.menu.edit.select = () => {
                    this.$router.push(`/admin/events/${event.id}/edit`);
                };

                contextMenu.menu.delete.disabled = false;
                contextMenu.menu.delete.select = () => this.deleteEvent(event.id);

                contextMenu.menu.confirm.label = !event.status ? 'Publicar' : 'Cancelar';
                contextMenu.menu.confirm.disabled = false;
                contextMenu.menu.confirm.select = () => {
                    this.$emit('loading', true);
                    togglePublishEvent(this, event)
                        .then(() => {
                            this.$emit('refreshEventsList');
                            this.$emit('loading', false)
                        });
                };

                contextMenu.menu.cancel.hidden = true;
                contextMenu.show();
            }
        }
    }
</script>