<template>
    <div class="form-wrapper">
        <div class="title">Novo Bilhete</div>
        <form @submit.prevent="() => editing ? updateForm() : saveForm()">
            <div class="form-group" v-if="create">
                <label for="event">Evento <span class="required">*</span></label>
                <input-selector id="event"
                                :search="fetchEvents"
                                :ajax="fetchEvents"
                                @change="data => event = data.id"/>
            </div>
            <div class="form-group">
                <label>Nome <span class="required">*</span></label>
                <input type="text" class="input text" v-model="ticket.name">
            </div>

            <div class="form-group">
                <label>Descrição <span class="required">*</span></label>
                <input type="text" class="input text" v-model="ticket.description">
            </div>

            <div class="break"></div>

            <div class="form-group">
                <label>Quantidade <span class="required">*</span></label>
                <input type="number" class="input text" v-model="ticket.quantity">
            </div>

            <div class="form-group">
                <label>Reserva Minima <span class="required">*</span></label>
                <input type="number" class="input text" v-model="ticket.min_reservation_quantity">
            </div>

            <div class="form-group">
                <label>Reserva Maxima <span class="required">*</span></label>
                <input type="number" class="input text" v-model="ticket.max_reservation_quantity">
            </div>

            <div class="form-group">
                <label>Preço <span class="required">*</span></label>
                <input type="text" class="input text" v-model="ticket.price"
                       @focus="unformatMoney"
                       @blur="formatMoney"
                       :readonly="editing"
                       :disabled="editing">
                <small class="help-text">Deixe o valor 0 (zero) se for convite ou entrada gratuita.</small>
            </div>

            <div class="break"></div>

            <div class="form-group">
                <label><input type="checkbox" v-model="ticket.status"> Publicar ao Guardar</label>
            </div>

            <div class="break"></div>

            <div class="form-group">
                <button class="btn btn-primary">Guardar</button>
                <button class="btn btn-simple" @click.prevent="handleCancelButton">Cancelar</button>
            </div>
        </form>

        <hr class="separator">
    </div>
</template>

<script>
    import {fetchAdminEvents, storeEventTicket, updateTicket} from "../../../helpers";
    import InputSelector from "../../ui/InputSelector";

    export default {
        name: 'AdminEventsTicketsForm',
        components: {InputSelector},
        props: ['eventId', 'editing', 'create'],

        data() {
            return {
                event: null,
                ticket: {
                    name: '',
                    description: '',
                    quantity: 10,
                    min_reservation_quantity: 1,
                    max_reservation_quantity: 10,
                    price: 10,
                    status: false
                }
            }
        },

        created() {
            this.initForm();
            this.formatMoney();
        },

        computed: {
            'computedEventId': function () {
                return this.create ? this.event : this.eventId;
            }
        },

        methods: {
            fetchEvents (query) {
                return fetchAdminEvents({qs: query})
                    .then(res => {
                        return _.map(res.data.events, function (event) {
                            return {
                                id: event.id,
                                label: event.title,
                            }
                        })
                    })
                    .catch(err => {
                        this.$root.$emit('errorMessage', err.response.data.message)
                    })
            },

            initForm() {
                this.ticket = this.editing ? this.editing : {
                    name: '',
                    description: '',
                    quantity: 1,
                    min_reservation_quantity: 1,
                    max_reservation_quantity: 1,
                    price: 0,
                    status: false
                };
            },

            saveForm() {
                this.$emit('loading', true);
                this.unformatMoney();
                let id = this.computedEventId;

                storeEventTicket(id, this.ticket)
                    .then(res => {
                        this.$root.$emit('successMessage', res.data.message);
                        this.$emit('reloadTickets');
                        this.$emit('hideForm')
                    })
                    .catch(err => {
                        this.$root.$emit('errorMessage', err.response.data.message);
                    })
                    .then(() => {
                        this.$emit('loading', false);
                    })
            },

            updateForm() {
                this.loading = true;
                updateTicket(this.id, {
                    id: this.ticket.id,
                    name: this.ticket.name,
                    description: this.ticket.description,
                    quantity: this.ticket.quantity,
                    min_reservation_quantity: this.ticket.min_reservation_quantity,
                    max_reservation_quantity: this.ticket.max_reservation_quantity,
                    status: this.ticket.status
                })
                    .catch(err => {
                        this.$root.$emit('errorMessage', err.response.data.message);
                        return err.response;
                    })
                    .then(res => {
                        this.$root.$emit('successMessage', res.data.message);
                        this.$emit('reloadTickets');
                        this.$emit('hideForm')
                    })
            },

            unformatMoney() {
                this.$set(this.ticket, 'price', accounting.unformat(this.ticket.price))
            },

            formatMoney() {
                this.$set(this.ticket, 'price', accounting.formatMoney(this.ticket.price))
            },

            handleCancelButton() {
                this.$emit('hideForm');
            }
        }
    }
</script>

<style lang="scss" scoped>
    .form-wrapper {
        background-color: #f0f0f0;
        padding-top: 8px;

        form {
            display: flex;
            flex-wrap: wrap;

            .input-group {
                width: auto;
            }

            .form-group {
                flex-grow: 1;
                margin-bottom: 15px;
                padding-right: 10px;
                padding-left: 10px;

                label {
                    display: block;
                    margin-bottom: 7px;
                }

                .input.text {
                    width: 100%;
                }
            }

            .break {
                height: 0;
                flex-basis: 100%;
            }
        }
    }
</style>