<template>
    <form @submit.prevent="saveForm" :class="[{loading}]">
        <div class="form-group image-upload">
            <label>Imagem de Cartaz <span class="required">*</span></label>
            <div class="file-uploader" @click.stop="openFileChooser('cover')">
                <span class="placeholder">Carregar Ficheiro</span>
                <span class="file-preview">{{ event.cover ? event.cover.name : '' }}</span>
                <input type="file" id="cover" ref="cover" @change="handleFileUpload('cover')">
                <span class="help-text">Resolução minima 800x640 | 2MB Máximo</span>
            </div>
        </div>

        <div class="form-group image-upload">
            <label>Imagem de Capa</label>
            <div class="file-uploader" @click.stop="openFileChooser('cover_thumbnail')">
                <span class="placeholder">Carregar Ficheiro</span>
                <span class="file-preview">{{ event.cover_thumbnail ? event.cover_thumbnail.name : '' }}</span>
                <input type="file" id="cover_thumbnail" ref="cover_thumbnail" @change="handleFileUpload('cover_thumbnail')">
                <span class="help-text">Resolução maxima 500x500 | 2MB Máximo</span>
            </div>
        </div>

        <div class="break"></div>

        <div :class="['form-group',{error: errors['event.title']}]">
            <label>Titulo <span class="required">*</span></label>
            <input type="text" class="input text" v-model="event.title" @change="updateUrl">
        </div>

        <div :class="['form-group',{error: errors['event.category_id']}]">
            <label>Categoria <span class="required">*</span></label>
            <input-selector :search="fetchCategories"
                            :ajax="fetchCategories"
                            @change="data => $set(event, 'category_id', data.id)"/>
        </div>

        <div class="break"></div>

        <div :class="['form-group',{error: errors['event.location_city']}]">
            <label>Cidade <span class="required">*</span></label>
            <input type="text" class="input text" v-model="event.location_city">
        </div>

        <div :class="['form-group',{error: errors['event.location']}]">
            <label>Local do Evento <span class="required">*</span></label>
            <input type="text" class="input text" v-model="event.location">
        </div>

        <div :class="['form-group',{error: errors['event.promoter_id']}]">
            <label>Promotor <span class="required">*</span></label>
            <input-selector :search="fetchPromoters"
                            :ajax="fetchPromoters"
                            @change="data => $set(event, 'promoter_id', data.id)"/>
        </div>

        <div class="break"></div>

        <div :class="['form-group datetime', {error: errors['event.begin_time']}]">
            <label>Data e Hora de Início <span class="required">*</span></label>
            <div class="input-group">
                <input type="text" class="input text"
                       id="begin-date"
                       placeholder="dd/mm/aaaa"
                       readonly
                       autocomplete="off"/>
                <input type="text"
                       class="input text"
                       id="begin-time"
                       placeholder="hh:mm"
                       readonly
                       autocomplete="off"/>
            </div>
            <input type="hidden" v-model="event.begin_time">
        </div>

        <div :class="['form-group datetime', {error: errors['event.end_time']}]">
            <label>Data e Hora de Termino <span class="required">*</span></label>
            <div class="input-group">
                <input type="text"
                       class="input text"
                       id="end-date"
                       placeholder="dd/mm/aaaa"
                       readonly
                       autocomplete="off">
                <input type="text"
                       class="input text"
                       id="end-time"
                       placeholder="hh:mm"
                       readonly
                       autocomplete="off">
            </div>
            <input type="hidden" v-model="event.end_time">
        </div>

        <div class="form-group" style="flex-grow: 2;">
            <label>Url do Evento</label>
            <input type="text" class="input text" v-model="event.alias" readonly>
        </div>

        <div class="break"></div>

        <div :class="['form-group',{error: errors['event.description']}]">
            <label>Descrição <span class="required">*</span></label>
            <textarea class="input text" v-model="event.description"></textarea>
        </div>

        <div class="break"></div>

        <div class="form-group">
            <label><input type="checkbox" v-model="event.status"> Publicar ao Guardar</label>
        </div>

        <div class="break"></div>

        <div class="form-group">
            <button class="btn btn-primary">Agendar</button>
        </div>
    </form>
</template>
<script>
    import {
        fileUpload,
        fetchPromoters,
        generateSlug,
        storeEvent,
        fetchCategories,
        initDatePicker, initTimePicker
    } from "../../../helpers";
    import InputSelector from "../../ui/InputSelector";

    export default {
        name: 'AdminEventsForm',
        props: ['editing', 'editing'],

        components: {
            InputSelector
        },

        data() {
            return {
                loading: false,
                beginDate: '',
                beginTime: '',
                endDate: '',
                endTime: '',
                filesUploaded: false,
                event: null,
                errors: {}
            }
        },

        created () {
            this.initForm();
        },

        mounted() {
            initDatePicker('#begin-date', date => this.beginDate = date);
            initDatePicker('#end-date', date => this.endDate = date);
            initTimePicker('#begin-time', time => this.beginTime = time);
            initTimePicker('#end-time', time => this.endTime = time);
        },

        methods: {
            fetchCategories (query) {
                return fetchCategories(query)
                    .then(res => {
                        return _.map(res.data.categories, function (category) {
                            return {
                                id: category.id,
                                label: category.name,
                            }
                        })
                    })
                    .catch(err => {
                        this.$root.$emit('errorMessage', err.response.data.message)
                    })
            },

            openFileChooser (target) {
                let t = document.getElementById(target);

                if (t !== undefined) {
                    t.click();
                }
            },

            initForm() {
                this.event = this.editing ? this.editing : {
                    title: '',
                    description: '',
                    location_city: '',
                    location: '',
                    promoter_id: null,
                    alias: '',
                    begin_time: '',
                    end_time: '',
                    cover: null,
                    cover_thumbnail: null,
                    status: false,
                    category_id: null
                }
            },

            handleFileUpload(prop) {
                this.event[prop] = this.$refs[prop].files[0];
            },

            updateUrl(e) {
                let title = e.target.value;
                this.getSlug(title)
                    .then(slug => this.event.alias = slug);
            },

            getSlug(title) {
                return generateSlug(title)
                    .then(res => {
                        return res.data.slug;
                    })
                    .catch(err => {
                        this.$root.$emit('errorMessage', err.response.data.message);
                    })
            },

            updateEvent() {
                this.loading = false;
            },

            storeEvent() {
                this.event.end_time = this.endDate + ' ' + this.endTime;
                this.event.begin_time = this.beginDate + ' ' + this.beginTime;

                storeEvent(this.event)
                    .catch(err => {
                        this.$root.$emit('errorMessage', err.response.data.message);
                        this.errors = err.response.data.errors;
                        this.loading = false;
                        return err.response;
                    })
                    .then(res => {
                        if (res.status === 200) {
                            this.$root.$emit('successMessage', res.data.message);
                            this.initForm();
                            this.loading = false;

                            if (res.data && res.data.event) {
                                this.$router.push(`/admin/events/${res.data.event.id}/tickets`);
                            }
                        }
                    });
            },

            saveForm() {
                this.loading = true;
                if (this.filesUploaded) {
                    if (!this.editing) {
                        this.storeEvent();
                    } else {
                        this.updateEvent();
                    }
                } else {
                    let files = [this.event.cover, this.event.cover_thumbnail];

                    fileUpload(_.compact(files))
                        .catch(err => {
                            this.$root.$emit('errorMessage', err.response.data.message);
                            this.filesUploaded = false;

                            return err.response;
                        })
                        .then(res => {
                            if (res.status === 200) {
                                this.event.cover = res.data[0].path;
                                this.event.cover_thumbnail = res.data[1] ? res.data[1].path : this.event.cover;
                                this.filesUploaded = true;

                                this.saveForm();
                            }
                        })
                        .then(() => this.loading = false)
                }
            },

            fetchPromoters(query) {
                return fetchPromoters(query)
                    .then(res => {
                        return _.map(res.data.promoters, function (promoter) {
                            return {
                                id: promoter.id,
                                label: promoter.representative_name,
                                description: promoter.name
                            }
                        })
                    })
                    .catch(err => {
                        this.$root.$emit('errorMessage', err.response.data)
                    })
            }
        }
    }
</script>

<style lang="scss" scoped>
    .file-uploader {
        background-color: #EFEFEF;
        border: 2px dashed #CCCCCC;
        padding: 10px;
        text-align: center;
        cursor: pointer;

        .placeholder {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 1.3em;
            color: #999999;
        }

        input[type="file"] {
            position: absolute;
            top: -9999px;
        }
    }

    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .break {
            flex-basis: 100%;
            height: 0;
        }

        .form-group {
            margin-bottom: 15px;
            flex-grow: 1;
            display: flex;
            flex-flow: column;
            padding: 0 10px;

            label {
                margin-bottom: 7px;
            }

            .input.text, .input-selector {
                width: 100%;
            }

            .help-text, .info-text {
                display: block;
                font-size: 0.9em;
                color: #999999;
            }

            &.datetime {
                flex-grow: 1;
                .input.text {
                    width: 50%;
                    float: left;

                    &:last-of-type {
                        border-left: none;
                    }
                }
            }
        }
    }
</style>