<template>
    <div :class="['content-wrapper', {loading: loading}]">
        <header>
            <back-button :handler="() => this.$router.push('/admin/events')"/>

            <h3 class="title" v-if="info.event_title">Evento | {{ info.event_title }} | Reservas</h3>

            <admin-action-buttons
                    :refresh="fetchBookings"/>
        </header>

        <div class="content">
            <div>
                <list-search-form placeholder="Procurar por reservas"/>

                <div class="statistics">
                    <span>{{ info.confirmed }} Confirmados</span>
                    <span>{{ info.pending }} Pendentes</span>
                    <span>{{ info.total }} Total</span>
                    <span><a href="/admin/reports/bookings">Ver mais</a></span>
                </div>
            </div>

            <admin-bookings-list-table
                    v-if="bookings.length"
                    :bookings="bookings"
                    @refreshBookingsList="fetchBookings"/>
        </div>

    </div>
</template>
<script>
    import AdminActionButtons from "../ActionButtons";
    import BackButton from "../../ui/BackButton";
    import {fetchBookingsByEventId} from "../../../helpers";
    import AdminBookingsListTable from "../bookings/AdminBookingsListTable";
    import ListSearchForm from "../SearchForm";

    export default {
        name: 'AdminEventsBookings',
        props: ['id'],

        components: {
            ListSearchForm,
            AdminBookingsListTable,
            BackButton,
            AdminActionButtons
        },

        data() {
            return {
                loading: false,
                event: null,
                bookings: [],
                info: {}
            }
        },

        created() {
            this.fetchBookings();
        },

        methods: {
            fetchBookings() {
                this.loading = true;
                fetchBookingsByEventId(this.id, {
                    load: 'bookings.event,bookings.ticket,bookings.owner,bookings.transaction'
                })
                    .catch(err => {
                        this.$root.$emit('errorMessage', err.response.data.message);
                        return err.response;
                    })
                    .then(res => {
                        this.bookings = res.data.bookings;
                        this.info = res.data.info;
                        this.loading = false;
                    })
            }
        }
    }
</script>