<template>
    <div :class="['content-wrapper', {loading: loading}]">
        <header>
            <back-button :handler="() => goTo('/admin/events')"></back-button>
            <h3 class="title">Agendar Evento</h3>
        </header>

        <div class="content">
            <admin-events-form/>
        </div>
    </div>
</template>
<script>
    import BackButton from "../../ui/BackButton";
    import AdminEventsForm from "./AdminEventsForm";

    export default {
        name: 'AdminEventsCreate',

        data() {
            return {
                loading: false
            }
        },

        components: {
            AdminEventsForm,
            BackButton
        },

        methods: {
            goTo(url) {
                this.$router.push(url)
            }
        }
    }
</script>
