<template>
    <div :class="['content-wrapper', {loading}]">
        <header>
            <back-button :handler="() => this.$router.push('/admin/events')"/>
            <h3 class="title">Evento | {{ event }} | Bilhetes</h3>

            <admin-action-buttons
                    :add="() => showForm = !showForm"
                    :trash="{}"/>
        </header>

        <div class="content">
            <transition name="fade">
                <admin-events-tickets-form
                        v-if="showForm"
                        @hideForm="() => { showForm = false; editing = false}"
                        :eventId="id"
                        @loading="pl => loading = pl"
                        @reloadTickets="fetchTickets"
                        :editing="editing"/>
            </transition>

            <admin-tickets-list-table :tickets="tickets"
                                      v-if="tickets.length"
                                      @editTicketEvent="ticket => editing = ticket"/>
        </div>

        <div v-if="!loading && !tickets.length">
            <p>Este evento não possui nenhum Bilhete. Crie um agora para permitir que reservas sejam efectuadas.</p>
        </div>
    </div>
</template>
<script>
    import {fetchTicketsByEventId} from "../../../helpers";
    import AdminActionButtons from "../ActionButtons";
    import BackButton from "../../ui/BackButton";
    import AdminEventsTicketsForm from "./AdminEventsTicketsForm";
    import IconPencil from "../../icons/IconPencil";
    import AdminTicketsListTable from "../tickets/AdminTicketsListTable";

    export default {
        name: 'AdminEventsTickets',
        components: {AdminTicketsListTable, IconPencil, AdminEventsTicketsForm, BackButton, AdminActionButtons},
        props: ['id'],
        data() {
            return {
                loading: false,
                showForm: false,
                tickets: [],
                event: '',
                editing: false,
                accounting
            }
        },

        created() {
            this.fetchTickets();
        },

        watch: {
            'editing': function(nv, ov) {
                this.showForm = !!nv;
            }
        },

        methods: {
            fetchTickets() {
                this.loading = true;
                fetchTicketsByEventId(this.id)
                    .catch(err => {
                        this.$root.$emit('errorMessage', err.response.data.message);
                        return err.response;
                    })
                    .then(res => {
                        this.tickets = res.data;
                        this.event = res.data.length ? res.data[0].event.title : '';
                        this.loading = false;
                    })
            }
        }
    }
</script>

<style lang="scss" scoped>
    .table {
        td {
            text-align: center;
        }
    }
</style>