<template>
    <div :class="['content-wrapper', {loading: loading}]">
        <header>
            <back-button :handler="() => goTo('/admin/events')"></back-button>
            <h3 class="title">Editar Evento</h3>
        </header>

        <div class="content">
            <admin-events-form :editing="event" v-if="!loading && event"/>
        </div>
    </div>
</template>
<script>
    import BackButton from "../../ui/BackButton";
    import AdminEventsForm from "./AdminEventsForm";
    import {fetchEventById} from "../../../helpers";

    export default {
        name: 'AdminEventsEdit',
        props: ['id'],

        data() {
            return {
                loading: false,
                event: null
            }
        },

        created() {
            this.loading = true;
            fetchEventById(this.id)
            .catch(err => {
                return err.response;
            })
            .then(res => {
                this.event = res.data;
                this.loading = false;
            });
        },

        components: {
            AdminEventsForm,
            BackButton
        },

        methods: {
            goTo(url) {
                this.$router.push(url)
            }
        }
    }
</script>
