<template>
    <div :class="['content-wrapper', {loading: loading}]">
        <header>
            <back-button :handler="() => this.$router.push('/admin/events')"/>

            <h3 class="title" v-if="event">Evento | {{ event.title }}</h3>

            <admin-action-buttons
                    :refresh="fetchEvent"
                    :trash="{}"
                    :edit="() => this.$router.push('/admin/events/'+ id +'/edit')"
                    :confirm="event && !event.status ? togglePublishEvent : false"
                    :cancel="event && event.status ? togglePublishEvent : false"/>
        </header>

        <div class="content event-details" v-if="!loading">
            <div class="events">
                <admin-events-list-table :events="[event]" v-if="event" :singleDisplay="true"><caption>Informação</caption></admin-events-list-table>
            </div>

            <div class="event-tickets">
                <table class="table">
                    <caption>Bilhetes</caption>
                    <thead>
                    <tr>
                        <th>Bilhete</th>
                        <th>Estado</th>
                        <th>Reservas</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="ticket of event.tickets">
                        <td><router-link :to="{name: 'AdminTicketsView', params: {id: ticket.id}}">{{ ticket.name }}</router-link></td>
                        <td>{{ ticket.status }}</td>
                        <td class="center">{{ ticket.total_bookings }}</td>
                        <td class="right">{{ accounting.formatMoney(ticket.total_bookings_amount) }}</td>
                    </tr>
                    </tbody>
                </table>

                <router-link :to="{name: 'AdminEventsTickets', params: {id: event.id}}">Ver mais detalhes</router-link>
            </div>
            <div class="event-bookings">
                <table class="table">
                    <caption>Reservas</caption>

                    <thead>
                    <tr>
                        <th>Hoje</th>
                        <th>Esta Semana</th>
                        <th>Este Mês</th>
                        <th>Confirmado</th>
                        <th>Pendente</th>
                        <th>Cancelado</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="center">{{ event.total_today_bookings }}</td>
                        <td class="center">{{ event.total_week_bookings }}</td>
                        <td class="center">{{ event.total_month_bookings }}</td>
                        <td class="center">{{ event.total_confirmed_bookings }}</td>
                        <td class="center">{{ event.total_pending_bookings }}</td>
                        <td class="center">{{ event.total_cancelled_bookings }}</td>
                        <td class="center">{{ event.total_bookings }}</td>
                    </tr>
                    </tbody>
                </table>
                <router-link :to="{name: 'AdminEventsBookings', params: {id: event.id}}">Ver mais detalhes</router-link>
            </div>
        </div>
    </div>
</template>
<script>
    import AdminActionButtons from "../ActionButtons";
    import BackButton from "../../ui/BackButton";
    import {fetchEventById, publishEvent} from "../../../helpers";
    import AdminEventsListTable from "./AdminEventsListTable";

    export default {
        name: 'AdminEventsView',
        props: ['id'],

        data () {
            return {
                event: null,
                loading: false,
                accounting: accounting
            }
        },

        created () {
            this.fetchEvent();
        },

        methods: {
            togglePublishEvent() {
                this.loading = true;
                let status = !this.event.status;

                publishEvent(this.id, status)
                    .catch(err => {
                        this.$root.$emit('errorMessage', err.response.message);
                        return err.response;
                    })
                    .then(res => {
                        if (res.status === 200) {
                            this.$root.$emit('successMessage', res.data.message);
                            this.fetchEvent();
                        }
                    })
                    .then(() => this.loading = false);
            },

            fetchEvent() {
                this.loading = true;

                fetchEventById(this.id)
                    .then(res => {
                        this.event = res.data
                    })
                    .catch(err => {
                        this.$emit('errorMessage', err.response.data);
                    })
                    .then(() => {
                        this.loading = false;
                    })
            }
        },

        components: {
            AdminEventsListTable,
            BackButton,
            AdminActionButtons
        },
    }
</script>

<style lang="scss" scoped>
    .event-details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr 1fr;
        gap: 0 20px;

        .events {
            grid-column: 1 / -1;
        }
    }
</style>