<template>
    <div :class="['content-wrapper', {loading: loading}]">
        <header>
            <list-search-form placeholder="Procurar por eventos"></list-search-form>

            <div class="statistics">
                <span>{{ info.confirmed }} Publicados</span>
                <span>{{ info.pending }} Pendentes</span>
                <span>{{ info.total }} Total</span>
                <span><a href="/admin/reports/events">Ver mais</a></span>
            </div>

            <admin-action-buttons
                    :refresh="fetchEvents"
                    :add="handleAddClickAction"
                    :settings="{}"/>
        </header>

        <div class="content">
            <admin-events-list-table
                    :events="events"
                    v-if="events.length"
                    @loading="pl => loading = pl"
                    @refreshEventsList="fetchEvents"/>
        </div>
    </div>
</template>

<script>
    import ListSearchForm from "../SearchForm";
    import AdminActionButtons from "../ActionButtons";
    import {fetchAdminEvents} from "../../../helpers";
    import AdminEventsListTable from "./AdminEventsListTable";

    export default {
        name: 'AdminEventsList',
        data() {
            return {
                loading: false,
                events: [],
                info: {}
            }
        },

        created () {
            this.fetchEvents();
        },

        methods: {
            fetchEvents() {
                this.loading = true;
                fetchAdminEvents()
                    .catch((err) => {
                        this.$root.$emit('errorMessage', err.response.data.message);
                        return err.response;
                    })
                    .then(res => {
                        if (res.status === 200) {
                            this.events = res.data.events;
                            this.info = res.data.info
                        }
                    })
                    .then(() => {
                        this.loading = false
                    })
            },

            handleAddClickAction () {
                this.$router.push('/admin/events/create')
            }
        },

        components: {
            AdminEventsListTable,
            AdminActionButtons,
            ListSearchForm
        }
    }
</script>
