<template>
    <button class="btn back-btn" @click="handler">
        <svg viewBox="0 0 16 16" width="16" height="16">
            <path d="M16,7 L3.8,7 L9.4,1.4 L8,0 L0,8 L8,16 L9.4,14.6 L3.8,9 L16,9 L16,7 L16,7 Z"></path>
        </svg>
    </button>
</template>
<script>
    export default {
      name: 'BackButton',
      props: ['handler']
    }
</script>

<style lang="scss" scoped></style>
