<template>
    <div>
        <button type="button" class="btn btn-facebbok" @click.prevent="authenticateWithFacebook">
            <div>
                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M24,4.00026667 C24,1.8984 22.1024,0 20,0 L4,0 C1.8976,0 0,1.8984 0,4.00026667 L0,19.9997333 C0,22.1016 1.8976,24 4.00026667,24 L12,24 L12,14.9333333 L9.06666667,14.9333333 L9.06666667,10.9333333 L12,10.9333333 L12,9.37493333 C12,6.6872 14.0181333,4.26666667 16.5,4.26666667 L19.7333333,4.26666667 L19.7333333,8.26666667 L16.5,8.26666667 C16.1461333,8.26666667 15.7333333,8.69626667 15.7333333,9.33973333 L15.7333333,10.9333333 L19.7333333,10.9333333 L19.7333333,14.9333333 L15.7333333,14.9333333 L15.7333333,24 L20,24 C22.1024,24 24,22.1016 24,19.9997333 L24,4.00026667 Z"></path>
                </svg>
                <span>Entrar com o Facebook</span>
            </div>
        </button>
    </div>
</template>

<script>
  export default {
    name: 'FacebookLoginButton',

    methods: {
      authenticateWithFacebook () {
        window.location.href = '/login/facebook'
      }
    }
  }
</script>