<template>
    <div class="input-group input-selector">
        <input type="text"
               class="input text"
               v-model="inputValue"
               @input="fetchData"
               @change="populateInput"
               @click.stop
               :placeholder="placeholder">

        <button :class="['btn', 'btn-simple', {active: showSuggestions}]" @click.stop.prevent="toggleSuggestions">
            <i class="icon">
                <svg viewBox="0 0 16 4">
                    <path d="M2,0 C0.9,0 0,0.9 0,2 C0,3.1 0.9,4 2,4 C3.1,4 4,3.1 4,2 C4,0.9 3.1,0 2,0 L2,0 Z M14,0 C12.9,0 12,0.9 12,2 C12,3.1 12.9,4 14,4 C15.1,4 16,3.1 16,2 C16,0.9 15.1,0 14,0 L14,0 Z M8,0 C6.9,0 6,0.9 6,2 C6,3.1 6.9,4 8,4 C9.1,4 10,3.1 10,2 C10,0.9 9.1,0 8,0 L8,0 Z"
                          id="Shape"></path>
                </svg>
            </i>
        </button>

        <div id="input-suggestions" :class="['suggestions', {loading: loading}]" v-show="showSuggestions">
            <div class="suggestion" v-for="suggestion in suggestions" :key="suggestion.id"
                 @click="populateInput(suggestion)">
                <span>{{ suggestion.label }}</span>
                <span class="description" v-if="suggestion.description">{{ suggestion.description }}</span>
            </div>
            <div v-if="!suggestions.length && !loading">
                <span>Sem resultados</span>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'InputSelector',
        props: ['data', 'ajax', 'template', 'search', 'placeholder', 'value'],

        data() {
            return {
                loading: false,
                suggestions: [],
                showSuggestions: false,
                inputValue: ''
            }
        },

        created() {
            if (this.value) {
                this.inputValue = this.value;
            }

            window.addEventListener('click', e => {
                this.showSuggestions = false
            })
        },

        methods: {
            fetchData() {
                if (typeof this.search !== 'undefined') {
                    this.showSuggestions = true;
                    this.search({
                        qs: this.inputValue
                    })
                        .then(data => {
                            this.suggestions = data;
                            _.replace(this.suggestions.label, this.inputValue, '<b>' + this.inputValue + '</b>')
                        })
                }
            },

            populateInput(suggestion) {
                if (suggestion === undefined) {
                    suggestion = {}
                }
                this.inputValue = suggestion.label;
                this.$emit('change', suggestion)
            },

            toggleSuggestions() {
                this.showSuggestions = !this.showSuggestions;
                this.suggestions = [];

                if (this.showSuggestions) {
                    if (this.ajax) {
                        this.loading = true;
                        this.ajax()
                            .then(data => {
                                this.suggestions = data;
                                document.querySelector('.suggestions').focus();
                                this.loading = false
                            });
                    }

                    if (this.data) {
                        this.suggestions = this.data
                    }
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .suggestions {
        position: absolute;
        left: 0;
        top: 35px;
        width: 100%;
        height: 150px;
        background-color: #FFFFFF;
        z-index: 1000;
        border: 1px solid #EFEFEF;
        overflow-y: auto;

        .suggestion {
            border-bottom: 1px solid #EFEFEF;
            padding: 10px 20px;
            cursor: pointer;

            &:hover {
                background-color: #EEEEEE;
            }

            span {
                display: block;
            }
        }
    }

    .input-group {
        position: relative;
        width: 300px;
        border-radius: 3px;

        &:after {
            content: '';
            display: block;
            clear: both;
        }

        .input.text {
            width: 100%;
            padding-right: 35px;
        }

        button {
            position: absolute;
            width: 33px;
            height: 33px;
            right: 1px;
            top: 1px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            padding: 0 5px;

            &.active {
                background-color: #EFEFEF;
            }

            i {
                text-align: center;
                line-height: 35%;

                svg {
                    width: 100%;
                    height: 100%;

                    path {
                        fill: #CCCCCC;
                    }
                }
            }
        }
    }
</style>