<template>
    <transition name="fade" v-if="message">
        <div :class="['message-container', type]">
            {{ message }}
            <button class="btn btn-close" @click.stop="clearMessages"><icon-menu-close/></button>
        </div>
    </transition>
</template>
<script>
    import IconMenuClose from "../icons/IconMenuClose";
    export default {
        name: 'MessageContainer',
        components: {IconMenuClose},
        props: ['type', 'message'],

        beforeDestroy() {
            this.clearMessages();
        },

        methods: {
            clearMessages() {
                this.$root.$emit('clearMessages');
            }
        }
    }
</script>