<template>
    <div v-if="error || success || warning || info" class="messages-container">
        <div :class="['message-error']" v-if="error">
            <p><b v-if="error.code">{{ error.code }}:</b> {{ error.message }}</p>
            <div v-if="error.errors" v-for="err of error.errors">{{ err[0] }}</div>
        </div>

        <div :class="['message-success']" v-if="success">
            <p>{{ success.message }}</p>
        </div>

        <div :class="['message-warning']" v-if="warning">
            <p>{{ warning.message }}</p>
        </div>

        <div :class="['message-info']" v-if="info">
            <p>{{ info.message }}</p>
        </div>
    </div>
</template>
<script>
  export default {
    name: 'Messages',
    data() {
      return {
        error: null,
        success: null,
        warning: null,
        info: null
      }
    },

    created() {
      this.$root.$on('successMessage', (pl) => {
        this.success = pl;
        if (pl.autoClose !== undefined && !pl.autoClose) {
          return
        }
        this.initHideTimer('success')
      });

      this.$root.$on('errorMessage', (pl) => {
        this.error = pl;
        if (typeof pl.autoClose !== 'undefined' && !pl.autoClose) {
          return
        }
        this.initHideTimer('error')
      });

      this.$root.$on('warningMessage', (pl) => {
        this.warning = pl;
        if (pl.autoClose !== undefined && !pl.autoClose) {
          return
        }
        this.initHideTimer('warning')
      });

      this.$root.$on('infoMessage', (pl) => {
        this.info = pl;
        if (pl.autoClose !== undefined && !pl.autoClose) {
          return
        }
        this.initHideTimer('info')
      })
    },

    methods: {
      initHideTimer(message) {
        // window.setTimeout(() => {
        //   this[message] = null
        // }, 10000)
      }
    }
  }
</script>