<template>
    <h1 class="title">
        <slot></slot>
        <span class="help-tip"></span>
    </h1>
</template>
<script>
    export default {
      name: 'PageMainTitle'
    }
</script>

<style lang="scss" scoped>
    .title {
        font-size: 1.4em;
        margin-bottom: 15px;

        .help-tip {
            background-color: lightblue;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            border-radius: 50%;
            display: inline-block;
            cursor: pointer;
            float: right;

            &:after {
                content: '?';
            }
        }
    }
</style>