<template>
    <div class="filter-group">
        <select name="status" class="input text">
            <option value="all">Todos</option>
            <option value="confirmed">Confirmados</option>
            <option value="pending">Pendentes</option>
            <option value="cancelled">Cancelados</option>
        </select>

        <select name="month" class="input text">
            <option value="1">Janeiro</option>
            <option value="2">Fevereiro</option>
            <option value="3">Março</option>
            <option value="4">Abril</option>
            <option value="5">Maio</option>
            <option value="6">Junho</option>
            <option value="7">Julho</option>
            <option value="8">Agosto</option>
            <option value="9">Setembro</option>
            <option value="10">Outubro</option>
            <option value="11">Novembro</option>
            <option value="12">Dezembro</option>
        </select>

        <select name="year" class="input text">
            <option value="2019">2019</option>
        </select>
    </div>
</template>

<script>
    export default {
      name: 'BookingsFilterForm'
    }
</script>