<template>
    <div :class="[{'loading': loading}]">
        <div class="filters" v-if="!loading && bookings.length">
            <button class="btn filter-toggle">
                <icon-filter/>
            </button>
        </div>

        <div class="bookings-list" v-if="bookings.length">
            <router-link tag="div"
                         class="booking-item"
                         v-for="booking of bookings"
                         :to="{name: 'MyBookingsDetails', params: {number: booking.number}}"
                         :key="booking.number">
                <div class="booking-cover">
                    <img :src="booking.event.cover" :alt="booking.event.title">
                </div>
                <div class="booking-info">
                    <div class="event-title">
                        <span>
                            <icon-ticket/>
                            {{ booking.event.title }}
                        </span>
                    </div>
                    <div class="event-date-time">
                        <span>
                            <icon-calendar/>
                            {{ moment(booking.event.begin_time).format('DD/MM') }}
                        </span>
                        <span>
                            <icon-clock/>
                            {{ moment(booking.event.begin_time).format('H:mm') }}
                        </span>
                    </div>
                    <div class="event-location">
                        <icon-location/>
                        <span>{{ booking.event.location }}</span>
                        <span class="event-location-city">{{ booking.event.location_city }}</span>
                    </div>
                </div>
            </router-link>
        </div>

        <div class="no-results-found" v-else-if="!loading">
            <icon-no-ticket-found/>
            <p><strong>Oops!</strong></p>
            <p><strong>Não Encontramos Nenhuma Reserva.</strong></p>
        </div>
    </div>
</template>
<script>
    import {fetchAuthUserBookings} from "../../helpers";
    import IconCalendar from "../icons/IconCalendar";
    import IconClock from "../icons/IconClock";
    import IconLocation from "../icons/IconLocation";
    import IconNoTicketFound from "../icons/IconNoTicketFound";
    import IconFilter from "../icons/IconFilter";
    import IconTicket from "../icons/IconTicket";

    export default {
      name: 'MyBookings',
      components: {IconTicket, IconFilter, IconNoTicketFound, IconLocation, IconClock, IconCalendar},
      data() {
        return {
          bookings: [],
          loading: false,
          moment: moment,
          title: 'Reservas'
        }
      },

      created() {
        this.$emit('updatePageTitle', this.title);

        this.fetchBookings();
      },

      methods: {
        fetchBookings() {
          this.loading = true;

          fetchAuthUserBookings({
            l: 5,
            p: 1
          })
            .catch(err => {
              return err.response;
            })
            .then(res => {
              if (res.status === 200) {
                this.bookings = res.data;
              }
            })
            .then(() => this.loading = false);

        }
      }
    }
</script>
<style lang="scss" scoped>

    .content {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 0 40px 1fr;
        grid-gap: 20px;
    }

    .filters {
        grid-row-start: 2;

        .btn.filter-toggle {
            background-color: transparent;
            padding: 0 10px;
        }
    }

    .bookings-list {
        display: inline-grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(120px, 1fr));
        grid-gap: 1em;
        grid-row-start: 3;
        margin-bottom: 30px;

        .booking-item {
            border-radius: 7px;
            overflow: hidden;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;
            border: 1px solid #ffffff;

            &:hover {
                border-color: #FFC6A0;
                cursor: pointer;
                box-shadow: 0 1px 1px 0 #cccccc, 0 0 8px 0 #FFC6A0;
            }

            .booking-cover {
                height: 120px;
                overflow: hidden;
                background-color: #333333;
                display: none;

                img {
                    width: 100%;
                }
            }

            .booking-info {
                min-height: 120px;
                background-color: #ffffff;
                font-size: 18px;
                padding: 7px 10px;
                display: flex;
                flex-flow: row wrap;
                align-content: space-evenly;
                color: #07203F;

                > * {
                    width: 100%;

                    svg {
                        float: left;
                        margin-right: 15px;
                        width: 24px;
                        opacity: .15;
                    }
                }

                .event-title, .event-date-time {
                    display: inline-flex;

                    span {
                        flex-grow: 1;
                    }
                }

                .event-location {
                    .event-location-city {
                        font-size: 12px;
                        display: block;
                        margin-left: 34px;
                    }
                }
            }

            @media screen and (max-width: 520px) {
                /*grid-template-columns: 120px auto;*/
                grid-template-rows: auto;
            }

            @media screen and (max-width: 320px) {
                grid-template-columns: 1fr;

                .booking-cover {
                    display: none;
                }
            }
        }

        @media screen and (max-width: 520px) {
            grid-template-columns: 1fr;
        }

        @media screen and (min-width: 768px) {
            /*grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));*/
        }
    }
</style>