<template>
    <div :class="[{loading}]">
        <div class="qr-code">
            <div v-html="qrCode"></div>
            <p>{{ booking.number }}</p>
        </div>
        <div class="details">
            <div>
                <span>Nome/Name</span>
                <span>{{ booking.contact_full_name }}</span>
            </div>
            <div>
                <span>Evento/Event</span>
                <span>{{ booking.event.title }}</span>
            </div>
            <div>
                <span>Entradas/Entrances</span>
                <span>{{ booking.allowed_entrances }}</span>
            </div>
            <div>
                <span>Bilhete/Ticket</span>
                <span>{{ booking.ticket.name }}</span>
            </div>
            <div>
                <span>Total</span>
                <span>{{ accounting.formatMoney(priceTotal) }}</span>
            </div>
        </div>
        <div class="alert">
            <div v-if="booking.allowed_entrances <= 0">Não dispõe de mais entradas.</div>
        </div>
    </div>
</template>
<script>
    import {fetchAuthUserBooking, generateQrCode} from "../../helpers";

    export default {
      name: 'MyBookingsDetails',
      props: ['number'],

      data() {
        return {
          accounting: accounting,
          loading: false,
          booking: null,
          qrCode: ''
        }
      },

      created() {
        this.$emit('updatePageTitle', this.number);

        this.loading = true;
        axios.all([fetchAuthUserBooking(this.number), generateQrCode(this.number, 5, 5)])
          .then(res => {
            this.booking = res[0].data;
            this.qrCode = res[1].data;
            this.loading = false;
          });
      },

      computed: {
        priceTotal: function () {
          return this.booking.ticket.price * this.booking.allowed_entrances;
        }
      }
    }
</script>
<style lang="scss" scoped>
    .content {
        padding: 0;
        background-color: #ffffff;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 105px 1fr;
        gap: 20px;

        .alert {
            grid-column: 1 / -1;
        }

        .qr-code {
            align-self: center;
            justify-self: center;
            font-size: 12px;
            text-align: center;
        }

        .details {
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(150px, 1fr));
            grid-auto-rows: min-content;
            grid-row-gap: 10px;
            align-self: center;

            > div {
                span {
                    display: block;

                    &:first-child {
                        font-weight: bold;
                        font-size: 12px;
                    }
                }
            }
        }

        @media screen and (max-width: 768px) {
            grid-template-rows: 150px 1fr;
            grid-template-columns: 1fr;

            .details {
                padding: 0 10px;
            }
        }
    }
</style>