<template>
    <div class="actions">
        <button class="btn print" title="Imprimir" @click.prevent="print" v-if="print">
            <svg viewBox="0 0 20 18">
                <path d="M17,5 L3,5 C1.3,5 0,6.3 0,8 L0,14 L4,14 L4,18 L16,18 L16,14 L20,14 L20,8 C20,6.3 18.7,5 17,5 L17,5 Z M14,16 L6,16 L6,11 L14,11 L14,16 L14,16 Z M17,9 C16.4,9 16,8.6 16,8 C16,7.4 16.4,7 17,7 C17.6,7 18,7.4 18,8 C18,8.6 17.6,9 17,9 L17,9 Z M16,0 L4,0 L4,4 L16,4 L16,0 L16,0 Z" id="Shape"></path>
            </svg>
        </button>
        <button class="btn download" title="Baixar" @click.prevent="download" v-if="download">
            <svg viewBox="0 0 14 19">
                <path d="M14,6 L10,6 L10,0 L4,0 L4,6 L0,6 L7,13 L14,6 L14,6 Z M0,15 L0,17 L14,17 L14,15 L0,15 L0,15 Z" id="Shape"></path>
            </svg>
        </button>

        <div class="separator" v-if="(print || download) && (refresh || add || edit || trash)"></div>

        <button class="btn refresh" title="Atualizar" @click.prevent="refresh" v-if="refresh">
            <svg viewBox="0 0 34.652 34.652">
                <path style="fill:#010002;" d="M15.529,32.855C6.966,32.855,0,25.889,0,17.326C0,8.763,6.966,1.797,15.529,1.797c8.563,0,15.529,6.967,15.529,15.529c0,0.49-0.397,0.888-0.888,0.888c-0.49,0-0.888-0.397-0.888-0.888c0-7.584-6.17-13.755-13.754-13.755c-7.585,0-13.755,6.171-13.755,13.755c0,7.584,6.17,13.754,13.755,13.754c4.852,0,9.397-2.601,11.862-6.787c0.249-0.423,0.793-0.562,1.215-0.314c0.422,0.248,0.562,0.792,0.315,1.215C26.139,29.919,21.007,32.855,15.529,32.855z"/>
                <path style="fill:#010002;" d="M30.17,18.214c-0.153,0-0.309-0.04-0.45-0.123l-5.561-3.284c-0.422-0.249-0.562-0.793-0.313-1.215c0.25-0.422,0.794-0.562,1.216-0.312l4.852,2.865l3.123-4.473c0.281-0.402,0.834-0.5,1.235-0.22c0.402,0.28,0.5,0.833,0.22,1.235l-3.594,5.146C30.726,18.08,30.451,18.214,30.17,18.214z"/>
            </svg>
        </button>
        <button class="btn add" title="Novo" @click.prevent="add" v-if="add">
            <svg viewBox="0 0 512 512">
                <path d="M492,236H276V20c0-11.046-8.954-20-20-20c-11.046,0-20,8.954-20,20v216H20c-11.046,0-20,8.954-20,20s8.954,20,20,20h216v216c0,11.046,8.954,20,20,20s20-8.954,20-20V276h216c11.046,0,20-8.954,20-20C512,244.954,503.046,236,492,236z"/>
            </svg>
        </button>
        <button class="btn edit" title="Editar" @click.prevent="edit" v-if="edit">
            <svg viewBox="0 0 469.331 469.331">
                <path d="M438.931,30.403c-40.4-40.5-106.1-40.5-146.5,0l-268.6,268.5c-2.1,2.1-3.4,4.8-3.8,7.7l-19.9,147.4c-0.6,4.2,0.9,8.4,3.8,11.3c2.5,2.5,6,4,9.5,4c0.6,0,1.2,0,1.8-0.1l88.8-12c7.4-1,12.6-7.8,11.6-15.2c-1-7.4-7.8-12.6-15.2-11.6l-71.2,9.6l13.9-102.8l108.2,108.2c2.5,2.5,6,4,9.5,4s7-1.4,9.5-4l268.6-268.5c19.6-19.6,30.4-45.6,30.4-73.3S458.531,49.903,438.931,30.403z M297.631,63.403l45.1,45.1l-245.1,245.1l-45.1-45.1L297.631,63.403z M160.931,416.803l-44.1-44.1l245.1-245.1l44.1,44.1L160.931,416.803z M424.831,152.403l-107.9-107.9c13.7-11.3,30.8-17.5,48.8-17.5c20.5,0,39.7,8,54.2,22.4s22.4,33.7,22.4,54.2C442.331,121.703,436.131,138.703,424.831,152.403z"/>
            </svg>
        </button>
        <button class="btn delete" title="Eliminar" @click.prevent="trash" v-if="trash">
            <svg viewBox="0 0 59 59">
                <path d="M29.5,51c0.552,0,1-0.447,1-1V17c0-0.553-0.448-1-1-1s-1,0.447-1,1v33C28.5,50.553,28.948,51,29.5,51z"/>
                <path d="M19.5,51c0.552,0,1-0.447,1-1V17c0-0.553-0.448-1-1-1s-1,0.447-1,1v33C18.5,50.553,18.948,51,19.5,51z"/>
                <path d="M39.5,51c0.552,0,1-0.447,1-1V17c0-0.553-0.448-1-1-1s-1,0.447-1,1v33C38.5,50.553,38.948,51,39.5,51z"/>
                <path d="M52.5,6H38.456c-0.11-1.25-0.495-3.358-1.813-4.711C35.809,0.434,34.751,0,33.499,0H23.5c-1.252,0-2.31,0.434-3.144,1.289C19.038,2.642,18.653,4.75,18.543,6H6.5c-0.552,0-1,0.447-1,1s0.448,1,1,1h2.041l1.915,46.021C10.493,55.743,11.565,59,15.364,59h28.272c3.799,0,4.871-3.257,4.907-4.958L50.459,8H52.5c0.552,0,1-0.447,1-1S53.052,6,52.5,6z M21.792,2.681C22.24,2.223,22.799,2,23.5,2h9.999c0.701,0,1.26,0.223,1.708,0.681c0.805,0.823,1.128,2.271,1.24,3.319H20.553C20.665,4.952,20.988,3.504,21.792,2.681z M46.544,53.979C46.538,54.288,46.4,57,43.636,57H15.364c-2.734,0-2.898-2.717-2.909-3.042L10.542,8h37.915L46.544,53.979z"/>
            </svg>
        </button>

        <div class="separator" v-if="(settings || confirm || cancel) && (refresh || add || edit || trash || print || download)"></div>

        <button class="btn settings" title="Definições" @click.prevent="settings" v-if="settings">
            <svg viewBox="0 0 54 54">
                <path d="M51.22,21h-5.052c-0.812,0-1.481-0.447-1.792-1.197s-0.153-1.54,0.42-2.114l3.572-3.571c0.525-0.525,0.814-1.224,0.814-1.966c0-0.743-0.289-1.441-0.814-1.967l-4.553-4.553c-1.05-1.05-2.881-1.052-3.933,0l-3.571,3.571c-0.574,0.573-1.366,0.733-2.114,0.421C33.447,9.313,33,8.644,33,7.832V2.78C33,1.247,31.753,0,30.22,0H23.78C22.247,0,21,1.247,21,2.78v5.052c0,0.812-0.447,1.481-1.197,1.792c-0.748,0.313-1.54,0.152-2.114-0.421l-3.571-3.571c-1.052-1.052-2.883-1.05-3.933,0l-4.553,4.553c-0.525,0.525-0.814,1.224-0.814,1.967c0,0.742,0.289,1.44,0.814,1.966l3.572,3.571c0.573,0.574,0.73,1.364,0.42,2.114S8.644,21,7.832,21H2.78C1.247,21,0,22.247,0,23.78v6.439C0,31.753,1.247,33,2.78,33h5.052c0.812,0,1.481,0.447,1.792,1.197s0.153,1.54-0.42,2.114l-3.572,3.571c-0.525,0.525-0.814,1.224-0.814,1.966c0,0.743,0.289,1.441,0.814,1.967l4.553,4.553c1.051,1.051,2.881,1.053,3.933,0l3.571-3.572c0.574-0.573,1.363-0.731,2.114-0.42c0.75,0.311,1.197,0.98,1.197,1.792v5.052c0,1.533,1.247,2.78,2.78,2.78h6.439c1.533,0,2.78-1.247,2.78-2.78v-5.052c0-0.812,0.447-1.481,1.197-1.792c0.751-0.312,1.54-0.153,2.114,0.42l3.571,3.572c1.052,1.052,2.883,1.05,3.933,0l4.553-4.553c0.525-0.525,0.814-1.224,0.814-1.967c0-0.742-0.289-1.44-0.814-1.966l-3.572-3.571c-0.573-0.574-0.73-1.364-0.42-2.114S45.356,33,46.168,33h5.052c1.533,0,2.78-1.247,2.78-2.78V23.78C54,22.247,52.753,21,51.22,21z M52,30.22C52,30.65,51.65,31,51.22,31h-5.052c-1.624,0-3.019,0.932-3.64,2.432c-0.622,1.5-0.295,3.146,0.854,4.294l3.572,3.571c0.305,0.305,0.305,0.8,0,1.104l-4.553,4.553c-0.304,0.304-0.799,0.306-1.104,0l-3.571-3.572c-1.149-1.149-2.794-1.474-4.294-0.854c-1.5,0.621-2.432,2.016-2.432,3.64v5.052C31,51.65,30.65,52,30.22,52H23.78C23.35,52,23,51.65,23,51.22v-5.052c0-1.624-0.932-3.019-2.432-3.64c-0.503-0.209-1.021-0.311-1.533-0.311c-1.014,0-1.997,0.4-2.761,1.164l-3.571,3.572c-0.306,0.306-0.801,0.304-1.104,0l-4.553-4.553c-0.305-0.305-0.305-0.8,0-1.104l3.572-3.571c1.148-1.148,1.476-2.794,0.854-4.294C10.851,31.932,9.456,31,7.832,31H2.78C2.35,31,2,30.65,2,30.22V23.78C2,23.35,2.35,23,2.78,23h5.052c1.624,0,3.019-0.932,3.64-2.432c0.622-1.5,0.295-3.146-0.854-4.294l-3.572-3.571c-0.305-0.305-0.305-0.8,0-1.104l4.553-4.553c0.304-0.305,0.799-0.305,1.104,0l3.571,3.571c1.147,1.147,2.792,1.476,4.294,0.854C22.068,10.851,23,9.456,23,7.832V2.78C23,2.35,23.35,2,23.78,2h6.439C30.65,2,31,2.35,31,2.78v5.052c0,1.624,0.932,3.019,2.432,3.64c1.502,0.622,3.146,0.294,4.294-0.854l3.571-3.571c0.306-0.305,0.801-0.305,1.104,0l4.553,4.553c0.305,0.305,0.305,0.8,0,1.104l-3.572,3.571c-1.148,1.148-1.476,2.794-0.854,4.294c0.621,1.5,2.016,2.432,3.64,2.432h5.052C51.65,23,52,23.35,52,23.78V30.22z"/>
                <path d="M27,18c-4.963,0-9,4.037-9,9s4.037,9,9,9s9-4.037,9-9S31.963,18,27,18z M27,34c-3.859,0-7-3.141-7-7s3.141-7,7-7s7,3.141,7,7S30.859,34,27,34z"/>
            </svg>
        </button>
        <button class="btn confirm" title="Confirmar" @click.prevent="confirm" v-if="confirm">
            <icon-check width="54" height="54"/>
        </button>

        <button class="btn confirm" title="Cancel" @click.prevent="cancel" v-if="cancel">
            <icon-menu-close width="54px" height="54px" fill="rebeccapurple"/>
        </button>
    </div>
</template>
<script>
    import IconCheck from "../icons/IconCheck";
    import IconMenuClose from "../icons/IconMenuClose";
    export default {
        name: 'AdminActionButtons',
        components: {IconMenuClose, IconCheck},
        props: ['add', 'edit', 'trash', 'settings', 'print', 'download', 'refresh', 'confirm', 'cancel']
    }
</script>

<style lang="scss" scoped>
    @media print {
        .actions {
            display: none;
        }
    }

    .actions {
        .btn {
            background-color: #FFFFFF;
            border-color: rgba(0,0,0,.1) !important;
            border-style: inset;
            transition: opacity 300ms, background-color 300ms;
            padding: 8px;

            &:hover {
                opacity: 1;

                svg {
                    transform: scale(.9);
                }

                &.print {
                    background-color: #FFF3F3
                }

                &.download {
                    background-color: #FFF3F3
                }

                &.refresh {
                    background-color: #FFFFFF
                }

                &.add {
                    background-color: #A2F4C5
                }

                &.edit {
                    background-color: #F9F6DD
                }

                &.delete {
                    background-color: #FBC3C3
                }

                &.settings {
                    background-color: #D3EDFE
                }
            }

            &:active {
                svg {
                    transition: transform 50ms;
                    transform: scale(.7);
                }
            }

            /*&.print {}*/

            /*&.download {}*/

            &.refresh {
                border-width: 0 !important;
            }

            /*&.add {}*/

            /*&.edit {}*/

            /*&.delete {}*/

            /*&.settings {}*/

            &.disabled {
                opacity: .5;
            }

            svg {
                opacity: .6;
                width: 100%;
                height: 100%;
                transition: transform 150ms;
            }
        }

        .btn, .separator {
            float: left;
            margin-left: 10px;
        }

        .separator {
            width: 2px;
            height: 40px;
            background-color: #cccccc;
        }
    }
</style>