<template>
    <div id="app">
        <aside id="main-header">
            <div class="header-logo">
                <h1 class="logo eventon"><a href="/">Eventon</a></h1>
            </div>
            <div class="account" v-if="$store.getters.user" v-show="false">
                <a href="#">
                    <span class="avatar"><img src="/img/avatar.svg" alt="*"></span>
                    <span class="user">{{ $store.getters.user.profile.name }}</span>
                </a>
            </div>
            <admin-nav-bar/>
        </aside>

        <message-container v-if="errorMessage" :message="errorMessage" type="error"/>
        <message-container v-if="successMessage" :message="successMessage" type="success"/>
        <router-view id="page-contents"></router-view>
        <n-progress-container/>
    </div>
</template>
<script>
    import NProgressContainer from "../NprogressContainer";

    import {
        fixNavbarOnScroll,
        toggleNavbarShadowVisibility,
        getClientCity,
        getClientLanguage
    } from "../../helpers";
    import AdminNavBar from "./NavBar";
    import MessageContainer from "../ui/MessageContainer";

    export default {
        name: 'AdminAppContainer',

        data() {
            return {
                errorMessage: '',
                errors: '',
                successMessage: ''
            }
        },

        created() {
            this.$nprogress.start();
            this.$root.$on('clearMessages', () => {
                this.errorMessage = '';
                this.successMessage = '';
                this.errors = [];
            });
            this.$root.$on('errorMessage', (message, errors) => this.errorMessage = message);
            this.$root.$on('successMessage', message => this.successMessage = message);

        },

        mounted() {
            this.$nprogress.done();

            getClientCity();
            getClientLanguage();

            let c = document.querySelector('.categories-fixed');
            let navbar = document.querySelector('#main-navbar');

            toggleNavbarShadowVisibility(c, 70);
            toggleNavbarShadowVisibility(navbar, 50);
            fixNavbarOnScroll(c, 50);

            document.addEventListener('scroll', _.throttle(function () {
                toggleNavbarShadowVisibility(c, 70);
                toggleNavbarShadowVisibility(navbar, 50)
            }, 150))
        },

        components: {
            MessageContainer,
            AdminNavBar,
            NProgressContainer
        }
    }
</script>