<template>
    <nav>
        <ul class="main-menu admin-menu">
            <router-link tag="li" :to="{name:'AdminDashboardIndex'}" exact><a>Início</a></router-link>

            <router-link :to="{name: 'AdminBookingsList'}" tag="li">
                <a>Reservas</a>
                <ul>
                    <router-link :to="{name: 'AdminBookingsList'}" tag="li">
                        <a>Listar Reservas</a>
                    </router-link>
                    <router-link :to="{name: 'AdminBookingsCreate'}" tag="li">
                        <a>Nova Reserva</a>
                    </router-link>
                </ul>
            </router-link>

            <router-link to="/admin/reports" tag="li">
                <a>Relatórios</a>
            </router-link>

            <router-link to="/admin/events" tag="li">
                <a>Eventos</a>
                <ul>
                    <router-link to="/admin/events" tag="li">
                        <a>Listar Eventos</a>
                    </router-link>
                    <router-link to="/admin/events/create" tag="li">
                        <a>Agendar Evento</a>
                    </router-link>
                    <router-link :to="{ name: 'AdminTickets' }" tag="li">
                        <a>Bilhetes</a>
                    </router-link>
                </ul>
            </router-link>

            <router-link to="/admin/promoters" tag="li">
                <a>Promotores</a>
                <ul>
                    <router-link to="/admin/promoters" tag="li">
                        <a>Listar Promoters</a>
                    </router-link>
                    <router-link to="/admin/promoters/create" tag="li">
                        <a>Novo Promotor</a>
                    </router-link>
                </ul>
            </router-link>

            <router-link to="/admin/categories" tag="li">
                <a>Categorias</a>
                <ul>
                    <router-link to="/admin/categories/import" tag="li">
                        <a>Importar</a>
                    </router-link>
                    <router-link to="/admin/categories" tag="li">
                        <a>Listar</a>
                    </router-link>
                    <router-link to="/admin/categories/create" tag="li">
                        <a>Novo</a>
                    </router-link>
                </ul>
            </router-link>

            <router-link tag="li" to="/admin/users">
                <a>Usuários</a>
                <ul>
                    <router-link tag="li" to="/admin/users"><a>Ver Usuários</a></router-link>
                    <router-link tag="li" to="/admin/users/create"><a>Novo Usuário</a></router-link>
                </ul>
            </router-link>
        </ul>
    </nav>
</template>
<script>
    export default {
      name: 'AdminNavBar'
    }
</script>