<template>
    <div class="search-wrapper">
        <input type="search" class="input text" :placeholder="placeholder" @keyup="searchContent">
        <svg viewBox="0 0 52.966 52.966">
            <path d="M51.704,51.273L36.845,35.82c3.79-3.801,6.138-9.041,6.138-14.82c0-11.58-9.42-21-21-21s-21,9.42-21,21s9.42,21,21,21
                c5.083,0,9.748-1.817,13.384-4.832l14.895,15.491c0.196,0.205,0.458,0.307,0.721,0.307c0.25,0,0.499-0.093,0.693-0.279
                C52.074,52.304,52.086,51.671,51.704,51.273z M21.983,40c-10.477,0-19-8.523-19-19s8.523-19,19-19s19,8.523,19,19
                S32.459,40,21.983,40z"/>
        </svg>
    </div>
</template>
<script>
    export default {
      name: 'ListSearchForm',
      props: ['placeholder'],
      methods: {
        searchContent (e) {
          this.$root.$emit('searchContentEvent', e.target.value)
        }
      }
    }
</script>

<style lang="scss" scoped>
    .search-wrapper {
        float: left;
        margin-right: 20px;
        position: relative;

        svg {
            position: absolute;
            width: 25px;
            height: 25px;
            right: 7.5px;
            top: 7.5px;
        }

        input {
            height: 40px;
            width: 400px;
            padding-right: 35px;
        }
    }
</style>