<template>
    <transition name="fade" mode="out-in" appear>
        <router-view></router-view>
    </transition>
</template>
<script>
    export default {
        name: 'AdminTicketsIndex'
    }
</script>