<template>
    <div :class="['content-wrapper']">
        <header>
            <list-search-form placeholder="Procurar por bilhetes"></list-search-form>

            <div class="statistics">
                <span>{{ info.published }} Publicados</span>
                <span>{{ info.unpublished }} Não Publicados</span>
                <span>{{ info.total }} Total</span>
                <span><a href="/admin/reports/tickets">Ver mais</a></span>
            </div>
            <admin-action-buttons
                    :refresh="fetchTickets"
                    :add="() => showCreateForm = !showCreateForm"
                    :settings="{}"/>

        </header>

        <div :class="['content', {loading: loading}]">
            <admin-events-tickets-form :create="eventId"
                                       v-if="showCreateForm"
                                       @hideForm="() => showCreateForm = false"
                                       @loading="pl => loading = pl"
                                       @reloadTickets="fetchTickets"/>

            <admin-tickets-list-table
                    :tickets="tickets"
                    v-if="tickets.length"
                    :hide-options="true"/>
        </div>
    </div>
</template>
<script>
    import ListSearchForm from "../SearchForm";
    import AdminActionButtons from "../ActionButtons";
    import AdminTicketsListTable from "./AdminTicketsListTable";
    import {fetchTickets} from "../../../helpers";
    import AdminEventsTicketsForm from "../events/AdminEventsTicketsForm";

    export default {
        name: 'AdminTicketsList',
        components: {
            AdminEventsTicketsForm,
            AdminTicketsListTable,
            AdminActionButtons,
            ListSearchForm
        },

        data() {
            return {
                eventId: true,
                loading: false,
                tickets: [],
                info: {},
                showCreateForm: false
            }
        },

        created() {
            this.fetchTickets();
        },

        methods: {
            fetchTickets() {
                this.loading = true;
                fetchTickets()
                    .catch(console.error)
                    .then(res => {
                        this.tickets = res.data.tickets;
                        this.info = res.data.info;
                        this.loading = false;
                    })
            }
        }
    }
</script>