<template>
    <div :class="['content-wrapper']">
        <header>
            <back-button :handler="() => this.$router.push({ name: 'AdminTickets' })"/>
            <h3 class="title">{{ ticket.event ? ticket.event.title : '' }} | Bilhete | {{ ticket.name }}</h3>

            <admin-action-buttons
                    :refresh="fetchTicket"
                    :edit="{}"
                    :trash="{}"/>
        </header>

        <div :class="['content', , {loading}]">
            <h3>Informação</h3>
            <admin-tickets-list-table :tickets="[ticket]" :single-display="true" :hide-options="true"/>
            <br>

            <h3>Reservas</h3>
            <admin-bookings-list-table
                    :bookings="ticket.bookings"
                    v-if="ticket.bookings && ticket.bookings.length"
                    :hidden-columns="['event']"
                    :show-columns="[]"
                    @refreshBookingsList="fetchTicket"/>
            <p v-else>Este bilhete não tem nenhuma reserva.</p>
        </div>
    </div>
</template>
<script>
    import BackButton from "../../ui/BackButton";
    import AdminActionButtons from "../ActionButtons";
    import {fetchTicketById} from "../../../helpers";
    import AdminBookingsListTable from "../bookings/AdminBookingsListTable";
    import AdminTicketsListTable from "./AdminTicketsListTable";

    export default {
        name: 'AdminTicketsView',
        props: ['id'],
        components: {
            AdminTicketsListTable,
            AdminBookingsListTable,
            AdminActionButtons,
            BackButton
        },
        data() {
            return {
                loading: false,
                ticket: {}
            }
        },

        created() {
            this.fetchTicket();
        },

        methods: {
            fetchTicket() {
                this.loading = true;
                fetchTicketById(this.id)
                    .catch(err => {
                        this.$root.$emit('errorMessage', err.response.data.message);
                        return err.response;
                    })
                    .then(res => {
                        this.loading = false;
                        if (res.status === 200) {
                            this.ticket = res.data;
                        }
                    })
            }
        }
    }
</script>