<template>
    <table id="tickets-list-table" class="table">
        <thead>
        <tr>
            <th><input type="checkbox"></th>
            <th>Bilhete</th>
            <th>Evento</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Reserva Mínima</th>
            <th>Reserva Máxima</th>
            <th>Lotado</th>
            <th>Estado</th>
            <th>Reservas</th>
            <th>Confirmado</th>
            <th>Cancelado</th>
            <th>Preço</th>
            <th>Total</th>
            <th v-if="!hideOptions"></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="ticket of tickets">
            <td class="center"><input type="checkbox"></td>
            <td><router-link :to="{name: 'AdminTicketsView', params: { id: ticket.id }}">{{ ticket.name }}</router-link></td>
            <td><router-link :to="{name: 'AdminEventsTickets', params: {id: ticket.event.id}}">{{ ticket.event.title }}</router-link></td>
            <td>{{ ticket.description }}</td>
            <td>{{ ticket.quantity }}</td>
            <td>{{ ticket.min_reservation_quantity }}</td>
            <td>{{ ticket.max_reservation_quantity }}</td>
            <td class="center">{{ ticket.is_lotated ? 'SIM' : 'NÃO' }}</td>
            <td class="center">{{ ticket.status ? 'Publicado' : 'Não Publicado' }}</td>
            <td class="center">{{ ticket.total_bookings }}</td>
            <td class="center">{{ ticket.total_confirmed_bookings }}</td>
            <td class="center">{{ ticket.total_cancelled_bookings }}</td>
            <td class="right">{{ accounting.formatMoney(ticket.price) }}</td>
            <td class="right">{{ accounting.formatMoney(ticket.total_bookings_amount) }}</td>
            <td v-if="!hideOptions">
                <span @click="editTicket(ticket)"><icon-pencil width="16px" height="16px" fill="blue"></icon-pencil></span>
            </td>
        </tr>
        </tbody>
    </table>
</template>
<script>
    import IconPencil from "../../icons/IconPencil";

    export default {
        name: 'AdminTicketsListTable',
        components: {IconPencil},
        props: ['tickets', 'hideOptions', 'singleDisplay', 'hiddenColumns'],

        data() {
            return {
                accounting,
                dt: {}
            }
        },

        mounted() {
            this.initDataTables();
            this.$root.$on('searchContentEvent', this.searchInTable);
        },

        methods: {
            searchInTable(pl) {
                this.dt.search(pl).draw()
            },

            initDataTables() {
                this.dt = $('#tickets-list-table').DataTable({
                    dom: this.singleDisplay ? 't' : 'tp',
                    saveState: true,
                    order: [],
                    columnDefs: [
                        {targets: [0], orderable: false}
                    ]
                })
            },

            editTicket(ticket) {
                this.$emit('editTicketEvent', ticket);
            }
        }
    }
</script>