<template>
    <div :class="['content-wrapper', {loading: loading}]">
        <header>
            <back-button :handler="() => $router.push({ name: 'AdminBookingsList'})"/>
            <h3 class="title">Editar Reserva</h3>
        </header>
    </div>
</template>

<script>
    import BackButton from "../../ui/BackButton";
    export default {
        name: 'AdminBookingsEdit',
        components: {
            BackButton
        },

        data() {
            return {
                loading: false
            }
        }
    }
</script>