<template>
    <form @submit.prevent="saveForm" :class="['book-form', 'inline-form', {loading}]">
        <div class="title">Evento</div>
        <div :class="['form-group', {error: errors.event_id}]">
            <input-selector :ajax="fetchEvents"
                            :search="fetchEvents"
                            @change="data => {
                                event = data.event;
                                booking.event_id = data.value;
                                selectedTicket = {}
                            }"/>
            <small class="error-block" v-if="errors.event_id">{{ errors.event_id[0] }}</small>

            <div class="event-tickets" v-if="event && event.tickets">
                <div class="title">Escolha o Bilhete</div>

                <div class="full-width">
                    <button type="button" v-for="ticket of event.tickets"
                            :class="['btn ticket', { active: selectedTicket.id === ticket.id }]"
                            @click.prevent="e => toggleTicketInfo(ticket)"
                            :disabled="!ticket.status || ticket.quantity <= 0">
                        <icon-ticket width="24" height="38"/>
                        <span class="ticket-name">{{ ticket.name}}</span>
                        <span class="ticket-price">{{ ticket.quantity > 0 ? accounting.formatMoney(ticket.price) : 'Esgotado' }}</span>
                    </button>

                    <small class="error-block" v-if="errors.ticket_id">{{ errors.ticket_id[0] }}</small>
                </div>

                <div :class="['quantity-wrapper full-width', { disabled: !selectedTicket }]" v-if="selectedTicket.id">
                    <label>Quantidade</label>
                    <button type="button"
                            @click="ticket_quantity <= selectedTicket.min_reservation_quantity ? false : ticket_quantity--"
                            :disabled="!selectedTicket" class="btn">
                        <span>-</span>
                    </button>
                    <input type="text" v-model="ticket_quantity" :disabled="!selectedTicket" readonly>
                    <button type="button"
                            @click="ticket_quantity >= selectedTicket.max_reservation_quantity ? false : ticket_quantity++"
                            :disabled="!selectedTicket" class="btn">
                        <span>+</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="title">Informação de Contacto</div>
        <div :class="['form-group', {error: errors.contact_full_name}]">
            <label for="contact-full-name">Nome Completo <span class="required">*</span></label>
            <input type="text" id="contact-full-name" v-model="booking.contact_full_name"/>
            <small class="error-block" v-if="errors.contact_full_name">{{ errors.contact_full_name[0] }}</small>
        </div>

        <div :class="['form-group', {error: errors.contact_phone}]">
            <label for="contact-phone">Número de Telefone <span class="required">*</span></label>
            <input type="text" id="contact-phone" v-model="booking.contact_phone"/>
            <small class="error-block" v-if="errors.contact_phone">{{ errors.contact_phone[0] }}</small>
        </div>

        <div :class="['form-group', {error: errors.contact_document_number}]">
            <label for="contact-document-number">Número de Documento <span class="required">*</span></label>
            <input type="text" id="contact-document-number" v-model="booking.contact_document_number"/>
            <small class="error-block" v-if="errors.contact_document_number">{{ errors.contact_document_number[0] }}</small>
        </div>

        <div :class="['form-group', {error: errors.contact_email}]">
            <label for="contact-email">E-mail <span class="required">*</span></label>
            <input type="text" id="contact-email" v-model="booking.contact_email"/>
            <small class="error-block" v-if="errors.contact_email">{{ errors.contact_email[0] }}</small>
        </div>

        <div class="title" v-if="selectedTicket.id">Resumo</div>
        <div class="booking-resume" v-if="selectedTicket.id">
            <strong>Bilhete</strong>
            <div>{{ selectedTicket.name }}</div>
            <div>{{ event.title }}</div>
            <div>{{ event.location }}, {{ event.location_city }}</div>
            <div>{{ moment(event.begin_time).format('DD/MM/Y')  }} a partir das {{ moment(event.begin_time).format('HH:i') }}</div>
            <strong>Entradas</strong>: {{ ticket_quantity }}
            <hr>
            <div class="price">Valor: <strong>{{ accounting.formatMoney(selectedTicket.price) }}</strong></div>
            <div class="iva">IVA (17%): <strong>{{ accounting.formatMoney(selectedTicket.price * 0.17) }}</strong></div>
            <div class="total">Total: <strong>{{ accounting.formatMoney(selectedTicket.price * ticket_quantity * 1.17) }}</strong></div>
        </div>

        <div class="title">Pagamento</div>

        <div :class="['form-group radio-group', {error: errors.payment_method}]">
            <label for="payment-method-cash">
                <input type="radio" name="payment_method" id="payment-method-cash" value="cash" v-model="booking.payment_method"/> Cash
            </label>
            <label for="payment-method-deposit">
                <input type="radio" name="payment_method" id="payment-method-deposit" value="bank_deposit" v-model="booking.payment_method"/> Desposito/Transferência Bancária
            </label>
            <label for="payment-method-mpesa">
                <input type="radio" name="payment_method" id="payment-method-mpesa" value="mpesa" v-model="booking.payment_method"/> M-Pesa
            </label>

            <small class="error-block" v-if="errors.payment_method">{{ errors.payment_method[0] }}</small>
        </div>

        <div class="form-group full-width" v-if="booking.payment_method === 'mpesa'">
            <label for="payment-phone-number">Número de telemóvel M-Pesa</label>
            <input type="text" v-model="booking.payment_phone_number" id="payment-phone-number"/>
        </div>

        <div>
            <button class="btn btn-primary">Reservar</button>
        </div>
    </form>
</template>
<script>
    import InputSelector from "../../ui/InputSelector";
    import {fetchAdminEvents, storeBooking} from "../../../helpers";
    import IconTicket from "../../icons/IconTicket";

    export default {
        name: 'AdminBookingsForm',
        components: {IconTicket, InputSelector},
        data() {
            return {
                moment,
                accounting,
                loading: false,
                errors: {},
                booking: {
                    event_id: null,
                    contact_full_name: '',
                    contact_phone: '',
                    contact_email: '',
                    contact_document_number: '',
                    payment_method: 'cash',
                    ticket_id: null,
                    payment_phone_number: null
                },
                event: null,
                selectedTicket: {},
                ticket_quantity: 0
            }
        },

        created() {
            this.ticket_quantity = this.selectedTicket.min_reservation_quantity ? this.selectedTicket.min_reservation_quantity : 1
        },

        methods: {
            toggleTicketInfo(ticket) {
                this.selectedTicket = ticket;
                this.ticket_quantity = this.selectedTicket.min_reservation_quantity;
            },

            fetchEvents(params) {
                return fetchAdminEvents({
                    fetch_all: 0,
                    load: 'tickets',
                    ...params
                })
                    .catch(err => {
                        this.errors.event_id = err.response.data.message;
                        return err.response;
                    })
                    .then(res => {
                        return _.map(res.data.events, event => {
                            return {
                                label: event.title,
                                value: event.id,
                                event
                            }
                        })
                    });
            },

            saveForm() {
                this.loading = true;
                this.booking.ticket_id = this.selectedTicket.id;
                this.booking.allowed_entrances = this.ticket_quantity;

                storeBooking(this.booking)
                    .catch(err => {
                        this.$root.$emit('errorMessage', err.response.data.message);
                        this.errors = err.response.data.errors ? err.response.data.errors : {};
                        this.loading = false;
                        return err.response;
                    })
                    .then(res => {
                        if (res.status === 200) {
                            this.$root.$emit('successMessage', res.data.message);
                            let booking = res.data.booking;
                            this.$router.push({name: 'AdminBookingsView', params: {number: booking.number}})
                        }
                        this.loading = false;
                    });
            }
        }
    }
</script>
<style lang="scss" scoped>
    .book-form {
        max-width: 850px;
        margin: 0 auto 50px;

        .quantity-wrapper {
            > * {
                width: auto;
                flex-grow: 1;
            }

            button {
                max-width: 50px;
                height: 40px !important;
                min-width: 0 !important;
            }

            input {
                margin: 0 10px;
                text-align: center;
            }

            label {
                width: 100%;
                margin-top: 30px;
            }
        }

        .event-tickets {
            display: flex;
            flex-flow: row wrap;
            width: calc(100% + 10px);
            margin-left: -5px;

            .ticket {
                flex-grow: 1;
                margin-right: 5px;
                margin-left: 5px;
            }

            .full-width {
                width: 100%;
                display: flex;
                flex-flow: row wrap;
            }

            button {
                background-color: #FFF;
                border: 1px solid #999999;
                padding: 0 10px;
                font-weight: normal;
                margin-bottom: 5px;
                text-align: center;
                height: 45px;
                min-width: 200px;
                font-size: 1.8em;
                display: flex;
                flex-flow: row nowrap;
                width: auto;
                justify-content: center;
                align-items: center;

                &.active {
                    background-color: #D00202;
                    color: #ffffff;
                    box-shadow: inset 0 0 0 2px #ffffff;

                    svg {
                        fill: #ffffff;
                    }
                }

                svg {
                    float: left;
                    margin-right: 10px;
                }

                &:disabled {
                    background-color: #CCCCCC;
                }

                .ticket-name {
                    float: left;
                    flex-grow: 1;
                    text-align: left;
                }

                .ticket-price {
                    float: right;
                }
            }
        }

        .booking-resume {
            width: 100%;
        }
    }

</style>