<template>
    <div :class="['content-wrapper']">
        <header>
            <back-button :handler="() => $router.push('/admin/bookings')"/>

            <admin-action-buttons
                    :download="download"
                    :edit="() => this.$router.push('/admin/bookings/' + booking.number + '/edit')"
                    :cancel="cancelBooking"
                    :refresh="fetchBooking"
                    :print="print"/>
        </header>

        <div :class="['content', {loading: loading}]">
            <h3>Informação</h3>
            <admin-bookings-list-table
                    v-if="booking"
                    :bookings="[booking]"
                    :single-display="true"
                    :hidden-columns="['row_select']"
                    show-columns="['owner','ticket','allowed_entrances','transaction', 'transaction_amount']"/>
        </div>
    </div>
</template>

<script>
    import {fetchBookingByNumber} from "../../../helpers";
    import BackButton from "../../ui/BackButton";
    import AdminActionButtons from "../ActionButtons";
    import AdminBookingsListTable from "./AdminBookingsListTable";

    export default {
        name: 'AdminBookingsView',
        components: {AdminBookingsListTable, AdminActionButtons, BackButton},
        props: ['number'],

        data () {
            return {
                loading: false,
                booking: null
            }
        },

        created () {
            this.fetchBooking();
        },

        methods: {
            print () {
                window.open('print', '_blank', 'width=850px');
            },

            download () {
                window.open('download', '_blank', 'width=850px');
            },

            cancelBooking () {},

            fetchBooking () {
                this.loading = true;

                fetchBookingByNumber(this.number, {
                    load: [
                        'event',
                        'transaction',
                        'owner',
                        'ticket'
                    ].join(',')
                })
                    .then(res => {
                        this.booking = res.data
                    })
                    .catch(err => this.$root.$emit('errorMessage', err.response.data.message))
                    .then(() => this.loading = false);
            }
        }
    }
</script>