<template>
    <transition name="fade" mode="out-in" appear>
        <router-view @loading="loading = true" @loading-done="loading = false"></router-view>
    </transition>
</template>
<script>
    export default {
      name: 'AdminBookingsIndex',
      data () {
        return {
          loading: false
        }
      }
    }
</script>