<template>
    <table id="eventon-booking-list" class="table"></table>
</template>
<script>
    import {deleteBooking} from "../../../helpers";
    const ls = localStorage;

    export default {
        name: 'AdminBookingsListTable',
        props: ['bookings', 'singleDisplay', 'showColumns'],

        data () {
            return {
                dt: {},
                columns: []
            }
        },

        created() {
            if (!ls.getItem('bookingsListTableShowColumns')) {
                ls.setItem('bookingsListTableShowColumns', JSON.stringify(this.showColumns));
            }

            this.columns = this.$store.state.dataTables.bookingsListTable.showColumns;
        },

        mounted () {
            this.initDataTables();
            this.initColumnsDisplay();

            this.$root.$on('searchContentEvent', this.searchInTable);
            this.$root.$on('togleColumnsVisibility', (column, visible) => {
                this.toggleColumnVisibility(column, visible);
                this.updateStoredColumnsState();
            });
        },

        methods: {
            updateStoredColumnsState() {
                ls.setItem('bookingsListTableShowColumns', JSON.stringify(this.columns));
            },

            initColumnsDisplay() {
                _.each(this.columns, (col, k) => {
                    this.toggleColumnVisibility(k, col.visible);
                })
            },

            toggleColumnVisibility(column, visible) {
                this.columns[column].visible = visible;
                return this.dt.column(column + ':name').visible(visible);
            },

            searchInTable(searchQuery) {
                this.dt.search(searchQuery).draw();
            },

            initDataTables() {
                this.dt = $('#eventon-booking-list').DataTable({
                    dom: this.singleDisplay ? 't' : 'tp',
                    saveState: true,
                    order: [],
                    data: this.bookings,
                    responsive: true,
                    createdRow: (row, data) => {
                        if (!this.singleDisplay) {
                            row.addEventListener('contextmenu', (e) => {
                                e.preventDefault();
                                this.initContextMenu(data);
                            });
                        }
                    },
                    columns: [
                        {
                            title: '<input type="checkbox"/>',
                            render: () => `<input type="checkbox"/>`,
                            className: 'center',
                            orderable: false,
                            name: 'row_select',
                        },
                        {
                            title: 'Evento',
                            data: 'event',
                            name: 'event',
                            render: event => event ? `<a href="/admin/events/${event.id}/bookings">${event.title}</a>` : ''
                        },
                        {
                            title: 'Bilhete Número',
                            data: 'number',
                            name: 'number',
                            render: number => `<a href="/admin/bookings/${number}/view">${number}</a>`,
                        },
                        {
                            title: 'Bilhete Tipo',
                            data: 'ticket',
                            name: 'ticket_name',
                            render: t => t ? t.name : ''
                        },
                        {
                            title: 'Entradas',
                            data: 'allowed_entrances',
                            name: 'allowed_entrances',
                        },
                        {
                            title: 'Nome',
                            data: 'contact_full_name',
                            name: 'contact_full_name',
                        },
                        {
                            title: 'E-mail',
                            data: 'contact_email',
                            name: 'contact_email',
                        },
                        {
                            title: 'Contacto',
                            data: 'contact_phone',
                            name: 'contact_phone',
                        },
                        {
                            title: '# Documento',
                            data: 'contact_document_number',
                            name: 'contact_document_number'
                        },
                        {
                            title: 'Data de Reserva',
                            data: 'created_at',
                            name: 'created_at',
                            render: date => moment(date).format('DD/MM/YYYY HH:mm')
                        },
                        {
                            title: 'Estado',
                            className: 'center',
                            data: 'status',
                            name: 'status',
                            render: status => status === 1 ? 'Confirmado' : (status === 2 ? 'Cancelado' : 'Pendente')
                        },
                        {
                            title: 'Usuário',
                            data: 'owner',
                            name: 'owner_email',
                            render: o => o ? o.email : ''
                        },
                        {
                            title: '# Transação',
                            data: 'transaction',
                            name: 'transaction_status',
                            render: t => t && t.status === 1 ? 'Sucesso' : 'Falhou'
                        },
                        {
                            title: 'Valor',
                            data: 'transaction',
                            name: 'transaction_amount',
                            render: t => t ? accounting.formatMoney(t.amount) : ''
                        }
                    ]
                })
            },

            deleteBooking(id)  {
                return deleteBooking(id)
                    .then(res => {
                        this.$root.$emit('successMessage', res.data.message);
                        this.$emit('refreshBookingsList');
                    })
                    .catch(err => this.$root.$emit('errorMessage', err.response.data.message));
            },

            initContextMenu (booking) {
                let baseUri = `/admin/bookings/${booking.number}`;

                contextMenu.menu.view.disabled = false;
                contextMenu.menu.view.select = () => {
                    this.$router.push(baseUri + '/view');
                };

                contextMenu.menu.edit.disabled = false;
                contextMenu.menu.edit.select = () => this.$router.push(baseUri + '/edit');

                contextMenu.menu.delete.disabled = false;
                contextMenu.menu.delete.select = () => this.deleteBooking(booking.number);

                contextMenu.menu.print.disabled = false;
                contextMenu.menu.print.select = () => window.open(baseUri + '/print', '_blank', 'width=1000px');

                contextMenu.show();
            }
        }
    }
</script>