<template>
    <div :class="['content-wrapper', {loading: loading}]">
        <header>
            <div class="title full-width">Nova Reserva</div>
        </header>

        <div class="content">
            <admin-bookings-form/>
        </div>
    </div>
</template>
<script>
    import AdminBookingsForm from "./AdminBookingsForm";
    import BackButton from "../../ui/BackButton";

    export default {
      name: 'AdminBookingsCreate',

      data () {
        return {
          loading: false
        }
      },

      components: {
        BackButton,
        AdminBookingsForm
      }
    }
</script>