<template>
    <div :class="['content-wrapper']">
        <header>
            <list-search-form placeholder="Procurar por reservas"/>

            <div class="statistics">
                <span>{{ info.confirmed }} Confirmados</span>
                <span>{{ info.pending }} Pendentes</span>
                <span>{{ info.cancelled }} Cancelados</span>
                <span>{{ info.total }} Total</span>
                <span><a href="/admin/reports/bookings">Ver mais</a></span>
            </div>

            <admin-action-buttons
                    :refresh="fetchBookings"
                    :add="handleAddClickAction"
                    :settings="() => options.show = !options.show"/>
        </header>

        <div :class="['content', {loading: loading}]">
            <admin-bookings-list-table
                    :bookings="bookings"
                    v-if="bookings.length"
                    @refreshBookingsList="fetchBookings" :show-columns="options.showColumns"/>
        </div>

        <aside id="options-sidebar" v-if="options.show">
            <div class="group">
                <div class="title">Mostrar Colunas</div>
                <ol v-if="options.showColumns">
                    <li v-for="(column, k) of options.showColumns">
                        <label :for="k">
                            <input type="checkbox"
                                   :id="k"
                                   v-model="column.visible"
                                   @change="() => checkboxChange(k, column)">
                            {{ column.title ? column.title : k }}
                        </label>
                    </li>
                </ol>
            </div>
        </aside>
    </div>
</template>
<script>
    import ListSearchForm from '../SearchForm';
    import AdminActionButtons from "../ActionButtons";
    import AdminBookingsListTable from "./AdminBookingsListTable";
    import {fetchBookings} from "../../../helpers";

    export default {
        name: 'AdminBookingsList',
        data () {
            return {
                loading: false,
                bookings: [],
                info: {},
                options: {
                    showColumns: this.$store.state.dataTables.bookingsListTable.showColumns,
                    hideColumns: [],
                    show: false
                }
            }
        },

        created () {
            this.fetchBookings();
        },

        methods: {
            checkboxChange(k, column) {
                this.$root.$emit('togleColumnsVisibility', k, column.visible);
            },

            fetchBookings() {
                this.loading = true;
                fetchBookings('',{ load: 'owner,ticket,transaction' })
                    .then(res => {
                        this.bookings = res.data.bookings;
                        this.info = res.data.info;
                    })
                    .catch(err => {
                        this.$root.$emit('errorMessage', err.response.data.message);
                    })
                    .then(() => {
                        this.loading = false;
                    })
            },

            handleAddClickAction() {
                this.$router.push({ name: 'AdminBookingsCreate' });
            }
        },

        components: {
            AdminBookingsListTable,
            AdminActionButtons,
            ListSearchForm
        }
    }
</script>
<style lang="scss" scoped>
    #options-sidebar {
        position: absolute;
        right: 0;
        top: 60px;
        height: calc(100% - 60px);
        width: 320px;
        background-color: #f8f8f8;
        z-index: 1000;
        padding: 8px 15px;

        .group {
            .title {
                font-size: 18px;
                margin-bottom: 10px;
            }
        }

        ol {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                padding: 5px 0;
            }
        }
    }
</style>