<!--
  - @copyright 2020.
  - @author Amandio Khuta Nhamande <amandio16@gmail.com>
  - @license MIT
  -
  -->

<template>
    <div :class="['content-wrapper', {loading: loading}]">
        <h1>Meus Eventos</h1>

        <table>
            <thead>
            <tr>
                <th>Evento</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="event of events">
                <td>{{ event.title }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
  import {fetchPromoterEvents} from "../../helpers";

  export default {
    name: 'PromoterDashboard',
    data() {
      return {
        loading: false,
        events: [],
        accounting: accounting
      }
    },

    created() {
      fetchPromoterEvents(1)
        .then((res) => {
          this.events = res.data;
        })
        .catch(console.error);
    }
  }
</script>