<!--
  - @copyright 2020.
  - @author Amandio Khuta Nhamande <amandio16@gmail.com>
  - @license MIT
  -
  -->

<template>
    <div :class="['content-wrapper', {loading: loading}]">
        <h1>Resumo de Reservas</h1>

        <table>
            <thead>
            <tr>
                <th>Evento</th>
                <th>Reservas</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="event of bookedEvents">
                <td>{{ event.title }}</td>
                <td>{{ event.booking_total }}</td>
                <td>{{ accounting.formatMoney(event.transaction_total) }}</td>
            </tr>
            </tbody>
        </table>

        <h1>Total de Rendimento</h1>
    </div>
</template>
<script>
    import {fetchPromoterBookedEvents} from "../../helpers";

    export default {
      name: 'PromoterDashboard',
      data() {
        return {
          loading: false,
          bookedEvents: [],
          accounting: accounting
        }
      },

      created() {
        fetchPromoterBookedEvents(1)
          .then((res) => {
            this.bookedEvents = res.data;
          })
          .catch(console.error);
      }
    }
</script>