<template>
    <div :class="['content-wrapper', { loading: loading }]">
        <header>
            <h1 class="title" style="grid-column: 1 / -1">Painel de Bordo</h1>
        </header>

    </div>
</template>
<script>
    export default {
      name: 'AdminDashboardIndex',
      data() {
        return {
          loading: false
        }
      },

      created() {},

      methods: {}
    }
</script>
<style lang="scss" scoped>
    table {
        width: auto;
    }
</style>